<div *jhiHasAnyAuthority="['ROLE_CANDIDATE']">
    <main class="page project-page">
        <section class="portfolio-block project">
            <div class="row mr-5 ml-5 mb-3">
                <div class="col">
                        <p jhiTranslate="gradzcircleApp.candidateSkills.detail.title" class="float-left h3 font-weight-bold"></p>
                        <button class="btn btn-outline-primary btn-sm border-primary float-right" type="button"
                        jhiTranslate="gradzcircleApp.candidateSkills.capturedSkill" 
							[routerLink]="['/', { outlets: { popup: 'new-candidate-skill'} }]">Button</button>
                </div>
            </div>
            <div class="container">
                <div class="image skill-img"></div>
				<div class="row" *ngIf="candidateSkills">
					
						<div class="col-md-4 col-sm-6 col-12 mb-3" *ngFor="let candidateSkill of candidateSkills">
							{{candidateSkill.skillName}} <span class="fa fa-remove action-delete" ngbTooltip="Remove"
								(click)="setRemoveIdForSkill(candidateSkill.id)"
								[routerLink]="['/', { outlets: { popup: 'candidate-skills/delete'} }]">
							</span> 
							
						</div>
						
					
				</div>
			<div class="mb-5"></div>
            </div>
        </section>
    </main>


</div>

<div  *jhiHasAnyAuthority="['ROLE_ADMIN']">
    <h2>
        <span jhiTranslate="gradzcircleApp.candidateSkills.home.title">Candidate Skills</span>
        <button class="btn btn-primary float-right jh-create-entity create-candidate-skills" [routerLink]="['/', { outlets: { popup: ['candidate-skills-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gradzcircleApp.candidateSkills.home.createLabel">
            Create new Candidate Skills
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gradzcircleApp.candidateSkills.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="candidateSkills">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gradzcircleApp.candidateSkills.skill">Skill</span></th>
            <th><span jhiTranslate="gradzcircleApp.candidateSkills.candidate">Candidate</span></th>
           <!--  <th><span jhiTranslate="gradzcircleApp.candidateSkills.skills">Skills</span></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let candidateSkill of candidateSkills ;trackBy: trackId">
                <td><a [routerLink]="['../candidate-skills', candidateSkill.id ]">{{candidateSkill.id}}</a></td>
                <td>{{candidateSkill.skills[0].skill}}</td>
                <td>
                    <div *ngIf="candidateSkill.candidate">
                        <a [routerLink]="['../candidate', candidateSkill.candidate?.id ]" >{{candidateSkill.candidate?.id}}</a>
                    </div>
                </td>
               <!--   <td>
                    <div *ngIf="candidateSkills.skills">
                        <a [routerLink]="['../skills', candidateSkills.skills?.id ]" >{{candidateSkills.skills?.id}}</a>
                    </div>
                </td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../candidate-skills', candidateSkill.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'candidate-skills/'+ candidateSkill.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'candidate-skills/'+ candidateSkill.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
