<div *jhiHasAnyAuthority="['ROLE_CANDIDATE']">
<!--  {{candidateEducations|json}}-->
	<main class="page project-page">
    <section class="portfolio-block project">
    		<div class="row mr-5 ml-5">
    			<div class="col">
                    <p jhiTranslate="gradzcircleApp.candidateEducation.detail.title" class="float-left h3 font-weight-bold"></p>
                    <button class="btn btn-outline-primary btn-sm border-primary float-right" type="button" 
    					jhiTranslate="gradzcircleApp.candidateEducation.home.add" 
						[routerLink]="['/education', { outlets: { popup: 'new-candidate-education' } }]">Button</button></div>
		</div>
        <div class="container">
        		<div *ngIf="primaryCandidateEducation">
		            <div class="heading">
		                <h2>{{primaryCandidateEducation.qualification[0].qualification}} in {{primaryCandidateEducation.course[0].course}}</h2>
		                <h6>From</h6>
		                <h2>{{primaryCandidateEducation.college[0].collegeName}}, {{primaryCandidateEducation.college[0].university.universityName}}</h2>
		                <h5>{{primaryCandidateEducation.grade?"GPA "+primaryCandidateEducation.grade+"/10":primaryCandidateEducation.percentage+"%"}}</h5>
		                <h5>{{primaryCandidateEducation.educationFromDate | date:'mediumDate'}} - {{primaryCandidateEducation.educationToDate?(primaryCandidateEducation.educationToDate|date:'mediumDate'): 'Till Date' }}</h5>
		                <h6>
		                		<span *ngIf="primaryCandidateEducation.highestQualification; else notHighest">Highest Qualification</span>
		                		<ng-template #notHighest>Not Highest Qualification</ng-template>
		                		<span  ngbTooltip="Edit" (click)="setEducationRouteParam(primaryCandidateEducation.id)"
														[routerLink]="['/education', { outlets: { popup: 'candidate-education/edit'} }]"><fa-icon class="action-edit fa-xs" [icon]="'pencil-alt'"></fa-icon></span>
		                		<span ngbTooltip="Remove" (click)="setEducationRouteParam(primaryCandidateEducation.id)"
														[routerLink]="['/education', { outlets: { popup: 'candidate-education/delete'} }]">
										<fa-icon class="action-delete fa-xs" [icon]="'times'"></fa-icon>					
							</span>
		                </h6>
		                <div></div>
		            </div>
		           
		            	<div class="image education-img" ></div>
		            	<div class="row mr-5 ml-5">
						    <div class="col">
						        <h2>Projects<button class="btn btn-outline-primary btn-sm border-primary float-right" 
						        jhiTranslate="gradzcircleApp.candidateEducation.home.addProject" 
						        [routerLink]="['/education', { outlets: { popup: 'candidate-education-project-new'} }]"
															(click)="setEducationRouteParam(primaryCandidateEducation.id)"
															type="button">Button</button></h2>
						    </div>
					</div>	
		            	<div *ngIf="primaryCandidateEducation?.projects && primaryCandidateEducation?.projects?.length>0">
		            		

					<div *ngFor="let candidateProject of primaryCandidateEducation.projects">
						<hr />
						<div class="row">
							<div class="col-12 col-md-6 offset-md-1 info">
								<h4>
									Project Name 
									<span  style="font-size: 1rem" ngbTooltip="Edit" 
											[routerLink]="['/education', { outlets: { popup: 'candidate-project/edit'} }]"
																				(click)="setProjectRouteParam(candidateProject.id)">
													<fa-icon class="action-edit fa-xs" [icon]="'pencil-alt'"></fa-icon>
									</span>
									<span  style="font-size: 1rem" ngbTooltip="Remove" 
											[routerLink]="['/education', { outlets: { popup: 'candidate-project/delete'} }]"
																				(click)="setProjectRouteParam(candidateProject.id)">
													 <fa-icon class="action-delete fa-xs" [icon]="'times'"></fa-icon>
									</span>
								</h4>
								<h6>{{candidateProject.projectTitle}}</h6>
								<h4>Project Description</h4>
								<h6 [innerHtml]="candidateProject.projectDescription"></h6>
								<h4>My Contribution</h4>
								<h6 [innerHtml]="candidateProject.contributionInProject"></h6>
							</div>
							<div class="col-12 col-md-3 offset-md-1 meta">
								<div class="tags">
									<span class="meta-heading">Project Type - {{candidateProject.projectType =='SELF_INTEREST'?'Self Interest':candidateProject.projectType =='ACADEMIC'?'Academic':''}}</span>
									<span class="meta-heading">Start Date</span><span>{{candidateProject.projectStartDate}}</span>
									<span class="meta-heading">End Date</span> <span
										*ngIf="!candidateProject.projectEndDate;else showEndDate">Still
										working on it</span>
									<ng-template #showEndDate> <span>{{candidateProject.projectEndDate}}</span>
									</ng-template>
								</div>
							</div>
						</div>
					</div>
				</div>
		       </div>  
           	<div *ngIf="candidateEducationsForDisplay && candidateEducationsForDisplay?.length>0">
	           	
		            <div class="more-projects ">
		                <h3 class="text-center">Previous Education</h3>
		                <div class="row gallery">
		                <div *ngFor="let education of candidateEducationsForDisplay" >
		                    <div class="project-card-no-image">
							    <h3>{{education.qualification[0].qualification}} in {{education.course[0].course}} </h3>
							    <h5>{{education.college[0].collegeName}}</h5><a class="btn btn-outline-primary btn-sm" role="button" 
							    			(click)="setPrimaryByUserSelection(education.id)">See More</a>
							    <div *ngIf="education.highestQualification" class="tags"><h6>Highest Qualification</h6></div>
							</div>
		                </div>
		            </div>
		         </div>   
	         </div>
	         <div class="mb-5"></div>
        </div>
    </section>
</main>
</div>



<div *jhiHasAnyAuthority="['ROLE_ADMIN']">
	<h2>
		<span jhiTranslate="gradzcircleApp.candidateEducation.home.title">Candidate
			Educations</span>
		<button
			class="btn btn-primary float-right jh-create-entity create-candidate-education"
			[routerLink]="['/', { outlets: { popup: ['candidate-education-new'] } }]">
			<span class="fa fa-plus"></span> <span class="hidden-sm-down"
				jhiTranslate="gradzcircleApp.candidateEducation.home.createLabel">
				Create new Candidate Education </span>
		</button>
	</h2>
	<jhi-alert></jhi-alert>
	<div class="row">
		<div class="col-sm-12">
			<form name="searchForm" class="form-inline">
				<div class="input-group w-100 mt-3">
					<input type="text" class="form-control" [(ngModel)]="currentSearch"
						id="currentSearch" name="currentSearch"
						placeholder="{{ 'gradzcircleApp.candidateEducation.home.search' | translate }}">
					<button class="input-group-addon btn btn-pill btn-info"
						(click)="search(currentSearch)">
						<span class="fa fa-search"></span>
					</button>
					<button class="input-group-addon btn btn-pill btn-danger" (click)="clear()"
						*ngIf="currentSearch">
						<span class="fa fa-trash-o"></span>
					</button>
				</div>
			</form>
		</div>
	</div>
	<br />
	<div class="table-responsive" *ngIf="candidateEducations">
		<table class="table table-striped">
			<thead>
				<tr>
					<th><span jhiTranslate="global.field.id">ID</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEducation.grade">Grade</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEducation.educationFromDate">Education
							From Date</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEducation.educationToDate">Education
							To Date</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEducation.isPursuingEducation">Is
							Pursuing Education</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEducation.gradeScale">Grade
							Scale</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEducation.highestQualification">Highest
							Qualification</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEducation.roundOfGrade">Round
							Of Grade</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEducation.gradeDecimal">Grade
							Decimal</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEducation.capturedCourse">Captured
							Course</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEducation.capturedQualification">Captured
							Qualification</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEducation.capturedCollege">Captured
							College</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEducation.capturedUniversity">Captured
							University</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEducation.percentage">Percentage</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEducation.scoreType">Score
							Type</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEducation.educationDuration">Education
							Duration</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEducation.candidate">Candidate</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEducation.qualification">Qualification</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEducation.course">Course</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEducation.college">College</span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr
					*ngFor="let candidateEducation of candidateEducations ;trackBy: trackId">
					<td><a
						[routerLink]="['../candidate-education', candidateEducation.id ]">{{candidateEducation.id}}</a></td>
					<td>{{candidateEducation.grade}}</td>
					<td>{{candidateEducation.educationFromDate |
						date:'mediumDate'}}</td>
					<td>{{candidateEducation.educationToDate | date:'mediumDate'}}</td>
					<td>{{candidateEducation.isPursuingEducation}}</td>
					<td>{{candidateEducation.gradeScale}}</td>
					<td>{{candidateEducation.highestQualification}}</td>
					<td>{{candidateEducation.roundOfGrade}}</td>
					<td>{{candidateEducation.gradeDecimal}}</td>
					<td>{{candidateEducation.capturedCourse}}</td>
					<td>{{candidateEducation.capturedQualification}}</td>
					<td>{{candidateEducation.capturedCollege}}</td>
					<td>{{candidateEducation.capturedUniversity}}</td>
					<td>{{candidateEducation.percentage}}</td>
					<td>{{candidateEducation.scoreType}}</td>
					<td>{{candidateEducation.educationDuration}}</td>

					<td>
						<div *ngIf="candidateEducation.candidate">
							<a
								[routerLink]="['../candidate', candidateEducation.candidate?.id ]">{{candidateEducation.candidate?.id}}</a>
						</div>
					</td>
					<td>
						<div *ngIf="candidateEducation.qualification">
							<a
								[routerLink]="['../qualification', candidateEducation.qualification?.id ]">{{candidateEducation.qualification?.id}}</a>
						</div>
					</td>
					<td>
						<div *ngIf="candidateEducation.course">
							<a [routerLink]="['../course', candidateEducation.course?.id ]">{{candidateEducation.course?.id}}</a>
						</div>
					</td>
					<td>
						<div *ngIf="candidateEducation.college">
							<a [routerLink]="['../college', candidateEducation.college?.id ]">{{candidateEducation.college?.id}}</a>
						</div>
					</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="submit"
								[routerLink]="['../candidate-education', candidateEducation.id ]"
								class="btn btn-info btn-sm">
								<span class="fa fa-eye"></span> <span class="d-none d-md-inline"
									jhiTranslate="entity.action.view">View</span>
							</button>
							<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'candidate-education/'+ candidateEducation.id + '/edit'} }]"
								replaceUrl="true" class="btn btn-primary btn-sm">
								<span class="fa fa-pencil"></span> <span
									class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
							</button>
							<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'candidate-education/'+ candidateEducation.id + '/delete'} }]"
								replaceUrl="true" class="btn btn-danger btn-sm">
								<span class="fa fa-remove"></span> <span
									class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>