<div *jhiHasAnyAuthority="['ROLE_CANDIDATE']">
<!--  {{candidateEmployments|json}}-->
	 <main class="page project-page">
    <section class="portfolio-block project">
    		<div class="row mr-5 ml-5">
    			<div class="col">
                    <p jhiTranslate="gradzcircleApp.candidateEmployment.detail.title" class="float-left h3 font-weight-bold"></p>
                    <button class="btn btn-outline-primary btn-sm border-primary float-right" type="button" 
    					jhiTranslate="gradzcircleApp.candidateEmployment.home.add" 
						[routerLink]="['/', { outlets: { popup: 'new-candidate-employment' } }]">Button</button>
			</div>
		</div>
        <div class="container">
        		<div *ngIf="primaryCandidateEmployment">
		            <div class="heading">
		            		<h2>{{primaryCandidateEmployment.jobTitle}}&nbsp;<small style="font-size:1rem;">at</small>&nbsp;{{primaryCandidateEmployment.employerName}}</h2>
		            		<h4>{{primaryCandidateEmployment.jobType}}&nbsp;<small style="font-size:1rem;">-</small>&nbsp;{{primaryCandidateEmployment.employmentType}}</h4>
		            		<h6>{{primaryCandidateEmployment.employmentStartDate | date:'mediumDate'}}&nbsp;<small style="font-size:1rem;">-</small>&nbsp;{{primaryCandidateEmployment.employmentEndDate?(primaryCandidateEmployment.employmentEndDate|date:'mediumDate'): 'Till Date'}}</h6>
		                <h6>
		                		<span  ngbTooltip="Edit" (click)="setEditDeleteRouteParams(primaryCandidateEmployment.id)"
														[routerLink]="['/', { outlets: { popup: 'candidate-employment/edit'} }]">
											<fa-icon class="action-edit fa-xs" [icon]="'pencil-alt'"></fa-icon>
							</span>
		                		<span  ngbTooltip="Remove" (click)="setEditDeleteRouteParams(primaryCandidateEmployment.id)"
														[routerLink]="['/', { outlets: { popup: 'candidate-employment/delete'} }]">
											<fa-icon class="action-delete fa-xs" [icon]="'times'"></fa-icon>				
							</span>
		                </h6>
		            </div>
		           	
		            	<div class="image employment-img" ></div>
				<div class="row mr-5 ml-5">
					<div class="col info">
						<h3 jhiTranslate="gradzcircleApp.candidateEmployment.jobDescription">Description</h3>
						<span class="font-size:1rem;" [innerHtml]="primaryCandidateEmployment.jobDescription"></span>
					</div>
				</div>
				<div class="row mr-5 ml-5">
						    <div class="col">
						        <h2>Projects<button class="btn btn-outline-primary btn-sm border-primary float-right" 
						        jhiTranslate="gradzcircleApp.candidateEducation.home.addProject" 
						        [routerLink]="['/', { outlets: { popup: 'candidate-employment-project-new' }}]"
														(click)="setEditDeleteRouteParams(primaryCandidateEmployment.id)"
															type="button">Button</button></h2>
						    </div>
					</div>	
		            	<div *ngIf="primaryCandidateEmployment?.projects && primaryCandidateEmployment?.projects?.length>0">
		            		

					<div *ngFor="let candidateProject of primaryCandidateEmployment.projects">
						<hr />
						<div class="row">
							<div class="col-12 col-md-6 offset-md-1 info">
								<h4>
									Project Name 
									<span style="font-size: 1rem" ngbTooltip="Edit" 
											[routerLink]="['/', { outlets: { popup: 'candidate-project/edit'} }]"
																				(click)="setProjectRouteParam(candidateProject.id)">
											<fa-icon class="action-edit fa-xs" [icon]="'pencil-alt'"></fa-icon>			
									</span>
									<span style="font-size: 1rem" ngbTooltip="Remove" 
											[routerLink]="['/', { outlets: { popup: 'candidate-project/delete'} }]"
																				(click)="setProjectRouteParam(candidateProject.id)">
										<fa-icon class="action-delete fa-xs" [icon]="'times'"></fa-icon>	
									</span>
								</h4>
								<h6>{{candidateProject.projectTitle}}</h6>
								<h4>Project Description</h4>
								<h6 [innerHtml]="candidateProject.projectDescription"></h6>
								<h4>My Contribution</h4>
								<h6 [innerHtml]="candidateProject.contributionInProject"></h6>
							</div>
							<div class="col-12 col-md-3 offset-md-1 meta">
								<div class="tags">
									<span class="meta-heading">Start Date</span><span>{{candidateProject.projectStartDate}}</span>
									<span class="meta-heading">End Date</span> <span
										*ngIf="!candidateProject.projectEndDate;else showEndDate">Still
										working on it</span>
									<ng-template #showEndDate> <span>{{candidateProject.projectEndDate}}</span>
									</ng-template>
								</div>
							</div>
						</div>
					</div>
				</div>
		       </div>  
           	<div *ngIf="candidateEmploymentsForDisplay && candidateEmploymentsForDisplay?.length>0">
	           	
		            <div class="more-projects ">
		                <h3 class="text-center">Previous Education</h3>
		                <div class="row gallery">
		                <div *ngFor="let employment of candidateEmploymentsForDisplay" >
		                    <div class="project-card-no-image">
							    <h3>{{employment.jobTitle}} </h3>
							    <h5>{{employment.employerName}}</h5><a class="btn btn-outline-primary btn-sm" role="button" 
							    			(click)="setPrimaryByUserSelection(employment.id)">See More</a>
							    <div class="tags ml-5">{{employment.jobType}}</div>
							</div>
		                </div>
		            </div>
		         </div>   
	         </div>
	         <div class="mb-5"></div>
        </div>
    </section>
</main>
</div>

<div *jhiHasAnyAuthority="['ROLE_ADMIN']">
	<h2>
		<span jhiTranslate="gradzcircleApp.candidateEmployment.home.title">Candidate
			Employments</span>
		<button
			class="btn btn-primary float-right jh-create-entity create-candidate-employment"
			[routerLink]="['/', { outlets: { popup: ['candidate-employment-new'] } }]">
			<span class="fa fa-plus"></span> <span class="hidden-sm-down"
				jhiTranslate="gradzcircleApp.candidateEmployment.home.createLabel">
				Create new Candidate Employment </span>
		</button>
	</h2>
	<jhi-alert></jhi-alert>
	<div class="row">
		<div class="col-sm-12">
			<form name="searchForm" class="form-inline">
				<div class="input-group w-100 mt-3">
					<input type="text" class="form-control" [(ngModel)]="currentSearch"
						id="currentSearch" name="currentSearch"
						placeholder="{{ 'gradzcircleApp.candidateEmployment.home.search' | translate }}">
					<button class="input-group-addon btn btn-info"
						(click)="search(currentSearch)">
						<span class="fa fa-search"></span>
					</button>
					<button class="input-group-addon btn btn-danger" (click)="clear()"
						*ngIf="currentSearch">
						<span class="fa fa-trash-o"></span>
					</button>
				</div>
			</form>
		</div>
	</div>
	<br />
	<div class="table-responsive" *ngIf="candidateEmployments">
		<table class="table table-striped">
			<thead>
				<tr>
					<th><span jhiTranslate="global.field.id">ID</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEmployment.location">Location</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEmployment.jobTitle">Job
							Title</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEmployment.employerName">Employer
							Name</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEmployment.employmentStartDate">Employment
							Start Date</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEmployment.employmentEndDate">Employment
							End Date</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEmployment.employmentDuration">Employment
							Duration</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEmployment.isCurrentEmployment">Is
							Current Employment</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEmployment.jobDescription">Job
							Description</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEmployment.candidate">Candidate</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEmployment.employmentType">Employment
							Type</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEmployment.country">Country</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateEmployment.jobType">Job
							Type</span></th>
					<th></th>
				</tr>
			</thead>
			<tbody *ngIf="candidateEmployments.length>0 && candidateEmployments[0].id">
				<tr
					*ngFor="let candidateEmployment of candidateEmployments ;trackBy: trackId">
						<td><a
							[routerLink]="['../candidate-employment', candidateEmployment.id ]">{{candidateEmployment.id}}</a></td>
						<td>{{candidateEmployment.location}}</td>
						<td>{{candidateEmployment.jobTitle}}</td>
						<td>{{candidateEmployment.employerName}}</td>
						<td>{{candidateEmployment.employmentStartDate |
							date:'mediumDate'}}</td>
						<td>{{candidateEmployment.employmentEndDate |
							date:'mediumDate'}}</td>
						<td>{{candidateEmployment.employmentDuration}}</td>
						<td>{{candidateEmployment.isCurrentEmployment}}</td>
						<td>{{candidateEmployment.jobDescription}}</td>
						<td>
							<div *ngIf="candidateEmployment.candidate">
								<a
									[routerLink]="['../candidate', candidateEmployment.candidate?.id ]">{{candidateEmployment.candidate?.id}}</a>
							</div>
						</td>
						<td>
							<div *ngIf="candidateEmployment.employmentType">
								<a
									[routerLink]="['../employment-type', candidateEmployment.employmentType?.id ]">{{candidateEmployment.employmentType?.id}}</a>
							</div>
						</td>
						<td>
							<div *ngIf="candidateEmployment.country">
								<a
									[routerLink]="['../country', candidateEmployment.country?.id ]">{{candidateEmployment.country?.id}}</a>
							</div>
						</td>
						<td>
							<div *ngIf="candidateEmployment.jobType">
								<a
									[routerLink]="['../job-type', candidateEmployment.jobType?.id ]">{{candidateEmployment.jobType?.id}}</a>
							</div>
						</td>
						<td class="text-right">
							<div class="btn-group flex-btn-group-container">
								<button type="submit"
									[routerLink]="['../candidate-employment', candidateEmployment.id ]"
									class="btn btn-info btn-sm">
									<span class="fa fa-eye"></span> <span class="d-none d-md-inline"
										jhiTranslate="entity.action.view">View</span>
								</button>
								<button type="submit"
									[routerLink]="['/', { outlets: { popup: 'candidate-employment/'+ candidateEmployment.id + '/edit'} }]"
									replaceUrl="true" class="btn btn-primary btn-sm">
									<span class="fa fa-pencil"></span> <span
										class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
								</button>
								<button type="submit"
									[routerLink]="['/', { outlets: { popup: 'candidate-employment/'+ candidateEmployment.id + '/delete'} }]"
									replaceUrl="true" class="btn btn-danger btn-sm">
									<span class="fa fa-remove"></span> <span
										class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
								</button>
							</div>
						</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>