<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.new.matched.candidate.title}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.new.matched.candidate.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.new.matched.candidate.text1(${numberOfCandidates},${jobTitle})}">
            Your JHipster account has been created, please click on the URL below to activate it:
        </p>
        <p>
            <span th:text="#{email.new.matched.candidate.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">JHipster.</em>
        </p>
    </body>
</html>