footer {
    background: #2d2d2d;
    padding: 40px 0;
    margin-top:0px;
}

.footer-heading {
    color: #fff;
    font-size: 18px;
    font-family: 'proxima_nova_rgbold';
}

.footer-content {
    color: #fff;
    font-size: 15px;
    text-align: justify;
    width: 76%;
}

.footer-nav li a {
    color: #b3b3b3;
    font-size: 15px;
    text-decoration: none;
}

.footer-nav li a.active,
.footer-nav li a:hover {
    color: #3399d2;
}

.mar-20 {
    margin-top: 20px;
}

.footer-2 {
    background: #010101;
    padding: 20px 0 10px;

}

p.footer-2-content {
    color: #5d5d5d;
    text-align: left;
}

ul.footer-2-nav li {
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
}

ul.footer-2-nav li a {
    color: #b3b3b3;
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
}

ul.footer-2-nav li a.active,
ul.footer-2-nav li a:hover {
    color: #3399d2;
}

.pad-right-0 {
    padding-right: 0;
}

.pad-0 {
    padding: 0;
}

ul.nav li {
    display: inline-block;
}



