<footer>
	<div class="container">
		<div class="row pad-0">
			<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
				<p class="footer-content">GRADZCIRCLE</p>
				<p class="footer-content mar-20">We are the emerging platform
					for the job seekers &amp; recruiters. Our purpose is to bridge the
					gap between corporates and new talent within the employment market.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
				<div class="row justify-content-end">
					<!--  <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
							<h1 class="footer-heading">For Job seekers</h1>
							<ul class="footer-nav mar-20 pad-0">
								<li><a href="#" class="active">Find Jobs</a></li>
								<li><a href="news.asp">Submit Resume</a></li>
								<li><a href="contact.asp">Saved Job</a></li>
								<li><a href="about.asp">Help</a></li>
							</ul>
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
						<h1 class="footer-heading">Recruiters</h1>
						<ul class="footer-nav mar-20 pad-0">
							<li><a href="default.asp">Find Candidate</a></li>
							<li><a href="news.asp">Account</a></li>
							<li><a href="contact.asp">Settings</a></li>
						</ul>
					</div>-->
					<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
						<h1 class="footer-heading">Quick links</h1>
						<ul class="footer-nav mar-20 pad-0">
							<li><a href="default.asp">FAQs</a></li>
							<li><a href="news.asp">Terms &amp; Conditions</a></li>
							<li><a href="contact.asp">Privacy Policies</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
</footer>
<div class="footer-2">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
				<p class="footer-2-content">Copyright © 2018 - Gradzcircle. All
					rights reserved.</p>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
				<ul class="footer-2-nav text-right">
					<li><a href="default.asp" class="active"><i
							class="fab fa-facebook-f"></i>F</a></li>
					<li><a href="news.asp"><i class="fab fa-twitter"></i>N</a></li>
					<li><a href="contact.asp"><i class="fab fa-instagram"></i>I</a></li>
				</ul>
			</div>
		</div>

	</div>
</div>
