<form name="editForm" role="form" novalidate (ngSubmit)="save()"
	#editForm="ngForm">

	<div class="modal-header modal-header-decorate">
		<h6 class="modal-title" id="myCandidateNonAcademicWorkLabel"
			jhiTranslate="gradzcircleApp.candidateNonAcademicWork.home.createOrEditLabel">Create
			or edit a Candidate Non Academic Work</h6>
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" (click)="clear()">&times;</button>
	</div>
	<div *jhiHasAnyAuthority="['ROLE_CANDIDATE']" class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<!-- <jhi-alert-error></jhi-alert-error> -->
		<!-- <div class="form-group" [hidden]="!candidateNonAcademicWork.id">
                     <label for="id" jhiTranslate="global.field.id">ID</label>
                     <input type="text" class="form-control" id="id" name="id"
                            [(ngModel)]="candidateNonAcademicWork.id" readonly />
                 </div> -->
		<div class="form-group row mx-4 my-4">
			<div class="col-md-2">
				<label class="form-control-label font-weight-bold "
					jhiTranslate="gradzcircleApp.candidateNonAcademicWork.nonAcademicInitiativeTitle"
					for="field_nonAcademicInitiativeTitle">Title</label>
			</div>
			<div class="col-md-10"
				[class.has-danger]="nonAcademicTitle.invalid && nonAcademicTitle.touched">
				<input type="text" class="form-control" #nonAcademicTitle="ngModel"
					required name="nonAcademicTitle"
					id="field_nonAcademicInitiativeTitle"
					[(ngModel)]="candidateNonAcademicWork.nonAcademicInitiativeTitle" />
				<small class="form-text  form-text-primary"> Provide extra
					curricular activtiy name could be sports, dramatics, community
					service etc. </small>
				<div *ngIf="nonAcademicTitle.invalid && nonAcademicTitle.touched"
					class="text-danger">
					<small> Please enter name.</small>
				</div>
			</div>

		</div>
		<div class="form-group row mx-4 my-4">
			<div class="col-md-2">
				<label class="form-control-label font-weight-bold "
					jhiTranslate="gradzcircleApp.candidateNonAcademicWork.nonAcademicInitiativeDescription"
					for="field_nonAcademicInitiativeDescription">Activity
					Details</label>
			</div>
			<div class="col-md-10"
				[class.has-danger]="activityDetails.invalid && activityDetails.touched">
				<!--  <textarea [froalaEditor]='options' class="form-control"
					#activityDetails="ngModel" required name="activityDetails"
					id="field_certificationDetails"
					[(ngModel)]="candidateNonAcademicWork.nonAcademicInitiativeDescription"
					rows="20">
                         </textarea>-->
                 <ck-editor class="form-control " 
					required #activityDetails="ngModel" name="activityDetails"
					id="field_nonAcademicInitiativeDescription" [config]="editorConfig"
					[(ngModel)]="candidateNonAcademicWork.nonAcademicInitiativeDescription"></ck-editor>
				<small class="form-text  form-text-primary"> Provide
					overview of the activity, what you learnt and how this will help in
					improving your skills. </small>
				<div *ngIf="activityDetails.invalid && activityDetails.touched"
					class="text-danger">
					<small> Please enter your Activity details</small>
				</div>
			</div>

		</div>

		<div class="form-group row mx-4 my-4">
			<div class="col-md-2">
				<label class="form-control-label font-weight-bold "
					jhiTranslate="gradzcircleApp.candidateNonAcademicWork.roleInInitiative"
					for="field_roleInInitiative">Activity Details</label>
			</div>
			<div class="col-md-10"
				[class.has-danger]="roleDetails.invalid && roleDetails.touched">
				<!--  <textarea [froalaEditor]='options' class="form-control"
					#roleDetails="ngModel" name="roleDetails"
					id="field_roleInInitiative"
					[(ngModel)]="candidateNonAcademicWork.roleInInitiative" rows="5">
                         </textarea>-->
                <ck-editor class="form-control " 
					required #roleDetails="ngModel" name="roleDetails"
					id="field_roleInInitiative" [config]="editorConfig"
					[(ngModel)]="candidateNonAcademicWork.roleInInitiative"></ck-editor>
				<small class="form-text  form-text-primary"> What was you
					role in the activity </small>
				<!-- <div *ngIf="roleDetails.invalid && roleDetails.touched" class="text-danger">
                             <small> Please enter your Activity details</small>
                         </div> -->
			</div>
			<!-- <label class="form-control-label" jhiTranslate="gradzcircleApp.candidateNonAcademicWork.roleInInitiative" for="field_roleInInitiative">Role In Initiative</label>
                     <input type="text" class="form-control" name="roleInInitiative" id="field_roleInInitiative"
                         [(ngModel)]="candidateNonAcademicWork.roleInInitiative"  /> -->
		</div>
		<div class="form-group row mx-4 my-4">
			<div class="col-md-2">
				<label class="form-control-label font-weight-bold "
					jhiTranslate="gradzcircleApp.candidateNonAcademicWork.nonAcademicWorkStartDate"
					for="field_nonAcademicWorkFromDate">From Date</label>
			</div>
			<div class="col-md-4" (mouseleave)="nonAcademicFromDateDp.close()"
				[class.has-danger]="fromDate.invalid && fromDate.touched">
				<div class="input-group">
					<input id="field_nonAcademicWorkFromDate" #fromDate="ngModel"
						required type="text" class="form-control border-primary "
						name="nonAcademicFromDate" ngbDatepicker
						#nonAcademicFromDateDp="ngbDatepicker"
						[(ngModel)]="candidateNonAcademicWork.nonAcademicWorkStartDate"
						(ngModelChange)="validateDates()" /> 
						<span class="input-group-append" > 
							<button class="btn btn-outline-primary" (click)="nonAcademicFromDateDp.toggle()" type="button">
								<i class="fa fa-calendar" style="color:#1276ae"></i>
							</button>
						</span>
				</div>
				<div *ngIf="fromDate.invalid && fromDate.touched"
					class="text-danger">
					<small>Please enter Start Date</small>
				</div>
			</div>
			<div class="col-md-2">
				<label class="form-control-label font-weight-bold "
					jhiTranslate="gradzcircleApp.candidateNonAcademicWork.nonAcademicWorkEndDate"
					for="field_nonAcademicWorkEndDate">Education To Date</label>
			</div>
			<div class="col-md-4"
				[class.has-danger]="toDate.invalid && toDate.touched" (mouseleave)="nonAcademicToDateDp.close()">
				<div class="input-group">
					<input id="field_nonAcademicWorkEndDate" #toDate="ngModel" required jhiNotFutureDate
						type="text" class="form-control border-primary"
						[disabled]="endDateControl" name="nonAcademicToDate" ngbDatepicker
						#nonAcademicToDateDp="ngbDatepicker"
						[(ngModel)]="candidateNonAcademicWork.nonAcademicWorkEndDate"
						(ngModelChange)="validateDates()" />
					<span class=" input-group-append" >
						<button class="btn btn-outline-primary" (click)="nonAcademicToDateDp.toggle()" [disabled]="endDateControl" type="button">
									<i class="fa fa-calendar" style="color:#1276ae"></i>
						</button>
					</span>
				</div>
				<div *ngIf="toDate.invalid && toDate.touched && toDate.errors?.required" class="text-danger">
					<small>Please enter End Date</small>
				</div>
				<div *ngIf="endDateLesser" class="text-danger">
					<small>End date cannot be before start date.</small>
                </div>
                <div *ngIf="toDate.invalid && toDate.touched && toDate.errors?.futureDate" class="text-danger">
					<small>End date cannot be in future.</small>
				</div>
			</div>
		</div>
		<div class="form-group row mx-4 my-4">
			<div class="col-md-6 form-check ml-3">
				<label class="form-check-label" for="field_isCurrentActivity">

					<input class="form-check-input font-weight-bold "
					type="checkbox" name="isCurrentActivity"
					id="field_isCurrentActivity" (change)="manageEndDateControl()"
					[(ngModel)]="candidateNonAcademicWork.isCurrentActivity" /> I am
					still actively doing this activity
				</label>
			</div>

		</div>
	</div>
	<div *jhiHasAnyAuthority="['ROLE_ADMIN']" class="modal-body">


		<jhi-alert-error></jhi-alert-error>
		<div class="form-group" [hidden]="!candidateNonAcademicWork.id">
			<label for="id" jhiTranslate="global.field.id">ID</label> <input
				type="text" class="form-control" id="id" name="id"
				[(ngModel)]="candidateNonAcademicWork.id" readonly />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.candidateNonAcademicWork.nonAcademicInitiativeTitle"
				for="field_nonAcademicInitiativeTitle">Non Academic
				Initiative Title</label> <input type="text" class="form-control"
				name="nonAcademicInitiativeTitle"
				id="field_nonAcademicInitiativeTitle"
				[(ngModel)]="candidateNonAcademicWork.nonAcademicInitiativeTitle" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.candidateNonAcademicWork.nonAcademicInitiativeDescription"
				for="field_nonAcademicInitiativeDescription">Non Academic
				Initiative Description</label> <input type="text" class="form-control"
				name="nonAcademicInitiativeDescription"
				id="field_nonAcademicInitiativeDescription"
				[(ngModel)]="candidateNonAcademicWork.nonAcademicInitiativeDescription" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.candidateNonAcademicWork.duration"
				for="field_duration">Duration</label> <input type="number"
				class="form-control" name="duration" id="field_duration"
				[(ngModel)]="candidateNonAcademicWork.duration" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.candidateNonAcademicWork.isCurrentActivity"
				for="field_isCurrentActivity">Is Current Activity</label> <input
				type="checkbox" class="form-control" name="isCurrentActivity"
				id="field_isCurrentActivity"
				[(ngModel)]="candidateNonAcademicWork.isCurrentActivity" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.candidateNonAcademicWork.roleInInitiative"
				for="field_roleInInitiative">Role In Initiative</label> <input
				type="text" class="form-control" name="roleInInitiative"
				id="field_roleInInitiative"
				[(ngModel)]="candidateNonAcademicWork.roleInInitiative" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.candidateNonAcademicWork.nonAcademicWorkStartDate"
				for="field_nonAcademicWorkStartDate">Non Academic Work Start
				Date</label>
			<div class="input-group">
				<input id="field_nonAcademicWorkStartDate" type="text"
					class="form-control" name="nonAcademicWorkStartDate" ngbDatepicker
					#nonAcademicWorkStartDateDp="ngbDatepicker"
					[(ngModel)]="candidateNonAcademicWork.nonAcademicWorkStartDate" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-secondary"
						(click)="nonAcademicWorkStartDateDp.toggle()">
						<i class="fa fa-calendar"></i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.candidateNonAcademicWork.nonAcademicWorkEndDate"
				for="field_nonAcademicWorkEndDate">Non Academic Work End
				Date</label>
			<div class="input-group">
				<input id="field_nonAcademicWorkEndDate" type="text"
					class="form-control" name="nonAcademicWorkEndDate" ngbDatepicker
					#nonAcademicWorkEndDateDp="ngbDatepicker"
					[(ngModel)]="candidateNonAcademicWork.nonAcademicWorkEndDate" /> <span
					class="input-group-btn">
					<button type="button" class="btn btn-secondary"
						(click)="nonAcademicWorkEndDateDp.toggle()">
						<i class="fa fa-calendar"></i>
					</button>
				</span>
			</div>
		</div>

		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.candidateNonAcademicWork.candidate"
				for="field_candidate">Candidate</label> <select class="form-control"
				id="field_candidate" name="candidate"
				[(ngModel)]="candidateNonAcademicWork.candidate">
				<option [ngValue]="null"></option>
				<option
					[ngValue]="candidateOption.id === candidateNonAcademicWork.candidate?.id ? candidateNonAcademicWork.candidate : candidateOption"
					*ngFor="let candidateOption of candidates; trackBy: trackCandidateById">{{candidateOption.id}}</option>
			</select>
		</div>
	</div>
	<div class="mb-5 mr-5 ml-5">
		<!--<button type="button" class="btn btn-sm btn-pill btn-secondary"
			data-dismiss="modal" (click)="clear()">
			<span class="fa fa-ban"></span>&nbsp;<span
				jhiTranslate="entity.action.cancel">Cancel</span>
		</button>-->
		<button type="submit" [disabled]="editForm.form.invalid || isSaving || endDateLesser"
			class="btn btn-block btn-primary">
			<span
				jhiTranslate="entity.action.save">Save</span>
		</button>
	</div>
</form>