<div *jhiHasAnyAuthority="['ROLE_CANDIDATE']">
	<div id="accordion">
		<div *ngIf="candidateNonAcademicWorks?.length>0;">
			<div *ngFor="let candidateNonAcademicWork of candidateNonAcademicWorks ;">
				 <div *ngIf="candidateNonAcademicWork.id" class="card mb-2">
					<div class="card-header justify-content-between education_title">
						<a class="card-link " 
	       				   [attr.aria-controls]="candidateNonAcademicWork.id" (click)="candidateNonAcademicWork.collapsed = !candidateNonAcademicWork.collapsed"
	       				   [attr.aria-expanded]="!candidateNonAcademicWork.collapsed"
						> {{candidateNonAcademicWork.nonAcademicInitiativeTitle}}</a>
						<span class="project_buttons">
							<a class="btn btn-sm btn-pill btn-primary mb-2" (click)="setEditDeleteRouteParam(candidateNonAcademicWork.id )"
								[routerLink]="['/', { outlets: { popup: 'candidate-non-academic-work/edit'} }]"
								replaceUrl="true"> 
								<span class="icon icon-edit "  jhiTranslate="entity.action.edit">
									Edit
								</span>
							</a>
							<a class="btn btn-sm btn-pill btn-danger mb-2" (click)="setEditDeleteRouteParam(candidateNonAcademicWork.id )"
								[routerLink]="['/', { outlets: { popup: 'candidate-non-academic-work/delete'} }]"
								replaceUrl="true"> 
								<span class="icon icon-trash " jhiTranslate="entity.action.delete">
									Delete
								</span>
							</a>
						</span>
					</div>
					<div id="{{candidateNonAcademicWork.id}}" data-parent="#accordion" [ngbCollapse]="candidateNonAcademicWork.collapsed">	      
				        <div class="card-body"> 
				        		<div class="col-lg-12 row">
						          <span class="education_title_2 w-100 editable mt-2 pb-0" [innerHtml]="candidateNonAcademicWork.nonAcademicInitiativeDescription"></span>
						     </div>
						     <div class="col-lg-12 row">
						          <span class="education_title_2 w-100 editable mt-2 pb-0" [innerHtml]="candidateNonAcademicWork.roleInInitiative"></span>
						     </div>
						     <div class="col-lg-12 row">
							        <span class="education_body w-100 editable mt-2">-&nbsp;&nbsp;&nbsp;{{candidateNonAcademicWork.nonAcademicWorkStartDate
												|date:'mediumDate'}} -
												{{candidateNonAcademicWork.nonAcademicWorkEndDate
												?(candidateNonAcademicWork.nonAcademicWorkEndDate|
												date:'mediumDate'): ' Till Date' }}
									</span>
							 </div>
					  	</div>				
					</div>      
				</div>
			</div>
		</div>
		<div class="col-lg-12  my-4 text-right d-block">
			<a class="btn btn-sm btn-pill btn-primary" (click)="setAddRouterParam()"
				[routerLink]="['/', { outlets: { popup: 'new-candidate-non-academic-work' } }]">
				<span class="icon icon-circle-with-plus"
				jhiTranslate="gradzcircleApp.candidateNonAcademicWork.home.title">
					Add </span>
			</a>
		</div>
	</div>
</div>


<div *jhiHasAnyAuthority="['ROLE_ADMIN']">
	<h2>
		<span
			jhiTranslate="gradzcircleApp.candidateNonAcademicWork.home.title">Candidate
			Non Academic Works</span>
		<button
			class="btn btn-primary float-right jh-create-entity create-candidate-non-academic-work"
			[routerLink]="['/', { outlets: { popup: ['candidate-non-academic-work-new'] } }]">
			<span class="fa fa-plus"></span> <span class="hidden-sm-down"
				jhiTranslate="gradzcircleApp.candidateNonAcademicWork.home.createLabel">
				Create new Candidate Non Academic Work </span>
		</button>
	</h2>
	<jhi-alert></jhi-alert>
	<div class="row">
		<div class="col-sm-12">
			<form name="searchForm" class="form-inline">
				<div class="input-group w-100 mt-3">
					<input type="text" class="form-control" [(ngModel)]="currentSearch"
						id="currentSearch" name="currentSearch"
						placeholder="{{ 'gradzcircleApp.candidateNonAcademicWork.home.search' | translate }}">
					<button class="input-group-addon btn btn-info"
						(click)="search(currentSearch)">
						<span class="fa fa-search"></span>
					</button>
					<button class="input-group-addon btn btn-danger" (click)="clear()"
						*ngIf="currentSearch">
						<span class="fa fa-trash-o"></span>
					</button>
				</div>
			</form>
		</div>
	</div>
	<br />
	<div class="table-responsive" *ngIf="candidateNonAcademicWorks">
		<table class="table table-striped">
			<thead>
				<tr>
					<th><span jhiTranslate="global.field.id">ID</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateNonAcademicWork.nonAcademicInitiativeTitle">Non
							Academic Initiative Title</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateNonAcademicWork.nonAcademicInitiativeDescription">Non
							Academic Initiative Description</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateNonAcademicWork.duration">Duration</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateNonAcademicWork.isCurrentActivity">Is
							Current Activity</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateNonAcademicWork.roleInInitiative">Role
							In Initiative</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateNonAcademicWork.nonAcademicWorkStartDate">Non
							Academic Work Start Date</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateNonAcademicWork.nonAcademicWorkEndDate">Non
							Academic Work End Date</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.candidateNonAcademicWork.candidate">Candidate</span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr
					*ngFor="let candidateNonAcademicWork of candidateNonAcademicWorks ;trackBy: trackId">
					<td><a
						[routerLink]="['../candidate-non-academic-work', candidateNonAcademicWork.id ]">{{candidateNonAcademicWork.id}}</a></td>
					<td>{{candidateNonAcademicWork.nonAcademicInitiativeTitle}}</td>
					<td>{{candidateNonAcademicWork.nonAcademicInitiativeDescription}}</td>
					<td>{{candidateNonAcademicWork.duration}}</td>
					<td>{{candidateNonAcademicWork.isCurrentActivity}}</td>
					<td>{{candidateNonAcademicWork.roleInInitiative}}</td>
					<td>{{candidateNonAcademicWork.nonAcademicWorkStartDate |
						date:'mediumDate'}}</td>
					<td>{{candidateNonAcademicWork.nonAcademicWorkEndDate |
						date:'mediumDate'}}</td>
					<td>
						<div *ngIf="candidateNonAcademicWork.candidate">
							<a
								[routerLink]="['../candidate', candidateNonAcademicWork.candidate?.id ]">{{candidateNonAcademicWork.candidate?.id}}</a>
						</div>
					</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="submit"
								[routerLink]="['../candidate-non-academic-work', candidateNonAcademicWork.id ]"
								class="btn btn-info btn-sm">
								<span class="fa fa-eye"></span> <span class="d-none d-md-inline"
									jhiTranslate="entity.action.view">View</span>
							</button>
							<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'candidate-non-academic-work/'+ candidateNonAcademicWork.id + '/edit'} }]"
								replaceUrl="true" class="btn btn-primary btn-sm">
								<span class="fa fa-pencil"></span> <span
									class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
							</button>
							<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'candidate-non-academic-work/'+ candidateNonAcademicWork.id + '/delete'} }]"
								replaceUrl="true" class="btn btn-danger btn-sm">
								<span class="fa fa-remove"></span> <span
									class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>