<form name="editForm" role="form" novalidate (ngSubmit)="save()"
	#editForm="ngForm">

	<div class="modal-header">
		<h4 class="modal-title" id="myAddressLabel"
			jhiTranslate="gradzcircleApp.address.home.createOrEditLabel">Create
			or edit a Address</h4>
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" (click)="clear()">&times;</button>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<div class="form-group" [hidden]="!address.id">
			<label for="id" jhiTranslate="global.field.id">ID</label> <input
				type="text" class="form-control" id="id" name="id"
				[(ngModel)]="address.id" readonly />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.address.addressLineOne"
				for="field_addressLineOne">Address Line One</label> <input
				type="text" class="form-control" name="addressLineOne"
				id="field_addressLineOne" [(ngModel)]="address.addressLineOne" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.address.addressLineTwo"
				for="field_addressLineTwo">Address Line Two</label> <input
				type="text" class="form-control" name="addressLineTwo"
				id="field_addressLineTwo" [(ngModel)]="address.addressLineTwo" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.address.city" for="field_city">City</label>
			<input type="text" class="form-control" name="city" id="field_city"
				[(ngModel)]="address.city" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.address.state" for="field_state">State</label>
			<input type="text" class="form-control" name="state" id="field_state"
				[(ngModel)]="address.state" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.address.zip" for="field_zip">Zip</label>
			<input type="text" class="form-control" name="zip" id="field_zip"
				[(ngModel)]="address.zip" />
		</div>

		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.address.candidate"
				for="field_candidate">Candidate</label> <select class="form-control"
				id="field_candidate" name="candidate"
				[(ngModel)]="address.candidate">
				<option [ngValue]="null"></option>
				<option
					[ngValue]="candidateOption.id === address.candidate?.id ? address.candidate : candidateOption"
					*ngFor="let candidateOption of candidates; trackBy: trackCandidateById">{{candidateOption.id}}</option>
			</select>
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.address.country" for="field_country">Country</label>
			<select class="form-control" id="field_country" name="country"
				[(ngModel)]="address.country">
				<option [ngValue]="null"></option>
				<option
					[ngValue]="countryOption.id === address.country?.id ? address.country : countryOption"
					*ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.id}}</option>
			</select>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal"
			(click)="clear()">
			<span class="fa fa-ban"></span>&nbsp;<span
				jhiTranslate="entity.action.cancel">Cancel</span>
		</button>
		<button type="submit" [disabled]="editForm.form.invalid || isSaving"
			class="btn btn-primary">
			<span class="fa fa-save"></span>&nbsp;<span
				jhiTranslate="entity.action.save">Save</span>
		</button>
	</div>
</form>
