.setting_content {
	margin: 17vh 0 !important;
}

.portfolio-block {
  padding-bottom: 60px;
  padding-top: 60px;
}

.portfolio-block .heading {
  margin-bottom: 50px;
  text-align: center;
}

.portfolio-block .heading h2 {
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.h2, h2 {
  font-size: 2rem;
}

.portfolio-block form {
  max-width: 650px;
  padding: 20px;
  margin: auto;
  box-shadow: 0 2px 10px rgba(0,0,0,.1);
}

.form-group {
  margin-bottom: 1rem;
}

.mt-9, .my-9 {
    margin-top: 9rem!important;
}

