<div>
	<h2>
		<span jhiTranslate="gradzcircleApp.captureQualification.home.title">Capture
			Qualifications</span>
		<button
			class="btn btn-primary float-right jh-create-entity create-capture-qualification"
			[routerLink]="['/', { outlets: { popup: ['capture-qualification-new'] } }]">
			<span class="fa fa-plus"></span> <span class="hidden-sm-down"
				jhiTranslate="gradzcircleApp.captureQualification.home.createLabel">
				Create new Capture Qualification </span>
		</button>
	</h2>
	<jhi-alert></jhi-alert>
	<div class="row">
		<div class="col-sm-12">
			<form name="searchForm" class="form-inline">
				<div class="input-group w-100 mt-3">
					<input type="text" class="form-control" [(ngModel)]="currentSearch"
						id="currentSearch" name="currentSearch"
						placeholder="{{ 'gradzcircleApp.captureQualification.home.search' | translate }}">
					<button class="input-group-addon btn btn-info"
						(click)="search(currentSearch)">
						<span class="fa fa-search"></span>
					</button>
					<button class="input-group-addon btn btn-danger" (click)="clear()"
						*ngIf="currentSearch">
						<span class="fa fa-trash-o"></span>
					</button>
				</div>
			</form>
		</div>
	</div>
	<br />
	<div class="table-responsive" *ngIf="captureQualifications">
		<table class="table table-striped">
			<thead>
				<tr>
					<th><span jhiTranslate="global.field.id">ID</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.captureQualification.qualificationName">Qualification
							Name</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.captureQualification.candidateEducation">Candidate
							Education</span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr
					*ngFor="let captureQualification of captureQualifications ;trackBy: trackId">
					<td><a
						[routerLink]="['../capture-qualification', captureQualification.id ]">{{captureQualification.id}}</a></td>
					<td>{{captureQualification.qualificationName}}</td>
					<td>
						<div *ngIf="captureQualification.candidateEducation">
							<a
								[routerLink]="['../candidate-education', captureQualification.candidateEducation?.id ]">{{captureQualification.candidateEducation?.id}}</a>
						</div>
					</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="submit"
								[routerLink]="['../capture-qualification', captureQualification.id ]"
								class="btn btn-info btn-sm">
								<span class="fa fa-eye"></span> <span class="d-none d-md-inline"
									jhiTranslate="entity.action.view">View</span>
							</button>
							<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'capture-qualification/'+ captureQualification.id + '/edit'} }]"
								replaceUrl="true" class="btn btn-primary btn-sm">
								<span class="fa fa-pencil"></span> <span
									class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
							</button>
							<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'capture-qualification/'+ captureQualification.id + '/delete'} }]"
								replaceUrl="true" class="btn btn-danger btn-sm">
								<span class="fa fa-remove"></span> <span
									class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
