<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUniversityLabel" jhiTranslate="gradzcircleApp.university.home.createOrEditLabel">Create or edit a University</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!university.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="university.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gradzcircleApp.university.universityName" for="field_universityName">University Name</label>
            <input type="text" class="form-control" name="universityName" id="field_universityName"
                [(ngModel)]="university.universityName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gradzcircleApp.university.universityType" for="field_universityType">University Type</label>
            <input type="text" class="form-control" name="universityType" id="field_universityType"
                [(ngModel)]="university.universityType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gradzcircleApp.university.website" for="field_website">Website</label>
            <input type="text" class="form-control" name="website" id="field_website"
                [(ngModel)]="university.website" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gradzcircleApp.university.country" for="field_country">Country</label>
            <select class="form-control" id="field_country" name="country" [(ngModel)]="university.country" >
                <option [ngValue]="null"></option>
                <option [ngValue]="countryOption.id === university.country?.id ? university.country : countryOption" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
