
<div *ngIf="employmentType">
    <h2><span jhiTranslate="gradzcircleApp.employmentType.detail.title">Employment Type</span> {{employmentType.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gradzcircleApp.employmentType.employmentType">Employment Type</span></dt>
        <dd>
            <span>{{employmentType.employmentType}}</span>
        </dd>
        <dt><span jhiTranslate="gradzcircleApp.employmentType.employmentTypeCost">Employment Type Cost</span></dt>
        <dd>
            <span>{{employmentType.employmentTypeCost}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'employment-type/'+ employmentType.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
