
<div *ngIf="filterCategory">
    <h2><span jhiTranslate="gradzcircleApp.filterCategory.detail.title">Filter Category</span> {{filterCategory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gradzcircleApp.filterCategory.filterCategory">Filter Category</span></dt>
        <dd>
            <span>{{filterCategory.filterCategory}}</span>
        </dd>
        <dt><span jhiTranslate="gradzcircleApp.filterCategory.filterCost">Filter Cost</span></dt>
        <dd>
            <span>{{filterCategory.filterCost}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'filter-category/'+ filterCategory.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
