<form name="editForm" role="form" novalidate (ngSubmit)="save()"
	#editForm="ngForm">

	<div class="modal-header">
		<h4 class="modal-title" id="myFilterCategoryLabel"
			jhiTranslate="gradzcircleApp.filterCategory.home.createOrEditLabel">Create
			or edit a Filter Category</h4>
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" (click)="clear()">&times;</button>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<div class="form-group" [hidden]="!filterCategory.id">
			<label for="id" jhiTranslate="global.field.id">ID</label> <input
				type="text" class="form-control" id="id" name="id"
				[(ngModel)]="filterCategory.id" readonly />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.filterCategory.filterCategory"
				for="field_filterCategory">Filter Category</label> <input
				type="text" class="form-control" name="filterCategory"
				id="field_filterCategory"
				[(ngModel)]="filterCategory.filterCategory" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.filterCategory.filterCost"
				for="field_filterCost">Filter Cost</label> <input type="number"
				class="form-control" name="filterCost" id="field_filterCost"
				[(ngModel)]="filterCategory.filterCost" />
		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal"
			(click)="clear()">
			<span class="fa fa-ban"></span>&nbsp;<span
				jhiTranslate="entity.action.cancel">Cancel</span>
		</button>
		<button type="submit" [disabled]="editForm.form.invalid || isSaving"
			class="btn btn-primary">
			<span class="fa fa-save"></span>&nbsp;<span
				jhiTranslate="entity.action.save">Save</span>
		</button>
	</div>
</form>
