<div class="wrapper">
<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      
    <div class="container-fluid mt-5">
        <h3 class="text-dark mb-4">Applied Jobs</h3>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Jobs Info</p>
            </div>
            <div class="card-body">
               
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table dataTable my-0" id="dataTable">
                        <thead>
                            <tr>
                            		<th class="justfiy-content-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.corporate.companyName">companyName</span></th>
                                <th class="justfiy-content-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.job.jobTitle">Job Title</span></th>
                                <th class="justfiy-content-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.job.jobType">Job Type</span></th>
                                <th class="justfiy-content-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.job.employmentType">Employment Type</span></th>
                                <th class="justfiy-content-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.job.matchScore">matchScore</span></th>
                                <th class="justfiy-content-center font-weight-bold">Actions</th>
                              
                            </tr>
                        </thead>
                        <tbody *ngIf="(jobs && jobs.length>0) else noInterestingJobs">
                            <tr *ngFor="let job of jobs ;trackBy: trackId">
                                <td *ngIf="job.corporateUrl;else noImage">
                                		<img class="rounded-circle mr-2" width="30" height="30" [src]="job.corporateUrl"/>{{job.corporateName}}
                                	</td>
                                	<ng-template #noImage>
                                		<td><img class="rounded-circle mr-2" width="30" height="30"/>{{job.corporateName}}</td>
                                	</ng-template>
                                <td>{{job.jobTitle}}</td>
                                <td *ngIf="job.jobType">{{job.jobType?.jobType}}</td>
                                <td><div *ngIf="job.employmentType">
												{{job.employmentType?.employmentType}}</div></td>
                                <td>{{job.matchScore}}%</td>
                                <td *ngIf="job.jobStatus>0; else closedJob">
			                         		<a class="btn btn-outline-primary btn-sm" [routerLink]="['/', { outlets: { popup: 'job/viewJobForCandidate'} }]" (click)="setJobViewParamForCandidate(job.id)"  >View</a>
			                    </td>
	                         	<ng-template #closedJob>
		                         	<td>
		                         		<span class="badge badge-pill badge-danger">Closed</span>
		                         	</td>
	                         	</ng-template>
                            </tr>
                        </tbody>
                        <ng-template #noInterestingJobs>
                        		<tbody>
                        			<tr><td colspan="6" class="text-center font-weight-bold">No Data Available</td></tr>
                        		</tbody>
                        </ng-template>
                        <tfoot>
                            <tr>
                                <td class="justfiy-content-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.corporate.companyName">companyName</span></td>
                                <td class="justfiy-content-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.job.jobTitle">Job Title</span></td>
                                <td class="justfiy-content-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.job.jobType"></span></td>
                                <td class="justfiy-content-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.job.employmentType"></span></td>
                                <td class="justfiy-content-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.job.matchScore"></span></td>
                                <td class="justfiy-content-center font-weight-bold">Actions</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
               <div *ngIf="jobs && jobs.length">
               		<div class="row">
						<div class="col d-flex justify-content-start  font-weight-light text-muted">
							<jhi-item-count [page]="page" [total]="queryCount"
								[itemsPerPage]="itemsPerPage"></jhi-item-count>
						</div>
						<div class="col font-weight-light d-flex justify-content-end ">
							<ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" 
								[rotate]="true" [ellipses]="false" [maxSize]="5" [boundaryLinks]="true"
								(pageChange)="loadPage(page)"></ngb-pagination>
								
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
