<div class="modal-header modal-header-decorate">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" (click)="clear()">&times;</button>
	</div>
<section class="portfolio-block block-intro border-bottom">
    <div class="container">
    		<div class="mt-1 mb-1">
    			<jhi-alert></jhi-alert>
    		</div>
        <div class="avatar" [style.backgroundImage]="'url('+userImage+')'">
        		
        </div>
        <div *jhiHasAnyAuthority="['ROLE_CANDIDATE']" class="about-me">
            <p >Hello! I am <strong>{{candidate.candidateDetails.firstName}}&nbsp;{{candidate.candidateDetails.lastName}}</strong>. 
            		{{candidate.candidateDetails.aboutMe}}
            </p>
            
        </div>
        
        
        <div *jhiHasAnyAuthority="['ROLE_CORPORATE']" class="about-me">
        		<div *ngIf="canCorporateViewDetails ; else notShortListed">
	            <p>Hello! I am <strong>{{candidate.candidateDetails.firstName}}&nbsp;{{candidate.candidateDetails.lastName}}</strong>.
	            		{{candidate.candidateDetails.aboutMe}}
	            </p>
            </div>
            <ng-template #notShortListed>
            		<p *ngIf="!canCorporateViewDetails " >Hello! I am <strong>Gradzcircle Candidate</strong>.
            			{{candidate.candidateDetails.aboutMe}}
            		</p>
            		<div *ngIf="!candidate.isShortListed && ! fromLinkedCandidate && candidate.canBeShortListed" class="row justify-content-center">
					<form name="linkForm" role="form" novalidate (ngSubmit)="save()"
						#linkForm="ngForm" >
						<button type="submit" 
							[disabled]="linkForm.form.invalid || isSaving"
							class="btn btn-outline-primary">
							Contact Information
						</button>
					</form>
				</div>
            		<!--  <a *ngIf="!candidate.isShortListed && ! fromLinkedCandidate && candidate.canBeShortListed" 
            				 class="btn btn-outline-primary" role="button" >Contact Information
            		</a>-->
            </ng-template>
            	
        </div>
   
    </div>
</section>
<section class="portfolio-block cv">
    <div class="container">
        <div *ngIf="candidate.employments?.length>0 && candidate.employments[0].id" class="work-experience group">
            <div class="heading">
                <h2 class="text-center">Work Experience</h2>
            </div>
	        <div *ngFor="let candidateEmployment of candidate.employments ;" >
	            <div class="item">
	                <div class="row">
	                    <div class="col-md-6">
	                        <h3>{{candidateEmployment.jobTitle}}</h3>
	                        <h4 class="organization">{{candidateEmployment.employerName}}</h4>
	                    </div>
	                    <div class="col-md-6"><span class="period">{{candidateEmployment.employmentStartDate | date}} -
												{{candidateEmployment.employmentEndDate?(candidateEmployment.employmentEndDate
												|date): 'Till Date'}}
											</span>
						</div>
	                </div>
	                <p class="text-muted" [innerHtml]=" candidateEmployment.jobDescription"></p>
	                <div *ngIf="candidateEmployment.projects?.length>0">
	                		 <div class="heading">
                				<h3 class="text-center">Projects</h3>
            				</div>
	                		<div *ngFor="let candidateEmploymentProject of candidateEmployment.projects; ">
		                		<div class="item ml-3">
		                			<div class="row">
		                				<div class="col-md-6">
		                					 <h4 class="projects">{{candidateEmploymentProject.projectTitle}}</h4>
		                				</div>
		                				 <div class="col-md-6"><span class="period">{{candidateEmploymentProject.projectStartDate | date}} -
															{{candidateEmploymentProject.projectEndDate?(candidateEmploymentProject.projectEndDate
															|date): 'Till Date'}}
												</span>
									</div>
									<div class="col-md-12">
									 	<p>Description</p>
									 </div>
									 <div class="col-md-12">
									 	<p class="text-muted" [innerHtml]="candidateEmploymentProject.projectDescription"></p>
									 </div>
									 <div class="col-md-12">
									 	<p>Contribution</p>
									 </div>
									 <div class="col-md-12">
									 	<p class="text-muted" [innerHtml]="candidateEmploymentProject.contributionInProject"></p>
									 </div>
		                			</div>
		                		</div>
		                	</div>
	                </div>
	            </div>
	          </div>
	        </div>
        
        <div *ngIf="candidate.educations?.length>0 && candidate.educations[0].id " class="education group">
        		 <div class="heading">
	                <h2 class="text-center">Education</h2>
	          </div>
	          <div *ngFor="let candidateEducation of candidate.educations">
	          		<div class="item">
	          			<div class="row">
		                    <div class="col-md-6">
		                        <h3>{{candidateEducation.qualification.qualification}}&nbsp;in&nbsp;{{candidateEducation.course.course}}</h3>
		                        <h4 class="organization">{{candidateEducation.college.collegeName}} </h4>
		                        <h4 class="score">{{candidateEducation.grade?"GPA
												"+candidateEducation.grade+"/10":"Percentage
												"+candidateEducation.percentage+"%"}}</h4>
		                    </div>
		                    <div class="col-md-6"><span class="period">{{candidateEducation.educationFromDate |
												date}} -
												{{candidateEducation.educationToDate?(candidateEducation.educationToDate
												|date): 'Till Date'}}
												</span>
							</div>
		                </div>
		                <div *ngIf="candidateEducation.projects?.length>0">
		                		<div class="heading">
	                				<h3 class="text-center">Projects</h3>
	            				</div>
	            				<div *ngFor="let candidateEducationProject of candidateEducation.projects; ">
            						<div class="item ml-3">
									<div class="row">
										<div class="col-md-6">
											<h4 class="projects">{{candidateEducationProject.projectTitle}}</h4>
											<h4 class="text-muted">{{candidateEducationProject.projectType==='SELF_INTEREST'?'Self
												Interest':'Academic'}} Project</h4>
										</div>
										<div class="col-md-6">
											<span class="period">{{candidateEducationProject.projectStartDate
												| date}} -
												{{candidateEducationProject.projectEndDate?(candidateEducationProject.projectEndDate
												|date): 'Till Date'}} </span>
										</div>
										<div class="col-md-12">
											<p>Description</p>
										</div>
										<div class="col-md-12">
											<p class="text-muted"
												[innerHtml]=" candidateEducationProject.projectDescription"></p>
										</div>
										<div class="col-md-12">
											<p>Contribution</p>
										</div>
										<div class="col-md-12">
											<p class="text-muted"
												[innerHtml]="candidateEducationProject.contributionInProject"></p>
										</div>
									</div>
								</div>
	            				</div>
		                </div>
	          		</div>
	          </div>
        </div>
         <div class="group">
            <div class="row">
            		<div *ngIf="candidate.candidateLanguageProficiencies?.length>0 && candidate.candidateLanguageProficiencies[0].id" class="col-md-6">
	                    <div class="skills portfolio-info-card">
	                        <h2>Languages</h2>
	                        <div *ngFor="let candidateLanguageProficiency of candidate.candidateLanguageProficiencies">
		                        <h3>{{candidateLanguageProficiency.language?.language}}</h3>
		                        <div class="progress">
		                            <div class="progress-bar" aria-valuemin="0" aria-valuemax="100" [style.width]="getWidth(candidateLanguageProficiency.proficiency)">
		                            </div>
		                        </div>
		                     </div>
	                    </div>
	            </div>
                <div *jhiHasAnyAuthority="['ROLE_CANDIDATE']" class="col-md-6">
                    <div class="contact-info portfolio-info-card">
                        <h2>Contact Info</h2>
                        <div class="row">
                            <div class="col-1"><i class="icon fa fa-user icon"></i></div>
                            <div class="col-9"><span>{{candidate.candidateDetails.firstName}}&nbsp; {{candidate.candidateDetails.lastName}}</span></div>
                        </div>
                        <div class="row">
                            <div class="col-1"><i class="icon fa fa-phone icon"></i></div>
                            <div class="col-9"><span>{{candidate.candidateDetails.phoneCode}}-{{candidate.candidateDetails.phoneNumber}}</span></div>
                        </div>
                        <div class="row">
                            <div class="col-1"><i class="icon fa fa-at icon"></i></div>
                            <div class="col-9"><span>{{candidate.candidateDetails.login.email}}</span></div>
                        </div>
                        <div class="row">
                            <div class="col-1"><i class="icon fa fa-map-marker icon"></i></div>
                            <div class="col-9"><span>{{candidate.addresses[0]?candidate.addresses[0].city:'Not available'}}</span></div>
                        </div>
                    </div>
                </div>
          
                <div *jhiHasAnyAuthority="['ROLE_CORPORATE']" class="col-md-6">
                		<div *ngIf="canCorporateViewDetails " >
                			<div class="contact-info portfolio-info-card">
	                			<h2>Contact Info</h2>
	                        <div class="row">
	                            <div class="col-1"><i class="icon fa fa-user icon"></i></div>
	                            <div class="col-9"><span>{{candidate.candidateDetails.firstName}}&nbsp; {{candidate.candidateDetails.lastName}}</span></div>
	                        </div>
	                        <div class="row">
	                            <div class="col-1"><i class="icon fa fa-phone icon"></i></div>
	                            <div class="col-9"><span>{{candidate.candidateDetails.phoneCode}}-{{candidate.candidateDetails.phoneNumber}}</span></div>
	                        </div>
	                        <div class="row">
	                            <div class="col-1"><i class="icon fa fa-at icon"></i></div>
	                            <div class="col-9"><span>{{candidate.candidateDetails.login.email}}</span></div>
	                        </div>
	                        <div class="row">
	                            <div class="col-1"><i class="icon fa fa-map-marker icon"></i></div>
	                            <div class="col-9"><span>{{candidate.addresses[0]?candidate.addresses[0].city:'Not available'}}</span></div>
	                        </div>
	                      </div>
                		</div>
                		<div *ngIf="!canCorporateViewDetails ">
                			<div class="contact-info portfolio-info-card">
	                			<h2 ngbTooltip="ShortList to view details" placement="right">Contact Info</h2>
	                        <div class="row">
	                            <div class="col-1"><i class="icon fa fa-user icon"></i></div>
	                            <div class="col-9"><span> xxxxxxxxxxx</span></div>
	                        </div>
	                        <div class="row">
	                            <div class="col-1"><i class="icon fa fa-phone icon"></i></div>
	                            <div class="col-9"><span>xxxxxxxxxxx</span></div>
	                        </div>
	                        <div class="row">
	                            <div class="col-1"><i class="icon fa fa-at icon"></i></div>
	                            <div class="col-9"><span>xxxxxxxxxxx</span></div>
	                        </div>
	                        <div class="row">
	                            <div class="col-1"><i class="icon fa fa-map-marker icon"></i></div>
	                            <div class="col-9"><span>xxxxxxxxxxx</span></div>
	                        </div>
	                      </div>
	                	</div>
                </div>
	             
            </div>
        </div>
		<div *ngIf="candidate.certifications?.length>0 && candidate.certifications[0].id" class="hobbies group">
            <div class="heading">
                <h2 class="text-center">Certifications</h2>
            </div>
            <div *ngFor="let certification of candidate.certifications;">
          		<div class="item">
               		<div class="row">
               			<div class="col-md-6">
               				<h4 class="certs">{{certification.certificationTitle}}</h4>
               			</div>
               			<div class="col-md-6"><span class="period">{{certification.certificationDate | date}}</span>
						</div>
               		</div>
               		<p class="text-muted"  [innerHtml]=" certification.certificationDetails"></p>
               	</div>
            </div>
            
        </div>
        <div *ngIf="candidate.nonAcademics?.length>0 && candidate.nonAcademics[0].id" class="hobbies group">
            <div class="heading">
                <h2 class="text-center">Hobbies</h2>
            </div>
            <div *ngFor="let candidateNonAcademic of candidate.nonAcademics">
          		<div class="item">
               		<div class="row">
               			<div class="col-md-6">
               				<h4 class="hobbies">{{candidateNonAcademic.nonAcademicInitiativeTitle}}</h4>
               			</div>
               		</div>
               		<p class="text-muted" [innerHtml]=" candidateNonAcademic.nonAcademicInitiativeDescription"></p>
               	</div>
            </div>
        </div>
     </div>
</section>

