
<div id="wrapper">
    <div class="d-flex flex-column mb-5" id="content-wrapper">
        <div id="content">          
	        <div class="container-fluid mt-5">
	            <h3 class="text-dark mb-4" jhiTranslate="global.menu.user.profile"></h3>
	            <div class="row mb-3">
	                <div class="col-lg-4">
	                    <div class="card mb-3">
	                        <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" [src]="noImage ? defaultImage : userImage " width="160" height="160" />
	                            <div class="mb-3"><button class="btn btn-primary btn-sm" type="button" (click)="setPublicProfilePicmgmtRouteParams()" [routerLink]="['/', { outlets: { popup: 'update-picture' } }]">Change Photo</button></div>
	                        </div>
	                    </div>
	                    <div class="card shadow mb-4">
	                        <div class="card-header py-3">
	                            <h6 class="text-primary font-weight-bold m-0" jhiTranslate="global.menu.user.profileSettings"></h6>
	                        </div>
	                        <div class="card-body">
	                        		<div class="row ">
	                        			<div class="col-md-10 ">
	                            			<h4 class="small font-weight-bold mb-0 pt-1" jhiTranslate="gradzcircleApp.candidateEducation.detail.title"></h4>
	                            		</div>
	                            		<div *ngIf="candidate.hasEducation; else addEducation" class="col-md-2"><span class="pb-0 pt-0 float-right  btn btn-outline-primary btn-sm" jhiTranslate="entity.action.view" [routerLink]="['../education']">Add</span></div>
	                            		<ng-template #addEducation>
	                            			<div class="col-md-2"><span class="pb-0 pt-0 float-right  btn btn-outline-primary btn-sm" jhiTranslate="entity.action.add" (click)="setRouterAddProfileCategoryParams()"
											[routerLink]="['/', { outlets: { popup: 'new-candidate-education' } }]"	>Add</span></div>
	                            		</ng-template>
	                           	</div>
	                           	<hr />
	                           	<div class="row ">
	                        			<div class="col-md-10 ">
	                            			<h4 class="small font-weight-bold mb-0 pt-1" jhiTranslate="gradzcircleApp.candidateEmployment.detail.title"></h4>
	                            		</div>
	                            		<div *ngIf="candidate.hasEmployment; else addEmployment" class="col-md-2"><span class="pb-0 pt-0 float-right  btn btn-outline-primary btn-sm" jhiTranslate="entity.action.view" [routerLink]="['../employment']">Add</span></div>
	                            		<ng-template #addEmployment>
	                            			<div  class="col-md-2"><span class="pb-0 pt-0 float-right  btn btn-outline-primary btn-sm" jhiTranslate="entity.action.add" (click)="setRouterAddProfileCategoryParams()"
											[routerLink]="['/', { outlets: { popup: 'new-candidate-employment' } }]">Add</span></div>
	                            		</ng-template>
	                           	</div>
	                           	<hr />
	                           	<div class="row ">
	                        			<div class="col-md-10 ">
	                            			<h4 class="small font-weight-bold mb-0 pt-1" jhiTranslate="gradzcircleApp.candidateCertification.detail.title"></h4>
	                            		</div>
	                            		<div *ngIf="candidate.hasCertification; else addCertification" class="col-md-2"><span class="pb-0 pt-0 float-right  btn btn-outline-primary btn-sm" jhiTranslate="entity.action.view" [routerLink]="['../certification']"> Add</span></div>
	                            		<ng-template #addCertification>
	                            			<div class="col-md-2"><span class="pb-0 pt-0 float-right  btn btn-outline-primary btn-sm" jhiTranslate="entity.action.add" (click)="setRouterAddProfileCategoryParams()"
											[routerLink]="['/', { outlets: { popup: 'new-candidate-certification' } }]">Add</span></div>
	                            		</ng-template>
	                           	</div>
	                           	<hr />
	                           	<div class="row ">
	                        			<div class="col-md-10 ">
	                            			<h4 class="small font-weight-bold mb-0 pt-1" jhiTranslate="gradzcircleApp.candidateNonAcademicWork.detail.title"></h4>
	                            		</div>
	                            		<div *ngIf="candidate.hasNonAcademic; else addNonAcademic" class="col-md-2"><span class="pb-0 pt-0 float-right  btn btn-outline-primary btn-sm" jhiTranslate="entity.action.view" [routerLink]="['../beyondAcademics']">Add</span></div>
	                            		<ng-template #addNonAcademic>
	                            			<div  class="col-md-2"><span class="pb-0 pt-0 float-right  btn btn-outline-primary btn-sm" jhiTranslate="entity.action.add" (click)="setRouterAddProfileCategoryParams()"
											[routerLink]="['/', { outlets: { popup: 'new-candidate-non-academic-work' } }]">Add</span></div>
	                            		</ng-template>
	                           	</div>
	                           	<hr />
	                           	<div class="row ">
	                        			<div class="col-md-10 ">
	                            			<h4 class="small font-weight-bold mb-0 pt-1" jhiTranslate="gradzcircleApp.candidateLanguageProficiency.detail.title"></h4>
	                            		</div>
	                            		<div *ngIf="candidate.hasLanguages; else addLanguages" class="col-md-2"><span class="pb-0 pt-0 float-right  btn btn-outline-primary btn-sm" jhiTranslate="entity.action.view" [routerLink]="['../languages']">Add</span></div>
	                            		<ng-template #addLanguages>
                                            <div  class="col-md-2"><span class="pb-0 pt-0 float-right  btn btn-outline-primary btn-sm" jhiTranslate="entity.action.add" 
                                                        (click)="setRouterAddProfileCategoryParams()" [routerLink]="['/', { outlets: { popup: 'new-candidate-language-proficiency' } }]">Add</span></div>
	                            		</ng-template>
	                           	</div>
	                           	<hr />
	                           	<div class="row ">
	                        			<div class="col-md-10 ">
	                            			<h4 class="small font-weight-bold" jhiTranslate="gradzcircleApp.candidate.profileScore"></h4>
	                            		</div>	                            
	                            		<div  class="col-md-2"><h4 class="small font-weight-bold"> <span class="pb-0 pt-0 float-right">{{candidate.profileScore}}%</span></h4></div>
	                           	</div>
	                            	<div>
	                            		<ngb-progressbar type="success" [value]="candidate.profileScore"></ngb-progressbar>
	                           	</div>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-lg-8">
	                    <div class="row mb-3 d-none">
	                        <div class="col">
	                            <div class="card text-white bg-primary shadow">
	                                <div class="card-body">
	                                    <div class="row mb-2">
	                                        <div class="col">
	                                            <p class="m-0">Peformance</p>
	                                            <p class="m-0"><strong>65.2%</strong></p>
	                                        </div>
	                                        <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
	                                    </div>
	                                    <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i> 5% since last month</p>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col">
	                            <div class="card text-white bg-success shadow">
	                                <div class="card-body">
	                                    <div class="row mb-2">
	                                        <div class="col">
	                                            <p class="m-0">Peformance</p>
	                                            <p class="m-0"><strong>65.2%</strong></p>
	                                        </div>
	                                        <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
	                                    </div>
	                                    <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i> 5% since last month</p>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="col">
	                            <div class="card shadow mb-3">
	                                <div class="card-header py-3">
	                                    <p class="text-primary m-0 font-weight-bold">User Settings</p>
	                                </div>
	                                <div class="card-body">
                                        <router-outlet name="primarySetting"></router-outlet>
                                    </div>    
	                            </div>
	                            <div class="card shadow">
	                                <div class="card-header py-3">
	                                    <p class="text-primary m-0 font-weight-bold">Contact Settings</p>
	                                </div>
	                                <div class="card-body">
                                       <router-outlet name="contactSetting"></router-outlet>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
   		 </div>
	</div>
</div>
