#wrapper {
	display: flex;
}

#wrapper #content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: hidden;
  margin-top: 5rem;
}

#wrapper #content-wrapper #content {
	flex: 1 0 auto;
}

.portfolio-block.block-intro {
  text-align: center;
}

@media (min-width:768px) {
  .portfolio-block {
    padding-bottom: 100px;
    padding-top: 100px;
  }
}

.portfolio-block {
  padding-bottom: 60px;
  padding-top: 60px;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6!important;
}

.portfolio-block.block-intro .avatar {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 100px;
  margin-bottom: 30px;
}

.portfolio-block.block-intro .about-me {
  max-width: 800px;
  margin: 0 auto;
}

.portfolio-block.block-intro p {
  font-size: 1.5em;
  margin-bottom: 30px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.portfolio-block.cv {
  padding-top: 30px;
}

@media (min-width:768px) {
  .portfolio-block {
    padding-bottom: 100px;
    padding-top: 100px;
  }
}

.portfolio-block {
  padding-bottom: 60px;
  padding-top: 60px;
}

.portfolio-block.cv .group {
  max-width: 800px;
  margin: auto;
}

.portfolio-block .heading {
  margin-bottom: 50px;
  text-align: center;
}

.portfolio-block.cv h2 {
  font-weight: 700;
  margin-bottom: 70px;
}

.portfolio-block .heading h2 {
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.portfolio-block.cv .group .item {
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
}

.portfolio-block.cv .group .item .row {
  margin-bottom: 5px;
}

.portfolio-block.cv .education h3, .portfolio-block.cv .work-experience h3 {
  font-weight: 700;
}

.portfolio-block.cv h3 {
  font-size: 1.3rem;
}

.portfolio-block.cv .group .organization {
  font-size: .85em;
  background-color: #0ea0ff;
  display: inline-block;
  color: #fff;
  padding: 2px 8px;
  border-radius: 2em;
}

.portfolio-block.cv .group .projects {
  font-size: .85em;
  background-color: #36b9cc;
  display: inline-block;
  color: #fff;
  padding: 2px 8px;
  border-radius: 2em;
}

.portfolio-block.cv .group .certs {
  font-size: .85em;
  background-color: #b18bfa;
  display: inline-block;
  color: #fff;
  padding: 2px 8px;
  border-radius: 2em;
}

.portfolio-block.cv .group .hobbies {
  font-size: .85em;
  background-color: #f881cf;
  display: inline-block;
  color: #fff;
  padding: 2px 8px;
  border-radius: 2em;
}

.portfolio-block.cv .group .score {
  font-size: .85em;
  background-color: #151df4;
  display: inline-block;
  color: #fff;
  padding: 2px 8px;
  border-radius: 2em;
}

.portfolio-block.cv .group .period {
  font-size: .8rem;
  float: right;
  margin-right: 40px;
  font-weight: 700;
  margin-top: 4px;
  color: #6c757d;
  opacity: 1;
}


.portfolio-block.cv .group:not(:first-child) {
  margin-top: 30px;
}

.portfolio-block.cv .education.group .organization {
  background-color: #20c997;
}

.portfolio-info-card {
  padding: 40px;
  box-shadow: 0 2px 10px rgba(0,0,0,.075);
  height: 100%;
}

.portfolio-info-card h2 {
  margin-top: 0;
  margin-bottom: 24px!important;
  font-size: 1.4rem;
}

.portfolio-info-card.skills h3 {
  margin-top: 25px;
  font-size: 1rem;
  font-weight: 700;
}

.portfolio-info-card.skills .progress {
  height: 3px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

.portfolio-info-card.contact-info {
  font-weight: 300;
}

.portfolio-info-card.contact-info .icon {
  font-size: 1.3em;
  padding-top: .3rem!important;
  color: #6091ef;
  position: relative;
  bottom: 4px;
}

.portfolio-block.cv .hobbies p {
  max-width: 700px;
  margin: auto;
  font-size: 1.2em;
  font-weight: 300;
}

.page-footer {
  padding-top: 35px;
  border-top: 1px solid #ddd;
  text-align: center;
  padding-bottom: 20px;
}

.page-footer .links, .page-footer a {
  display: inline-block;
}

.page-footer a {
  margin: 0 10px;
  color: #282b2d;
  font-size: 18px;
}

a:hover {
  color: #0075c1;
  text-decoration: underline;
}

a {
  color: #0ea0ff;
  text-decoration: none;
  background-color: transparent;
}



.page-footer .social-icons {
  margin-top: 20px;
  margin-bottom: 16px;
}

.page-footer .social-icons a:hover {
  opacity: 1;
}

.page-footer .social-icons a {
  font-size: 18px;
  margin: 0 3px;
  color: #fff;
  border: 1px solid;
  opacity: .75;
  border-radius: 50%;
  width: 36px;
  display: inline-block;
  height: 36px;
  text-align: center;
  background-color: #c5c9d2;
  line-height: 34px;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #858796;
}

table {
  border-collapse: collapse;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #e3e6f0;
}












