<form novalidate (ngSubmit)="save()" [formGroup]="contactSettingForm">
	<div formGroupName="address">
	    <div class="form-group"><label for="address"><strong>Address</strong></label>
	        <input type="text" class="form-control" id="address" formControlName="addressLineOne">
	    </div>
	    <div class="form-row">
	        <div class="col">
	            <div class="form-group"><label for="city"><strong>City</strong></label>
	                <input type="text" class="form-control" id="city"
	                    placeholder="{{'global.form.required' | translate}}"
	                    formControlName="city"> 
	                    <span class="text-danger" *ngIf="(contactSettingForm.get('address.city').touched || 
	                                                contactSettingForm.get('address.city').dirty) && 
	                                                                        contactSettingForm.get('address.city').errors">
	                    <span
	                    *ngIf="contactSettingForm.get('address.city').errors.required">
	                        Please enter city. </span>
	                </span>
	            </div>
	        </div>
	        <div class="col">
	            <div class="form-group"><label for="country"><strong>Country</strong></label>
					<tag-input name="country" formControlName="country"
						theme='bootstrap' [onlyFromAutocomplete]="true"
						[placeholder]="'Country +'" [onTextChangeDebounce]="500"
						[secondaryPlaceholder]="'Required'" [maxItems]='1'> <tag-input-dropdown
						[autocompleteObservable]='requestCountryData'></tag-input-dropdown>
					</tag-input>
					<span class="text-danger"
						*ngIf="(contactSettingForm.get('address.country').touched || 
                                                                    contactSettingForm.get('address.country').dirty) && 
                                                                    contactSettingForm.get('address.country').errors">
						<span
						*ngIf="contactSettingForm.get('address.country').errors.required">
							Please select country. </span>
					</span>
				</div>
	        </div>
	        
	    </div>
  
		 <div class="form-row">
		 	<div class="col-md-2">
		 		<div class="form-group">
			 		<label for="phone"><strong>Code</strong></label>
			        <input type="text" class="form-control" id="phoneCode" formControlName="phoneCode"> <span class="text-danger"
						*ngIf="(contactSettingForm.get('address.phoneCode').touched || 
                                    contactSettingForm.get('address.phoneCode').dirty) && 
                                    contactSettingForm.get('address.phoneCode').errors">
						<span style="font-size:12px;"
						*ngIf="contactSettingForm.get('address.phoneCode').errors.required">
							Phone code. </span> <span style="font-size:12px;"
						*ngIf="contactSettingForm.get('address.phoneCode').errors.pattern">
							Phone code invalid. </span>

					</span>
				</div>
		    </div>
		    <div class="col">
		 		<div class="form-group">
			 		<label for="phone"><strong>Phone Number</strong></label>
			        <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
			        <span class="text-danger"
							*ngIf="(contactSettingForm.get('address.phoneNumber').touched || 
	                                                                     contactSettingForm.get('address.phoneNumber').dirty) && 
	                                                                     contactSettingForm.get('address.phoneNumber').errors">
							<span
							*ngIf="contactSettingForm.get('address.phoneNumber').errors.required">
								Please enter your phone number. </span> <span
							*ngIf="contactSettingForm.get('address.phoneNumber').errors.pattern">
								Please enter a valid phone number. </span>
							<span
							*ngIf="contactSettingForm.get('address.phoneNumber').errors.minlength">
								Phone number must be 10 digits. </span>
							<span
							*ngIf="contactSettingForm.get('address.phoneNumber').errors.maxlength">
								Phone number must be 10 digits. </span>
					</span>
		        </div>
		    </div>
		  </div>
	    	  <div class="form-group">
	    	  		<button class="btn btn-primary btn-sm float-right" type="submit" [disabled]="!contactSettingForm.valid"
	        [routerLink]="['/candidate-profile/settings',{outlets:{ contactSetting: 'editUserContactSetting'}}]">Save Settings</button>
	        <button class="btn btn-warning btn-sm float-left" type="button" [routerLink]="['/candidate-profile/settings']" >Discard Changes</button>
	       </div>
     </div> 
</form>