


<!--  <div class="card-body">
	<div class="row py-4">
		<div class="col-md-2 ">
			<span jhiTranslate="gradzcircleApp.candidate.firstName" class="font-weight-bold "></span>
		</div>
		<div class="col-md-3">{{candidate.firstName}}</div>
		<div class="col-md-2 offset-md-1">
			<span class="font-weight-bold " jhiTranslate="gradzcircleApp.candidate.lastName"></span>
		</div>
		<div class="col-md-3">{{candidate.lastName}}</div>
	</div>
	<div class="row py-4">
		<div class="col-md-2 ">
			<span jhiTranslate="userManagement.email" class="font-weight-bold "></span>
		</div>
		<div class="col-md-3">{{candidate.login.email}}</div>
		<div class="col-md-2 offset-md-1">
			<span class="font-weight-bold " jhiTranslate="gradzcircleApp.candidate.careerInterests"></span>
		</div>
		<div class="col-md-3"><span *ngFor="let jobCategory of candidate.jobCategories">{{jobCategory.jobCategory}}</span></div>
	</div>
	<div class="row py-4">
		<div class="col-md-2 ">
			<span jhiTranslate="gradzcircleApp.candidate.nationality" class="font-weight-bold "></span>
		</div>
		<div class="col-md-3">{{candidate.nationality?candidate.nationality[0].nationality:''}}</div>
		<div class="col-md-2 offset-md-1">
			<span class="font-weight-bold " jhiTranslate="gradzcircleApp.candidate.gender"></span>
		</div>
		<div class="col-md-3">{{candidate.gender?(candidate.gender.gender):''}}</div>
	</div>
	<div class="row py-4">
		<div class="col-md-2 ">
			<span jhiTranslate="gradzcircleApp.candidate.maritalStatus" class="font-weight-bold "></span>
		</div>
		<div class="col-md-3">{{candidate.maritalStatus?(candidate.maritalStatus.status):''}}</div>
		<div class="col-md-2 offset-md-1">
			<span class="font-weight-bold " jhiTranslate="gradzcircleApp.candidate.differentlyAbled"> </span>
		</div>
		<div class="col-md-3">{{candidate.differentlyAbled?(candidate.differentlyAbled?'Yes':'No'):''}}</div>
	</div>
	<div class="row py-4">
		<div class="col-md-2 ">
			<span jhiTranslate="gradzcircleApp.address.detail.title" class="font-weight-bold "></span>
		</div>
		<div class="col-md-3">{{candidate.addresses?(candidate.addresses[0]?.addressLineOne):''}}</div>
		<div class="col-md-2 offset-md-1">
			<span class="font-weight-bold " jhiTranslate="gradzcircleApp.address.zip"> </span>
		</div>
		<div class="col-md-3">{{candidate.addresses?(candidate.addresses[0]?.zip):''}}</div>
	</div>
	<div class="row py-4">
		<div class="col-md-2 ">
			<span jhiTranslate="gradzcircleApp.address.city" class="font-weight-bold "></span>
		</div>
		<div class="col-md-3">{{candidate.addresses?(candidate.addresses[0]?.city):''}}</div>
		<div class="col-md-2 offset-md-1">
			<span class="font-weight-bold " jhiTranslate="gradzcircleApp.address.state"> </span>
		</div>
		<div class="col-md-3">{{candidate.addresses?(candidate.addresses[0]?.state):''}}</div>
	</div>
	<div class="row py-4">
		<div class="col-md-2 ">
			<span jhiTranslate="gradzcircleApp.candidate.phoneNumber" class="font-weight-bold "></span>
		</div>
		<div class="col-md-3">{{candidate.phoneCode?candidate.phoneCode:''}}-{{candidate.phoneNumber?candidate.phoneNumber:''}}</div>
		<div class="col-md-2 offset-md-1">
			<span class="font-weight-bold " jhiTranslate="gradzcircleApp.address.country"> </span>
		</div>
		<div class="col-md-3">{{candidate.addresses?(candidate.addresses[0]?.country?candidate.addresses[0]?.country[0].countryNiceName:''):''}}</div>
	</div>
	
	<div class="row py-4">

		<div class="col-md-12  my-4 text-right d-block">
			<a class="btn btn-sm  btn-primary" (click)="setRouteParams()"
				[routerLink]="['../edit']"> <span
				class="icon icon-edit">Edit</span>
			</a>
		</div>
	</div>
</div>-->
