
<div class="container my-3">


    <div class="row">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="row mx-4 my-4 ">
                    <div class="col-md-11">
                        <p class="classic-title h2">Languages</p>
                        
                    </div>
                    
                </div>
               
                    <div *ngIf="candidateLanguageProficiencies?.length===0; else elseBlock" >
                         <div class="row mb-2 mx-4 justify-content-end">
                        <a class="btn btn-sm btn-pill btn-primary " [routerLink]="['/', { outlets: { popup: 'candidate-language-proficiency-new/'+ candidateId + '/new' } }]">
                                        <span class="icon  icon-circle-with-plus"></span>Add
                        </a>
                    </div>
                </div>
               

     
                <ng-template #elseBlock>
                    <div class="row mx-4 my-3">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th class="text-center"><span class="font-weight-bold text-muted" jhiTranslate="gradzcircleApp.language.language">Language</span></th>
                                    <th class="text-center"><span class="font-weight-bold text-muted" jhiTranslate="gradzcircleApp.candidateLanguageProficiency.speakProficiency">Speak</span</th>
                                    <th class="text-center"><span class="font-weight-bold text-muted" jhiTranslate="gradzcircleApp.candidateLanguageProficiency.readProficiency">Read</span</th>
                                    <th class="text-center"> <span class="font-weight-bold text-muted" jhiTranslate="gradzcircleApp.candidateLanguageProficiency.writeProficiency">Write</span</th>
                                    <th class="text-center"> <span class="font-weight-bold text-muted" ></span</th>
                                    <th class="text-center"> <span class="font-weight-bold text-muted" ></span</th>
                                </tr>
                        </thead>
                        <tbody *ngFor= "let candidateProficiency of candidateLanguageProficiencies " >
                            
                                    <tr>
                                        <th scope="row" class="text-center">{{candidateProficiency.language?.language}}</th>
                                        <td class="text-center">{{candidateProficiency.speakProficiency?"Yes":"No"}}</td>
                                        <td class="text-center">{{candidateProficiency.readProficiency?"Yes":"No"}}</td>
                                        <td class="text-center">{{candidateProficiency.writeProficiency?"Yes":"No"}}</td>
                                        <td class="text-center"><a [routerLink]="['/', { outlets: { popup: 'candidate-language-proficiency/'+ candidateProficiency.id + '/edit'} }]"><span class="icon icon-edit"></span></a></td>
                                        <td class="text-center"><a (click)="open()"><span class="icon icon-trash" style="color:maroon"></span></a></td>
                                    </tr>                  
                        </tbody>
                    </table>                                 
                     </div>
                    <div class="row mx-4 my-3 justify-content-end">
                        <a class="btn btn-pill btn-primary" [routerLink]="['lang',candidateId]">Add</a>
                    </div>
                </ng-template>


            </div>
        </div>
    </div>
</div>