
<div *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_CANDIDATE']" class="row text-left user-photo pt-4 pb-4">
	<div class="col">
	 <img class="rounded-circle media-object"
			[src]="noImage ? defaultImage : userImage "
			style="visibility: visible; animation-name: zoomIn;"> 
			<span  class="white mt-2">{{user.firstName}} {{user.lastName}}</span>
			
	
	</div>
</div>
<div class="row user-menu">
	<div *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_CORPORATE']"  class="col p-0">
		<ul>
			
			<li><a class="" href="index.html"><span jhiTranslate="global.menu.corporate.dashboard" class="icon icon-list">Dashboard</span></a></li>
			<li><a class="" href="applied_jobs.html"><span class="icon icon-users" jhiTranslate="global.menu.corporate.linkedCandidates">My Candidates</span> </a></li>
			<li><a class="" href="#"><span class="icon icon-user" jhiTranslate="global.menu.corporate.profile">My Profile</span> </a></li>
			
		</ul>
	</div>
	<div *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_CANDIDATE']"  class="col p-0">
		<ul>
			
			<li ><a [routerLink]="['/job']" routerLinkActive="active"><span jhiTranslate="global.menu.candidate.dashboard" class="icon icon-list">Dashboard</span></a></li>
			<li><a  href="applied_jobs.html"> <span class="icon icon-add-to-list" jhiTranslate="global.menu.candidate.job.applied">Applied Jobs</span></a></li>
			<li><a  href="#"><i class="fas fa-clipboard-list"></i>Shortlisted Jobs<span class="badge shortlist-badge"></span></a></li>
			<li><a  [routerLink]="['/candidate-details']" routerLinkActive="active"><span class="icon icon-user" jhiTranslate="global.menu.candidate.profile">My Profile</span> </a></li>
		</ul>
	</div>
</div>
