<div>
    <h2>
        <span jhiTranslate="gradzcircleApp.captureCollege.home.title">Capture Colleges</span>
        <button class="btn btn-primary float-right jh-create-entity create-capture-college" [routerLink]="['/', { outlets: { popup: ['capture-college-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gradzcircleApp.captureCollege.home.createLabel">
            Create new Capture College
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gradzcircleApp.captureCollege.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="captureColleges">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gradzcircleApp.captureCollege.collegeName">College Name</span></th>
            <th><span jhiTranslate="gradzcircleApp.captureCollege.candidateEducation">Candidate Education</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let captureCollege of captureColleges ;trackBy: trackId">
                <td><a [routerLink]="['../capture-college', captureCollege.id ]">{{captureCollege.id}}</a></td>
                <td>{{captureCollege.collegeName}}</td>
                <td>
                    <div *ngIf="captureCollege.candidateEducation">
                        <a [routerLink]="['../candidate-education', captureCollege.candidateEducation?.id ]" >{{captureCollege.candidateEducation?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../capture-college', captureCollege.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'capture-college/'+ captureCollege.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'capture-college/'+ captureCollege.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
