<main class="page login-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading logo-img"></div>
            <div class="text-center"> <h2 class="text-info">Hello Talent</h2></div>
            	<div class="text-success text-center" *ngIf="success"
				jhiTranslate="register.messages.success">
				<strong>Thanks for interest in Gradzcircle!</strong> Please check
				your email and click the verification link to complete registration.
			</div>

			<div class="text-danger text-center" *ngIf="error"
				jhiTranslate="register.messages.error.fail">
				<strong>Registration failed!</strong> Please try again later.
			</div>

			<div class="text-danger text-center" *ngIf="errorUserExists"
				jhiTranslate="register.messages.error.emailexists">
				<strong>Email is already in use!</strong> Please choose another one.
			</div>
            <form role="form" novalidate (ngSubmit)="register()" [formGroup]="registerForm">
                <div class="form-group">
                		<label for="email">Email</label>
              		<input class="form-control" formControlName="email" aria-describedby="email"
              		[ngClass]="{
        							'is-invalid': !registerForm.get('email').valid && (registerForm.get('email').dirty || registerForm.get('email').touched)				
      						}"/>
      				<div class="invalid-feedback" *ngIf="registerForm.get('email').errors && (registerForm.get('email').dirty || registerForm.get('email').touched)">
			        		<p *ngIf="registerForm.get('email').errors.required">Email is required</p>
			        		<p *ngIf="registerForm.get('email').errors.pattern">Please enter a valid email address</p>
			     	</div>
                	</div>
                <div formGroupName="passwordGroup">
                		<div class="form-group">
	                		<label for="password">Password</label>
	                		<input type="password" class="form-control" id="password" formControlName="password"
	                		[ngClass]="{
        							'is-invalid': !registerForm.get('passwordGroup.password').valid && (registerForm.get('passwordGroup.password').dirty || registerForm.get('passwordGroup.password').touched)				
      							}"/>
	      				<div class="invalid-feedback" *ngIf="registerForm.get('passwordGroup.password').errors && (registerForm.get('passwordGroup.password').dirty || registerForm.get('passwordGroup.password').touched)">
				        		<p *ngIf="registerForm.get('passwordGroup.password').errors.minlength">Passwords should be at least 8 characters</p>
				     	</div>
	                	</div>
	                	<div class="form-group">
	                		<label for="repeatPassword">Confirm Password</label>
	                		<input type="password" class="form-control" id="repeatPassword" formControlName="confirmPassword"
	                		[ngClass]="{
        							'is-invalid': !registerForm.get('passwordGroup').valid && (registerForm.get('passwordGroup.confirmPassword').dirty || registerForm.get('passwordGroup.confirmPassword').touched)				
      							}"/>
	      				<div class="invalid-feedback" *ngIf="registerForm.get('passwordGroup').errors && 
	      												(registerForm.get('passwordGroup.confirmPassword').dirty || 
	      														registerForm.get('passwordGroup.confirmPassword').touched)">
				        		<p *ngIf="!registerForm.get('passwordGroup').errors?.match">Passwords do not match</p>
				     	</div>
	                	</div>
                	</div>
                <button class="btn btn-primary btn-block" type="submit"[disabled]="!registerForm.valid">Sign up</button>
           </form>
        </div>
    </section>
</main>



