<section *jhiHasAnyAuthority="['ROLE_CORPORATE']" class="clean-block clean-post dark">
    <div class="container">
        <div class="block-content pt-5">
            <!--  <div class="post-image corp-profile-img" >            		
            </div>-->
            <div *ngIf="corporate && (corporate.overview || corporate.establishedSince || corporate.industry?.industryName); else hasNoDataStored" class="post-body ">
                <h1 class="text-center font-weight-bold">{{corporate.name}}</h1>
                <h5 class="text-center font-weight-light">{{corporate.industry?.industryName}}</h5>
                <p class="text-center font-weight-light">{{corporate.tagLine}}</p>
                <div class="row">
                    <div class="col-md-3 text-center">
                        <figure class="figure">
                        		<img class="rounded img-fluid figure-img" [src]="noImage ? defaultImage : imageUrl "
                        			 alt="A generic square placeholder image with rounded corners in a figure." />
                            <div class="text-center">
                            		<button class="btn btn-primary btn-block" type="button" (click)="setProfilePicmgmtRouteParams()" [routerLink]="['/', { outlets: { popup: 'update-picture' } }]">Logo</button>
							</div>
                        </figure>
                    </div>
                   	<div class="col pl-5 pr-5">
                        <p class="font-weight-bold h5" jhiTranslate="gradzcircleApp.corporate.overview">About you</p>
                        <p class="font-weight-light" [innerHtml]="corporate.overview"> 
                    </div>
                </div>
                <div  *ngIf="corporate.benefits" class="row">
                		<div class="col  pl-5">
                        <p class="font-weight-bold h5" jhiTranslate="gradzcircleApp.corporate.benefits"></p>
                        <p class="font-weight-light" [innerHtml]="corporate.benefits"> </p>
                    </div>
                </div>
                <div *ngIf="corporate.culture" class="row">
                		<div class="col  pl-5">
                        <p class="font-weight-bold h5" jhiTranslate="gradzcircleApp.corporate.culture">About you</p>
                        <p class="font-weight-light " [innerHtml]="corporate.culture"> 
                    </div>
                </div>
                <div class="row">
                		<div class="col  pl-5">
                        <p class="font-weight-bold h5 "  jhiTranslate="gradzcircleApp.corporate.establishedSince">About you</p>
                        <p class="font-weight-light " >{{corporate.establishedSince | date:'mediumDate'}}</p>
                    </div>
                    <div class="col  pl-5">
                        <p class="font-weight-bold h5" jhiTranslate="gradzcircleApp.corporate.email">About you</p>
                        <p class="font-weight-light ">{{corporate.login.email}}</p>
                    </div>
                </div>
                 <div class="row">
                		<div class="col  pl-5">
                        <p class="font-weight-bold h5 " jhiTranslate="gradzcircleApp.corporate.website">About you</p>
                        <p class="font-weight-light">{{corporate.website}}</p>
                    </div>
                    <div class="col  pl-5">
                        <p class="font-weight-bold h5 " jhiTranslate="gradzcircleApp.corporate.address">About you</p>
                        <p class="font-weight-light">{{corporate.city}},&nbsp;{{corporate.country[0]?.countryNiceName}}</p>
                    </div>
                </div>
                <div class="row pb-5 pr-2">
                		<div class="col-md-12 text-center">
						<button type="submit" (click)="setRouterData()"
								[routerLink]="['/', { outlets: { popup: 'corporate/edit'} }]"
								replaceUrl="true" class="btn btn-primary btn-block"
								jhiTranslate="gradzcircleApp.corporate.home.editDetails">Update Details
						</button>
					</div>
                </div>
            </div>
            <ng-template #hasNoDataStored class="post-body">
            		 <h1 class="text-center font-weight-bold">Company Name</h1>
                <h5 class="text-center font-weight-light"> Industry Type</h5>
                <p class="text-center font-weight-light">Your Tag Line</p>
                <div class="row">
                    <div class="col-md-3 pl-5  text-center">
                        <figure class="figure">
                        		<img class="rounded img-fluid figure-img" [src]="noImage ? defaultImage : imageUrl "
                        			 alt="A generic square placeholder image with rounded corners in a figure." />
                            <div class="text-center">
                            		<button class="btn btn-primary btn-block" type="button" (click)="setProfilePicmgmtRouteParams()" [routerLink]="['/', { outlets: { popup: 'update-picture' } }]">Logo</button>
							</div>
                        </figure>
                    </div>
                    <div class="col pl-5 pr-5">
                        <p class="font-weight-bold h5" jhiTranslate="gradzcircleApp.corporate.overview">About you</p>
                        <p class="font-weight-light"> Please tell our talent about you !!
                    </div>
                </div>
                <div class="row">
                		<div class="col  pl-5">
                        <p class="font-weight-bold h5" jhiTranslate="gradzcircleApp.corporate.benefits"></p>
                        <p class="font-weight-light "> Optional - Please tell our talent - benefits you offer !!</p>
                    </div>
                </div>
                <div class="row">
                		<div class="col  pl-5">
                        <p class="font-weight-bold h5" jhiTranslate="gradzcircleApp.corporate.culture">About you</p>
                        <p class="font-weight-light "> Optional - Your culture says a lot about you!! Let our talent know about it...
                    </div>
                </div>
                <div class="row">
                		<div class="col  pl-5">
                        <p class="font-weight-bold h5 "  jhiTranslate="gradzcircleApp.corporate.establishedSince">About you</p>
                        <p class="font-weight-light " >You have been around  for how long ?</p>
                    </div>
                    <div class="col  pl-5">
                        <p class="font-weight-bold h5" jhiTranslate="gradzcircleApp.corporate.email">About you</p>
                        <p class="font-weight-light ">{{corporate?.login?.email}}</p>
                    </div>
                </div>
                 <div class="row">
                		<div class="col  pl-5">
                        <p class="font-weight-bold h5 " jhiTranslate="gradzcircleApp.corporate.website">About you</p>
                        <p class="font-weight-light">Your Website !!</p>
                    </div>
                    <div class="col  pl-5">
                        <p class="font-weight-bold h5 " jhiTranslate="gradzcircleApp.corporate.address">About you</p>
                        <p class="font-weight-light">Where are you located !!</p>
                    </div>
                </div>
                <div class="row pb-5 pr-2">
                		<div class="col-md-5 offset-md-4 text-center">
						<button type="submit" (click)="setRouterData()"
								[routerLink]="['/', { outlets: { popup: 'corporate/edit'} }]"
								replaceUrl="true" class="btn btn-primary btn"
								jhiTranslate="gradzcircleApp.corporate.home.addDetails">Update Details
						</button>
					</div>
                </div>
            </ng-template>
        </div>
    </div>
</section>



<div *jhiHasAnyAuthority="['ROLE_ADMIN']" class="mt-5">
	<h2>
		<span jhiTranslate="gradzcircleApp.corporate.home.title">Corporates</span>
		<button
			class="btn btn-primary float-right jh-create-entity create-corporate"
			[routerLink]="['/', { outlets: { popup: ['corporate-new'] } }]">
			<span class="fa fa-plus"></span> <span class="hidden-sm-down"
				jhiTranslate="gradzcircleApp.corporate.home.createLabel">
				Create new Corporate </span>
		</button>
	</h2>
	<jhi-alert></jhi-alert>
	<div class="row">
		<div class="col-sm-12">
			<form name="searchForm" class="form-inline">
				<div class="input-group w-100 mt-3">
					<input type="text" class="form-control" [(ngModel)]="currentSearch"
						id="currentSearch" name="currentSearch"
						placeholder="{{ 'gradzcircleApp.corporate.home.search' | translate }}">
					<button class="input-group-addon btn btn-info"
						(click)="search(currentSearch)">
						<span class="fa fa-search"></span>
					</button>
					<button class="input-group-addon btn btn-danger" (click)="clear()"
						*ngIf="currentSearch">
						<span class="fa fa-trash-o"></span>
					</button>
				</div>
			</form>
		</div>
	</div>
	<br />
	<div class="table-responsive" *ngIf="corporates">
		<table class="table table-striped">
			<thead>
				<tr>
					<th><span jhiTranslate="global.field.id">ID</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.name">Corporate
							Name</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.address">Corporate
							Address</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.city">Corporate
							City</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.corporate.establishedSince">Established
							Since</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.email">Corporate
							Email</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.overview">Corporate
							Overview</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.benefits">Corporate
							Benefits</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.escrowAmount">Corporate
							EscrowAmount</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.website">Corporate
							Website</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.facebook">Corporate
							Facebook</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.twitter">Corporate
							Twitter</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.instagram">Corporate
							Instagram</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.linkedIn">Corporate
							Linked In</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.culture">Corporate
							Culture</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.corporate.contactPerson">Contact
							Person</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.phone">Corporate
							Phone</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.phoneCode">Corporate
							Phone Code</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.corporate.personDesignation">Contact
							Person Designation</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.tagLine">Corporate
							Tag Line</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.country">Country</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.industry">Industry</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.login">Login</span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let corporate of corporates ;trackBy: trackId">
					<td><a [routerLink]="['../corporate', corporate.id ]">{{corporate.id}}</a></td>
					<td>{{corporate.name}}</td>
					<td>{{corporate.address}}</td>
					<td>{{corporate.city}}</td>
					<td>{{corporate.establishedSince | date:'mediumDate'}}</td>
					<td>{{corporate.email}}</td>
					<td>{{corporate.overview}}</td>
					<td>{{corporate.benefits}}</td>
					<td>{{corporate.escrowAmount}}</td>
					<td>{{corporate.website}}</td>
					<td>{{corporate.facebook}}</td>
					<td>{{corporate.twitter}}</td>
					<td>{{corporate.instagram}}</td>
					<td>{{corporate.linkedIn}}</td>
					<td>{{corporate.culture}}</td>
					<td>{{corporate.contactPerson}}</td>
					<td>{{corporate.phone}}</td>
					<td>{{corporate.phoneCode}}</td>
					<td>{{corporate.personDesignation}}</td>
					<td>{{corporate.tagLine}}</td>
					<td>
						<div *ngIf="corporate.country">
							<a [routerLink]="['../country', corporate.country?.id ]">{{corporate.country?.id}}</a>
						</div>
					</td>
					<td>
						<div *ngIf="corporate.industry">
							<a [routerLink]="['../industry', corporate.industry?.id ]">{{corporate.industry?.id}}</a>
						</div>
					</td>
					<td>{{corporate.login?.id}}</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="submit"
								[routerLink]="['../corporateDetails' ]"
								class="btn btn-info btn-sm">
								<span class="fa fa-eye"></span> <span class="d-none d-md-inline"
									jhiTranslate="entity.action.view">View</span>
							</button>
							<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'corporate/'+ corporate.id + '/edit'} }]"
								replaceUrl="true" class="btn btn-primary btn-sm">
								<span class="fa fa-pencil"></span> <span
									class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
							</button>
							<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'corporate/'+ corporate.id + '/delete'} }]"
								replaceUrl="true" class="btn btn-danger btn-sm">
								<span class="fa fa-remove"></span> <span
									class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>