.profile-mybackground {
	background: url('../../../content/images/candidate-profile.jpg');
	height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

figure {
	margin: 0;
	margin-top: 52px;
}

.after-header {
	margin-top: 70px;
}

.profile_page_head {
	height: 48vh;
	background-image: url(../../../content/images/banner-1.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}


.profile_page_head_content {
	margin-top: -11vh;
}

.profile_page {
	padding-left: 0 !important;
	background: #f2f2f2;
	box-sizing: border-box;
	box-shadow: 0px 1px 4px 0px rgba(183, 181, 181, 0.5);
}

#accordion .card-header {
	background: #1276ae;
}

#accordion .card-header a {
	color: #fff;
	font-weight: 500;
	letter-spacing: 1px;
}

#accordion .card-header .fa {
	cursor: pointer;
}

#accordion .card-header h6 {
	cursor: pointer;
	color: #ffffff !important;
}

#accordion .card-header h6:before {
	content: "\f078";
	font-family: 'FontAwesome';
	margin-right: 10px;
}

#accordion .card-header h6.collapsed:before {
	content: "\f077";
	font-family: 'FontAwesome';
}

#accordion .form-btn {
	background: #e8e8e8;
}

a.card-link.d-block[aria-expanded|="true"]:after {
	font-family: FontAwesome;
	content: "\f068";
	position: absolute;
	right: 43px;
}

a.card-link.d-block[aria-expanded|="false"]:after {
	font-family: FontAwesome;
	content: "\f067";
	position: absolute;
	right: 43px;
}

db-left {
    height: auto;
}
.db-left {
    background: #293540;
    width: 280px;
    margin-bottom: 60px;
    overflow: auto;
}
@media (min-width: 768px)
.col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

@media (min-width: 992px) {
  .db-right {
    padding: 0px;
  }
}

@media (min-width: 992px) {
  .db-right .db-content {
    height: auto;
  }
}

@media (max-width: 991px) {
  .db-right .db-content {
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
}

.db-right .db-content .head-sec {
  border-bottom: 1px solid #e3e3e3;
}

.db-right .db-content h5 {
 /*font-family: 'proxima_novabold';*/
  color: #3d4069;
}

.edit_profile {
    background: #1276ae;
    border: 0;
    color: #fff !important;
    padding: 10px 40px 10px 20px;
    cursor: pointer;
    margin: 8px;
    position: relative;
}

.save_profile{
  display: none;
}

.cmny_view {
    z-index: 1;
    margin-top: -11vh;
}

.my_profile_title {
    font-size: 36px;
    color: #FFFFFF;
}

.my_profile_detail {
    font-size: 18px;
    font-family: inherit;
}
.icon-decorate {
    background: #1276ae;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
     font-size: 30px;
    color: #fff;
}
.icon i.fas {
    font-size: 30px;
    color: #fff;
}
.icon-detail {
    font-size: 24px;
    font-family: inherit;
}

