<main class="page projects-page">
	<section class="portfolio-block projects-cards">
		<div class="container">
			<div class="heading">
				<h1><strong>Candidate Bank</strong></h1>
			</div>
			<div class="row">
				
				<div *ngIf="candidateList?.length>0;else noData" class="col-md-12">
					<div class="row">
					    <div *ngFor="let candidate of candidateList" class="col-md-6 col-lg-4">
					        <div class="card shadow">
					        		<div class="mt-3 avatar border border-secondary" [style.backgroundImage]="!(candidate.login.imageUrl) ? 'url('+defaultImage+')' : 'url('+candidate.login.imageUrl+')'"></div>
					            <div class="card-body">
					                <h4 class="mb-0">{{candidate.firstName}}&nbsp;{{candidate.lastName}}</h4>
									<p class="text-muted card-text mb-0">{{candidate.qualificationWithHighestCourse}}</p>
									<button class="btn btn-primary btn-sm btn-block mt-1"
										(click)="setViewPublicProfileRouteParams(candidate.id,jobId,corporateId)"
										[routerLink]="['/', { outlets: { popup: 'candidate-public-profile'} }]">
										<span class="icon icon-add-user"></span> View
									</button>
					                
					            </div>
					        </div>
					    </div>
					   
					</div>
					<div *ngIf="candidateList" class="row">
						<div class="col d-flex justify-content-start  font-weight-light text-muted">
							<jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
						</div>
						<div class="col font-weight-light d-flex justify-content-end ">
							<ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [boundaryLinks]="true" [rotate]="true" [ellipses]="false" [maxSize]="5"
									(pageChange)="loadPage(page)"></ngb-pagination>
						</div>
					</div>
				</div>
				<ng-template #noData>
					<div class="row">
						No Data Available
					</div>
				</ng-template>
			</div>
			
			
		</div>
	</section>
</main>

