<form name="editForm" role="form" novalidate (ngSubmit)="save()"
	#editForm="ngForm">

	<div class="modal-header modal-header-decorate">
		<h6 class="modal-title" id="myCorporateLabel"
			jhiTranslate="gradzcircleApp.corporate.home.createOrEditLabel">Create
			or edit a Corporate</h6>
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" (click)="clear()">&times;</button>
	</div>
	<div *jhiHasAnyAuthority="['ROLE_CORPORATE']" class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<div class="form-group row mx-4 my-4">
			<div class="col-md-2">
				<label class="form-control-label font-weight-bold  mt-2"
					jhiTranslate="gradzcircleApp.corporate.name"
					for="field_corporateName">Corporate Name</label>
			</div>
			<div class="col-md-4"
				[class.has-danger]="name.invalid && name.touched">
				<input type="text" class="form-control" required #name="ngModel"
					name="name" id="field_corporateName" [(ngModel)]="corporate.name" />
				<span *ngIf="name.invalid && name.touched" class="text-danger">
					<small> Please your company name</small>
				</span>
			</div>
			<div class="col-md-2">
				<label class="form-control-label font-weight-bold  mt-2"
					jhiTranslate="gradzcircleApp.corporate.industry"
					for="field_industry">Industry</label>
			</div>
			<div class="col-md-4"
				[class.has-danger]="industry.invalid && industry.touched">
				<select class="form-control" #industry="ngModel" required
					name="industry" id="field_industry" name="industry"
					[(ngModel)]="corporate.industry">
					<option [ngValue]="null"></option>
					<option
						[ngValue]="industryOption.id === corporate.industry?.id ? corporate.industry : industryOption"
						*ngFor="let industryOption of industries; trackBy: trackIndustryById">{{industryOption.industryName}}</option>
				</select> <span *ngIf="industry.invalid && industry.touched"
					class="text-danger"> <small> Please select your
						Industry</small>
				</span>
			</div>
		</div>
		<div class="form-group row mx-4 my-4">
			<div class="col-md-2">
				<label class="form-control-label font-weight-bold  mt-2"
					jhiTranslate="gradzcircleApp.corporate.email"
					for="field_corporateEmail">Corporate Email</label>
			</div>
			<div class="col-md-4">
				<input type="text" class="form-control" name="email"
					id="field_corporateEmail" #corpEmail="ngModel" required disabled
					[(ngModel)]="corporate.login.email" /> <span
					*ngIf="corpEmail.invalid && corpEmail.touched" class="text-danger">
					<small> Please enter your email </small>
				</span>
			</div>
			<div class="col-md-2">
				<label class="form-control-label font-weight-bold  mt-2"
					jhiTranslate="gradzcircleApp.corporate.establishedSince"
					for="field_establishedSince">Established Since</label>
			</div>
			<div class="col-md-4"
				[class.has-danger]="establishedDate.invalid && establishedDate.touched" >
				<div class="input-group">
					<input id="field_establishedSince" type="text" class="form-control"
						required  name="establishedSince" #establishedDate="ngModel"
						ngbDatepicker  #establishedSinceDp="ngbDatepicker" jhiNotFutureDate
						[(ngModel)]="corporate.establishedSince" /> <span
						class="input-group-append ">
						<button class="btn btn-outline-primary" (click)="establishedSinceDp.toggle()" type="button">
									<fa-icon [icon]="'calendar-alt'" style="color:#0ea0ff"></fa-icon>
						</button>
					</span>
				</div>
				<span *ngIf="establishedDate.errors?.required && establishedDate.touched"
					class="text-danger"> <small> Please add your
						inception date</small>
				</span>
				<span *ngIf="establishedDate.touched && establishedDate.errors?.futureDate" class="text-danger">
						<small>Established date cannot be in future.</small>
				</span>
			</div>
		</div>
		<div class="form-group row mx-4 my-4">
			<div class="col-md-2 ">
				<label class="form-control-label font-weight-bold "
					jhiTranslate="gradzcircleApp.corporate.tagLine"
					for="field_corporateTagLine">Tag Line</label>
			</div>
			<div class="col-md-10">
				<input type="text" class="form-control" name="tagLine"
					id="field_corporateTagLine" [(ngModel)]="corporate.tagLine" />
			</div>
		</div>
		<div class="form-group row mx-4 my-4">
			<div class="col-md-2 ">
				<label class="form-control-label font-weight-bold "
					jhiTranslate="gradzcircleApp.corporate.overview"
					for="field_corporateOverview">About Us</label>
			</div>
			<div class="col-md-10">
				<ck-editor class="form-control " #overview="ngModel"
						 name="overview" required
						id="field_corporateOverview" [config]="editorConfig"
						[(ngModel)]="corporate.overview">
				</ck-editor>
				<span *ngIf="overview.touched && overview.invalid" class="text-danger">
					Please tell us about yourself
				</span>
			</div>
		</div>

		<div class="form-group row mx-4 my-4">
			<div class="col-md-2 ">
				<label class="form-control-label font-weight-bold "
					jhiTranslate="gradzcircleApp.corporate.culture"
					for="field_corporateCulture">Our Culture</label>
			</div>
			<div class="col-md-10">
				<ck-editor class="form-control " 
							 name="culture"
							id="field_corporateCulture" [config]="editorConfig"
							[(ngModel)]="corporate.culture">
				</ck-editor>
			</div>
		</div>
		<div class="form-group row mx-4 my-4">
			<div class="col-md-2 ">
				<label class="form-control-label font-weight-bold "
					jhiTranslate="gradzcircleApp.corporate.benefits"
					for="field_corporateBenefits">Employee Benefits</label>
			</div>
			<div class="col-md-10">
				<ck-editor class="form-control " 
							 name="benefits"
							id="field_corporateBenefits" [config]="editorConfig"
							[(ngModel)]="corporate.benefits">
				</ck-editor>
			</div>
		</div>
		<div class="form-group row mx-4 my-4">
			<div class="col-md-2 ">
				<label class="form-control-label font-weight-bold "
					jhiTranslate="gradzcircleApp.corporate.website"
					for="field_corporateWebsite">Corporate Website</label>
			</div>
			<div class="col-md-4">
				<input type="text" class="form-control" name="website"
					id="field_corporateWebsite" [(ngModel)]="corporate.website" />
			</div>
			<!-- <div class="col-md-2">
				<label class="form-control-label font-weight-bold "
					jhiTranslate="gradzcircleApp.corporate.linkedIn"
					for="field_corporateLinkedIn">Corporate Linked In</label>
			</div>
			 <div class="col-md-4">
				<input type="text" class="form-control" name="linkedIn"
					id="field_corporateLinkedIn" [(ngModel)]="corporate.linkedIn" />
			</div>-->
		</div>
		<!--  <div class="form-group row mx-4 my-4">
			<div class="col-md-2">
				<label class="form-control-label font-weight-bold "
					jhiTranslate="gradzcircleApp.corporate.facebook"
					for="field_corporateFacebook">Corporate Facebook</label>
			</div>
			<div class="col-md-4">
				<input type="text" class="form-control" name="facebook"
					id="field_corporateFacebook" [(ngModel)]="corporate.facebook" />
			</div>
			<div class="col-md-2">
				<label class="form-control-label font-weight-bold "
					jhiTranslate="gradzcircleApp.corporate.twitter"
					for="field_corporateTwitter">Corporate Twitter</label>
			</div>
			<div class="col-md-4">
				<input type="text" class="form-control" name="twitter"
					id="field_corporateTwitter" [(ngModel)]="corporate.twitter" />
			</div>
		</div>-->
		<!--  <div class="form-group row mx-4 my-4">
			<div class="col-md-2">
				<label class="form-control-label font-weight-bold "
					jhiTranslate="gradzcircleApp.corporate.instagram"
					for="field_corporateInstagram">Corporate Instagram</label>
			</div>
			<div class="col-md-4">
				<input type="text" class="form-control" name="instagram"
					id="field_corporateInstagram" [(ngModel)]="corporate.instagram" />
			</div>
		</div>-->
		<div class="form-group row mx-4 my-4">
			<div class="col-md-2">
				<label class="form-control-label font-weight-bold "
					jhiTranslate="gradzcircleApp.corporate.contactPerson"
					for="field_contactPerson">Contact Person</label>
			</div>
			<div class="col-md-4">
				<input type="text" class="form-control" name="contactPerson"
					id="field_contactPerson" [(ngModel)]="corporate.contactPerson" />
			</div>
			<div class="col-md-2">
				<label class="form-control-label font-weight-bold "
					jhiTranslate="gradzcircleApp.corporate.personDesignation"
					for="field_contactPersonDesignation">Contact Person
					Designation</label>
			</div>
			<div class="col-md-4">
				<input type="text" class="form-control" name="personDesignation"
					id="field_contactPersonDesignation"
					[(ngModel)]="corporate.personDesignation" />
			</div>
		</div>
		<div class="form-group row mx-4 my-4">
			<div class="col-md-2">
				<label class="form-control-label font-weight-bold "
					jhiTranslate="gradzcircleApp.corporate.address"
					for="field_corporateAddress">Corporate Address</label>
			</div>
			<div class="col-md-4">
				<input type="text" class="form-control" name="address"
					id="field_corporateAddress" [(ngModel)]="corporate.address" />
			</div>
			<div class="col-md-2">
				<label class="form-control-label font-weight-bold "
					jhiTranslate="gradzcircleApp.corporate.city" 
					for="field_corporateCity">Corporate City</label>
			</div>
			<div class="col-md-4" [class.has-danger]="city.invalid && city.touched">
				<input type="text" class="form-control" name="city" required #city="ngModel"
					id="field_corporateCity" [(ngModel)]="corporate.city" />
					<span *ngIf="city.invalid && city.touched"
						class="text-danger"> <small> Please enter city</small>
					</span>
			</div>
		</div>
		<div class="form-group row mx-4 my-4">
			<div class="col-md-2" >
				<label class="form-control-label font-weight-bold "
					jhiTranslate="gradzcircleApp.corporate.country" for="field_country">Country</label>
			</div>
			<div class="col-md-4"
				[class.has-danger]="country.invalid && country.touched">
				<tag-input name="country" [(ngModel)]="corporate.country" required #country="ngModel"
									theme='bootstrap' [onlyFromAutocomplete]="true"
									 [onTextChangeDebounce]="500"
									[secondaryPlaceholder]="'Required'" [maxItems]='1'> 
									<tag-input-dropdown [autocompleteObservable]='requestCountryData'></tag-input-dropdown>
								</tag-input>
				<span *ngIf="country.invalid && country.touched"
					class="text-danger"> <small> Please select Country</small>
				</span>
			</div>
			<div class="col-md-2">
				<label class="form-control-label font-weight-bold "
					jhiTranslate="gradzcircleApp.corporate.phone"
					for="field_corporatePhone">Corporate Phone</label>
			</div>
			<!--  -<div class="col-md-2"
				[class.has-danger]="phoneCode.invalid && phoneCode.touched">
				<input type="text" class="form-control" name="phoneCode"
					id="field_corporatePhoneCode" required #phoneCode="ngModel" maxlength="4"
					pattern="[+.0-9]+" [(ngModel)]="corporate.phoneCode" /> <span
					*ngIf="phoneCode.invalid && phoneCode.touched" class="text-danger">
					<small>STD code or +91 if mobile No.</small>
				</span> <span *ngIf="phoneCode.hasError('pattern')" class="text-danger">
					<small>Please enter valid STD code</small>
				</span>
				<span *ngIf="phoneCode.hasError('maxlength')" class="text-danger">
					<small>STD code not valid </small>
				</span>
			</div>-->
			<div class="col-md-4"
				[class.has-danger]="phoneNumber.invalid && phoneNumber.touched">
				<input type="text" class="form-control" name="phone" 
					id="field_corporatePhone" required #phoneNumber="ngModel" maxLength="13"
					pattern="[+.0-9]+" [(ngModel)]="corporate.phone" /> <span
					*ngIf="phoneNumber.errors?.required && phoneNumber.touched"
					class="text-danger"> <small>Please enter phone number</small>
				</span> 
				<!--  <span *ngIf="phoneNumber.hasError('pattern')" class="text-danger">
					<small>Please enter phone number, starting with 0</small>
				</span>
				<span *ngIf="phoneNumber.hasError('maxlength')" class="text-danger">
					<small>Number must be 11 digits</small>
				</span>
				<span *ngIf="phoneNumber.hasError('minlength')" class="text-danger">
					<small>Number must be 11 digits</small>
				</span>-->
			</div>
		</div>

	</div>
	<div *jhiHasAnyAuthority="['ROLE_ADMIN']" class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<div class="form-group" [hidden]="!corporate.id">
			<label for="id" jhiTranslate="global.field.id">ID</label> <input
				type="text" class="form-control" id="id" name="id"
				[(ngModel)]="corporate.id" readonly />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.corporate.name"
				for="field_corporateName">Corporate Name</label> <input type="text"
				class="form-control" name="name" id="field_corporateName"
				[(ngModel)]="corporate.name" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.corporate.address"
				for="field_corporateAddress">Corporate Address</label> <input
				type="text" class="form-control" name="address"
				id="field_corporateAddress" [(ngModel)]="corporate.address" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.corporate.city"
				for="field_corporateCity">Corporate City</label> <input type="text"
				class="form-control" name="city" id="field_corporateCity"
				[(ngModel)]="corporate.city" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.corporate.establishedSince"
				for="field_establishedSince">Established Since</label>
			<div class="input-group">
				<input id="field_establishedSince" type="text" class="form-control"
					name="establishedSince" ngbDatepicker
					#establishedSinceDp="ngbDatepicker"
					[(ngModel)]="corporate.establishedSince" /> <span
					class="input-group-btn">
					<button type="button" class="btn btn-secondary"
						(click)="establishedSinceDp.toggle()">
						<i class="fa fa-calendar"></i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.corporate.email"
				for="field_corporateEmail">Corporate Email</label> <input
				type="text" class="form-control" name="email"
				id="field_corporateEmail" [(ngModel)]="corporate.email" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.corporate.overview"
				for="field_corporateOverview">Corporate Overview</label> <input
				type="text" class="form-control" name="overview"
				id="field_corporateOverview" [(ngModel)]="corporate.overview" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.corporate.benefits"
				for="field_corporateBenefits">Corporate Benefits</label> <input
				type="text" class="form-control" name="benefits"
				id="field_corporateBenefits" [(ngModel)]="corporate.benefits" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.corporate.website"
				for="field_corporateWebsite">Corporate Website</label> <input
				type="text" class="form-control" name="website"
				id="field_corporateWebsite" [(ngModel)]="corporate.website" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.corporate.escrowAmount"
				for="field_escrowAmount">Corporate EscrowAmount</label> <input
				type="text" class="form-control" name="escrowAmount"
				id="field_escrowAmount" [(ngModel)]="corporate.escrowAmount" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.corporate.facebook"
				for="field_corporateFacebook">Corporate Facebook</label> <input
				type="text" class="form-control" name="facebook"
				id="field_corporateFacebook" [(ngModel)]="corporate.facebook" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.corporate.twitter"
				for="field_corporateTwitter">Corporate Twitter</label> <input
				type="text" class="form-control" name="twitter"
				id="field_corporateTwitter" [(ngModel)]="corporate.twitter" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.corporate.instagram"
				for="field_corporateInstagram">Corporate Instagram</label> <input
				type="text" class="form-control" name="instagram"
				id="field_corporateInstagram" [(ngModel)]="corporate.instagram" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.corporate.linkedIn"
				for="field_corporateLinkedIn">Corporate Linked In</label> <input
				type="text" class="form-control" name="linkedIn"
				id="field_corporateLinkedIn" [(ngModel)]="corporate.linkedIn" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.corporate.culture"
				for="field_corporateCulture">Corporate Culture</label> <input
				type="text" class="form-control" name="culture"
				id="field_corporateCulture" [(ngModel)]="corporate.culture" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.corporate.contactPerson"
				for="field_contactPerson">Contact Person</label> <input type="text"
				class="form-control" name="contactPerson" id="field_contactPerson"
				[(ngModel)]="corporate.contactPerson" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.corporate.phone"
				for="field_corporatePhone">Corporate Phone</label> <input
				type="text" class="form-control" name="phone"
				id="field_corporatePhone" [(ngModel)]="corporate.phone" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.corporate.phoneCode"
				for="field_corporatePhoneCode">Corporate Phone Code</label> <input
				type="text" class="form-control" name="phoneCode"
				id="field_corporatePhoneCode" [(ngModel)]="corporate.phoneCode" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.corporate.personDesignation"
				for="field_contactPersonDesignation">Contact Person
				Designation</label> <input type="text" class="form-control"
				name="personDesignation" id="field_contactPersonDesignation"
				[(ngModel)]="corporate.personDesignation" />
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.corporate.tagLine"
				for="field_corporateTagLine">Corporate Tag Line</label> <input
				type="text" class="form-control" name="tagLine"
				id="field_corporateTagLine" [(ngModel)]="corporate.tagLine" />
		</div>

		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.corporate.country" for="field_country">Country</label>
			<select class="form-control" id="field_country" name="country"
				[(ngModel)]="corporate.country">
				<option [ngValue]="null"></option>
				<option
					[ngValue]="countryOption.id === corporate.country?.id ? corporate.country : countryOption"
					*ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.id}}</option>
			</select>
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.corporate.industry"
				for="field_industry">Industry</label> <select class="form-control"
				id="field_industry" name="industry" [(ngModel)]="corporate.industry">
				<option [ngValue]="null"></option>
				<option
					[ngValue]="industryOption.id === corporate.industry?.id ? corporate.industry : industryOption"
					*ngFor="let industryOption of industries; trackBy: trackIndustryById">{{industryOption.id}}</option>
			</select>
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="gradzcircleApp.corporate.login" for="field_login">Login</label>
			<select class="form-control" id="field_login" name="login"
				[(ngModel)]="corporate.login">
				<option [ngValue]="null"></option>
				<option
					[ngValue]="userOption.id === corporate.login?.id ? corporate.login : userOption"
					*ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
			</select>
		</div>
	</div>
	<div class="modal-footer modal-footer-decorate">
		<button type="button" class="btn btn-sm btn-pill btn-secondary"
			data-dismiss="modal" (click)="clear()">
			<span class="fa fa-ban"></span>&nbsp;<span
				jhiTranslate="entity.action.cancel">Cancel</span>
		</button>
		<button type="submit" [disabled]="editForm.form.invalid || isSaving"
			class="btn btn-sm btn-pill btn-primary">
			<span class="fa fa-save"></span>&nbsp;<span
				jhiTranslate="entity.action.save">Save</span>
		</button>
	</div>
</form>

