<div *jhiHasAnyAuthority="['ROLE_CORPORATE']">
	<figure class="figure w-100 after-header">
		<div class="container-fluid">
			<div class="row d-block d-xs-block d-sm-block d-lg-flex ">
				<div class="col db-right">
					<div class="db-content">
						<div class="row m-0 px-4 shortlist_page">
							<div class="col-lg-12 text-center my_profile">
								<div class="row">
									<div class="col-lg-12 profile_page_head"></div>
									<div class="cmny_view row col-lg-12">
										<div class="col-lg-2">
											<img class="w-100" [src]="noImage ? defaultImage : imageUrl " />
											<div class="mt-1">
												<input #selectedPicture type="file" ng2FileSelect
													[uploader]="uploader" [disabled]="uploader.queue?.length==1" />
												<p class="text-danger" *ngIf="fileUploadErrorMessage">
													{{fileUploadErrorMessage}}</p>
												<p class="mb-0 profile-text-info small ml-1">Image size
													should be 256 x 256 px.</p>
												<p class="profile-text-info mt-0 small ml-1">Prefer using
													white background for your picture</p>
											</div>
											<div *ngIf="!noImage && uploader.queue?.length==0"
												class="clearfix">
												<button type="submit"
													class="btn btn-sm btn-pill btn-danger float-right"
													(click)="removeImage()">
													<span class="icon icon-trash"></span>&nbsp;<span>Remove</span>
												</button>
											</div>
											<div *ngIf="uploader.queue?.length>0"
												>
												<div *ngFor="let item  of uploader.queue">
													<button class="btn btn-sm btn-pill btn-success"
														(click)="uploadImage(item)"
														[disabled]="item.isReady || item.isUploading || item.isSuccess || fileUploadErrorMessage.length>0">
														<span class="icon icon-arrow-with-circle-up"
															style="color: white">Upload</span>
													</button>
													<button class="btn btn-sm btn-pill btn-danger"
														(click)="clearSelectedPicture()">
														<span class="icon icon-trash" style="color: white">Remove</span>
													</button>
											</div>
									</div>
										</div>
										<div class="col-lg-7 py-5 text-left">
											<p class="my_profile_title">{{corporate.name}}</p>
											<span class="my_profile_detail">{{corporate.industry?.industryName}}</span>
											<span class="my_profile_detail">{{corporate.tagline}}</span>
										</div>
									</div>
									<div class=" col-lg-12 text-right">
										<button type="submit" (click)="setRouterData()"
											[routerLink]="['/', { outlets: { popup: 'corporate/edit'} }]"
											replaceUrl="true" class="btn btn-sm btn-pill btn-primary">
											<span class="icon icon-edit"
												jhiTranslate="entity.action.edit">Edit</span>

										</button>
									</div>
									<div class="col-lg-12 text-center">
										<h4 class="shortlist-title">About Us</h4>
									</div>

									<div class="col-lg-12 text-left">
										<h5 class="shortlist-title">
											<b><span jhiTranslate="gradzcircleApp.corporate.overview"></span></b>
										</h5>
										<p [innerHtml]="corporate.overview"></p>
									</div>
									<div class="col-lg-12 text-left">
										<h5 class="shortlist-title">
											<b><span jhiTranslate="gradzcircleApp.corporate.benefits"></span></b>
										</h5>
										<p [innerHtml]="corporate.benefits"></p>
									</div>
									<div class="col-lg-12 text-left">
										<h5 class="shortlist-title">
											<b><span jhiTranslate="gradzcircleApp.corporate.culture"></span></b>
										</h5>
										<p [innerHtml]="corporate.culture"></p>
									</div>
									<!--  <div class="col-lg-12 text-left mt-5 py-2">
										<h4 class="shortlist-title">
											<span
												jhiTranslate="gradzcircleApp.corporate.corporateDetails"></span>
										</h4>
									</div>-->
									<div class="col-lg-12 text-left">
										<h5 class="shortlist-title">
											<b><span
												jhiTranslate="gradzcircleApp.corporate.establishedSince"></span></b>
										</h5>
										<p>{{corporate.establishedSince | date:'mediumDate'}}</p>
										
									</div>
									<div class="col-lg-12 text-left">
										<h5 class="shortlist-title">
											<b><span
												jhiTranslate="gradzcircleApp.corporate.companyType"></span></b>
										</h5>
										<p>{{corporate.industry?.industryName}}</p>
										
									</div>
									<!--  <div class="col-lg-12 text-left">
	                                              <h5 class="shortlist-title"><b>Company size</b></h5>
	                                              <p>500-600 Employees</p><br>
	                                           </div>
	                                          <div class="col-lg-12 text-left">
	                                              <h5 class="shortlist-title"><b>Specialties</b></h5>
	                                              <p>Hiring Strategies, Recruitment, Sales Professionals, and Technology</p><br>
	                                           </div>-->

									<div class="clearfix"></div>
									<div class="row col-lg-12 mt-5">
										<div class="col-md-4 col-lg-4 text-center pt-4">
											<div class="icon-decorate">
												<span class="icon icon-mail"></span>
											</div>
											<p class="icon-detail pt-4">{{corporate.login.email}}</p>
										</div>
										<div class="col-md-4 col-lg-4 text-center pt-4">
											<div class="icon-decorate">
												<span class="icon icon-location-pin"></span>
											</div>
											<div *ngIf="corporate.city && corporate.country">
												<p class="icon-detail pt-4">{{corporate.city}},
													{{corporate.country[0]?.countryNiceName}}</p>
											</div>
										</div>
										<div class="col-md-4 col-lg-4 text-center pt-4">
											<div class="icon-decorate">
												<span class="icon icon-globe"></span>
											</div>
											<p class="icon-detail pt-4">{{corporate.website}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</figure>
</div>

<div *jhiHasAnyAuthority="['ROLE_ADMIN']" class="mt-5">
	<h2>
		<span jhiTranslate="gradzcircleApp.corporate.home.title">Corporates</span>
		<button
			class="btn btn-primary float-right jh-create-entity create-corporate"
			[routerLink]="['/', { outlets: { popup: ['corporate-new'] } }]">
			<span class="fa fa-plus"></span> <span class="hidden-sm-down"
				jhiTranslate="gradzcircleApp.corporate.home.createLabel">
				Create new Corporate </span>
		</button>
	</h2>
	<jhi-alert></jhi-alert>
	<div class="row">
		<div class="col-sm-12">
			<form name="searchForm" class="form-inline">
				<div class="input-group w-100 mt-3">
					<input type="text" class="form-control" [(ngModel)]="currentSearch"
						id="currentSearch" name="currentSearch"
						placeholder="{{ 'gradzcircleApp.corporate.home.search' | translate }}">
					<button class="input-group-addon btn btn-info"
						(click)="search(currentSearch)">
						<span class="fa fa-search"></span>
					</button>
					<button class="input-group-addon btn btn-danger" (click)="clear()"
						*ngIf="currentSearch">
						<span class="fa fa-trash-o"></span>
					</button>
				</div>
			</form>
		</div>
	</div>
	<br />
	<div class="table-responsive" *ngIf="corporates">
		<table class="table table-striped">
			<thead>
				<tr>
					<th><span jhiTranslate="global.field.id">ID</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.name">Corporate
							Name</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.address">Corporate
							Address</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.city">Corporate
							City</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.corporate.establishedSince">Established
							Since</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.email">Corporate
							Email</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.overview">Corporate
							Overview</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.benefits">Corporate
							Benefits</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.escrowAmount">Corporate
							EscrowAmount</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.website">Corporate
							Website</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.facebook">Corporate
							Facebook</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.twitter">Corporate
							Twitter</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.instagram">Corporate
							Instagram</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.linkedIn">Corporate
							Linked In</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.culture">Corporate
							Culture</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.corporate.contactPerson">Contact
							Person</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.phone">Corporate
							Phone</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.phoneCode">Corporate
							Phone Code</span></th>
					<th><span
						jhiTranslate="gradzcircleApp.corporate.personDesignation">Contact
							Person Designation</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.tagLine">Corporate
							Tag Line</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.country">Country</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.industry">Industry</span></th>
					<th><span jhiTranslate="gradzcircleApp.corporate.login">Login</span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let corporate of corporates ;trackBy: trackId">
					<td><a [routerLink]="['../corporate', corporate.id ]">{{corporate.id}}</a></td>
					<td>{{corporate.name}}</td>
					<td>{{corporate.address}}</td>
					<td>{{corporate.city}}</td>
					<td>{{corporate.establishedSince | date:'mediumDate'}}</td>
					<td>{{corporate.email}}</td>
					<td>{{corporate.overview}}</td>
					<td>{{corporate.benefits}}</td>
					<td>{{corporate.escrowAmount}}</td>
					<td>{{corporate.website}}</td>
					<td>{{corporate.facebook}}</td>
					<td>{{corporate.twitter}}</td>
					<td>{{corporate.instagram}}</td>
					<td>{{corporate.linkedIn}}</td>
					<td>{{corporate.culture}}</td>
					<td>{{corporate.contactPerson}}</td>
					<td>{{corporate.phone}}</td>
					<td>{{corporate.phoneCode}}</td>
					<td>{{corporate.personDesignation}}</td>
					<td>{{corporate.tagLine}}</td>
					<td>
						<div *ngIf="corporate.country">
							<a [routerLink]="['../country', corporate.country?.id ]">{{corporate.country?.id}}</a>
						</div>
					</td>
					<td>
						<div *ngIf="corporate.industry">
							<a [routerLink]="['../industry', corporate.industry?.id ]">{{corporate.industry?.id}}</a>
						</div>
					</td>
					<td>{{corporate.login?.id}}</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="submit"
								[routerLink]="['../corporateDetails' ]"
								class="btn btn-info btn-sm">
								<span class="fa fa-eye"></span> <span class="d-none d-md-inline"
									jhiTranslate="entity.action.view">View</span>
							</button>
							<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'corporate/'+ corporate.id + '/edit'} }]"
								replaceUrl="true" class="btn btn-primary btn-sm">
								<span class="fa fa-pencil"></span> <span
									class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
							</button>
							<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'corporate/'+ corporate.id + '/delete'} }]"
								replaceUrl="true" class="btn btn-danger btn-sm">
								<span class="fa fa-remove"></span> <span
									class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>