
<div *ngIf="college">
    <h2><span jhiTranslate="gradzcircleApp.college.detail.title">College</span> {{college.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gradzcircleApp.college.collegeName">College Name</span></dt>
        <dd>
            <span>{{college.collegeName}}</span>
        </dd>
        <dt><span jhiTranslate="gradzcircleApp.college.domainName">Domain Name</span></dt>
        <dd>
            <span>{{college.domainName}}</span>
        </dd>
        <dt><span jhiTranslate="gradzcircleApp.college.affiliation">Affiliation</span></dt>
        <dd>
            <span>{{college.affiliation}}</span>
        </dd>
        <dt><span jhiTranslate="gradzcircleApp.college.status">Status</span></dt>
        <dd>
            <span>{{college.status}}</span>
        </dd>
        <dt><span jhiTranslate="gradzcircleApp.college.university">University</span></dt>
        <dd>
            <div *ngIf="college.university">
                <a [routerLink]="['../../university', college.university?.id]">{{college.university?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <!--  <button type="button"
            [routerLink]="['/', { outlets: { popup: 'college/'+ college.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>-->
</div>
