<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.new.matched.jobs.title}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.new.matched.job.greeting(${firstName})}">
            Dear
        </p>
        <p th:text="#{email.new.matched.job.text1(${numberOfJobs})}">
        </p>
        <p>
            <span th:text="#{email.signature.text}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Gradzcircle</em>
        </p>
    </body>
</html>