<main class="page projects-page">
	<section class="portfolio-block projects-cards">
		<div class="container">
			<div class="heading">
				<h1><strong>Applied Candidates</strong></h1>
			</div>
			<div class="row">
				<div class="col-md-3">
			        <ul class="list-unstyled sidebar">
			        		<!--  -<li class="font-weight-bold h5" jhiTranslate="gradzcircleApp.job.filters.title">Filter</li>
			            <li> 
			            		<label class="text-muted font-weight-light ml-3 mb-0">
									<input type="checkbox"
										 name="reviewed"
										 [(ngModel)]="reviewed"
											(ngModelChange)="toggleReviewedFilter(reviewed)">
									<span jhiTranslate="gradzcircleApp.job.filters.reviewed"	></span>							
							</label>
						</li>-->
			            <li class="font-weight-bold pt-2 h5" jhiTranslate="gradzcircleApp.job.filters.matchScore"></li>
			            <li>
			            		<label class="text-muted font-weight-light ml-3">
								<input type="radio" [(ngModel)]="matchScoreRange" value="matchScore90To100" (ngModelChange)="loadAppliedCandidates()" />
									<span jhiTranslate="gradzcircleApp.job.filters.90To100"></span>
							</label>
			            </li>
			            <li>
			            		<label class="text-muted font-weight-light ml-3">
								<input type="radio" [(ngModel)]="matchScoreRange" value="matchScore80To89" (ngModelChange)="loadAppliedCandidates()" />
									<span jhiTranslate="gradzcircleApp.job.filters.80To89"></span>		
							</label>
			            </li>
			            <li>
			            		<label class="text-muted font-weight-light ml-3 ">
								<input type="radio" [(ngModel)]="matchScoreRange" value="matchScore70To79" (ngModelChange)="loadAppliedCandidates()" />
									<span jhiTranslate="gradzcircleApp.job.filters.70To79"></span>
							</label>
			            </li>
			            <li>
			            		<label class="text-muted font-weight-light ml-3">
								<input type="radio" [(ngModel)]="matchScoreRange" value="matchScore60To69" (ngModelChange)="loadAppliedCandidates()" />
									<span jhiTranslate="gradzcircleApp.job.filters.60To69"></span>							
							</label>
			            </li>
			             <li>
			            		<label class="text-muted font-weight-light ml-3 ">
								<input type="radio" [(ngModel)]="matchScoreRange" value="matchScore50To59" (ngModelChange)="loadAppliedCandidates()" />
									<span jhiTranslate="gradzcircleApp.job.filters.50To59"></span>
							</label>
			            </li>
			            <li>
			            		<label class="text-muted font-weight-light ml-3">
								<input type="radio" [(ngModel)]="matchScoreRange" value="matchScorelessThan50" (ngModelChange)="loadAppliedCandidates()" />
									<span jhiTranslate="gradzcircleApp.job.filters.lessThan50"></span>							
							</label>
			            </li>
			            <li>
			            		<button type="button" class="btn btn-sm btn-pill btn-primary"
									(click)="clearMatchScores()">Clear Selected Scores
							</button>
						</li>
			        </ul>
	    			</div>
				<div *ngIf="candidateList?.length>0;else noData" class="col-md-9">
					<div class="row">
					    <div *ngFor="let candidate of candidateList" class="col-md-6 col-lg-4">
					        <div class="card shadow">
					        		<div class="mt-3 avatar border border-secondary" [style.backgroundImage]="!(candidate.login.imageUrl) ? 'url('+defaultImage+')' : 'url('+candidate.login.imageUrl+')'"></div>
					            <div class="card-body">
					                <h4 class="mb-0" *ngIf="candidate.shortListed">{{candidate.firstName}}&nbsp;{{candidate.lastName}}</h4>
									<p class="text-muted card-text mb-0">
										<span jhiTranslate="gradzcircleApp.job.matchScore"></span>&nbsp;<strong>{{candidate.matchScore}}%</strong>
									</p>
									<p class="text-muted card-text mb-0">{{candidate.qualificationWithHighestCourse}}</p>
									<!--  p class="text-muted card-text">{{candidate.aboutMe}}</p>-->
									 <p *ngIf="candidate.shortListed" class="text-muted card-text mb-0">ShortListed for other 
					                		<a (click)="setJobListRouteParamsForLinkedCandidates(candidate.id)"
											[routerLink]="['/', { outlets: { popup: 'job-list-for-linked-candidate'} }]"><strong>jobs</strong></a>
									</p>
									<button class="btn btn-outline-primary btn-sm btn-block mt-1"
										(click)="setPublicProfileRouteParams(candidate.id)"
										[routerLink]="['/', { outlets: { popup: 'candidate-public-profile'} }]">
										<span class="icon icon-add-user"></span> View
									</button>
					                
					            </div>
					        </div>
					    </div>
					   
					</div>
					<div *ngIf="candidateList" class="row">
						<div class="col d-flex justify-content-start  font-weight-light text-muted">
							<jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
						</div>
						<div class="col font-weight-light d-flex justify-content-end ">
							<ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" (pageChange)="loadPage(page)"
							[rotate]="true" [ellipses]="false" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
						</div>
					</div>
				</div>
				<ng-template #noData>
					<div class="row">
						No Data Available
					</div>
				</ng-template>
			</div>
			
			
		</div>
	</section>
</main>
