
<div class="modal-header modal-header-decorate">
	<h6 class="modal-title" id="myJobLabel" jhiTranslate="global.title">Gradzcircle</h6>
	<button type="button" class="close" data-dismiss="modal"
		aria-hidden="true" (click)="clear()">&times;</button>
</div>
<div class="row mx-4 mt-4">
	<div class="col-md-6 font-weight-bold text-muted"
		jhiTranslate="gradzcircleApp.job.jobTitle"></div>
	<div class="col-md-6 d-flex justify-content-center">{{job.jobTitle}}</div>
</div>
<div class="row mx-4 my-4">
	<div class="col-md-6 font-weight-bold text-muted"
		jhiTranslate="gradzcircleApp.job.jobType"></div>
	<div class="col-md-6 d-flex justify-content-center">{{job.jobType?.jobType}}</div>

</div>
<div class="row mx-4 mt-4">
	<div class="col-md-6 font-weight-bold text-muted"
		jhiTranslate="gradzcircleApp.job.employmentType"></div>
	<div class="col-md-6 d-flex justify-content-center">{{job.employmentType?.employmentType}}</div>
</div>
<div class="row mx-4 mt-4">
	<div class="col-md-3 font-weight-bold text-muted"
		jhiTranslate="gradzcircleApp.job.jobDescription"></div>
	<div class="col-md-9" [innerHtml]="job.jobDescription"></div>
</div>
<div class="row mx-4 mt-4">
	<div class="col-md-6 d-flex font-weight-bold text-muted "
		jhiTranslate="gradzcircleApp.job.noOfApplicants">No. Of
		candidate</div>
	<div
		class="col-md-6 d-flex font-weight-bold text-muted justify-content-center">{{job.noOfApplicants}}</div>
</div>
<div class="row mx-4 mt-4">
	<div class="col-md-6 d-flex font-weight-bold text-muted "
		jhiTranslate="gradzcircleApp.job.noOfApplicantsShotlisted">No.
		Of candidate</div>
	<div
		class="col-md-6 d-flex font-weight-bold text-muted justify-content-center" jhiTranslate="gradzcircleApp.job.noCandidateShortlisted">{{job.noOfApplicantsBought}}</div>
</div>
<div class="row mx-4 mt-4">
	<div class="col-md-6 font-weight-bold text-muted"
		jhiTranslate="gradzcircleApp.job.salary"></div>
	<div class="col-md-6 d-flex justify-content-center">{{job?.salary?job.salary:'Not
		declared'}}</div>
</div>
<div *ngIf="job.jobFilters?.length>0">
	<div *ngFor="let jobFilter of job.jobFilters ;">
		<div class="row mx-4 mt-4"
			*ngIf="jobFilter.filterDescription.colleges?.length>0">
			<div class="col-md-6 font-weight-bold text-muted"
				jhiTranslate="gradzcircleApp.job.collegesSelected"></div>
	
			<div class="table-responsive col-md-6 ">
				<table class="table table-striped">
					<tbody>
						<tr
							*ngFor="let college of jobFilter.filterDescription.colleges">
							<td class="d-flex justify-content-center">{{college.display}}</td>
						</tr>
					</tbody>
				</table>
	
			</div>
		</div>
		<div class="row mx-4 mt-4"
			*ngIf="jobFilter.filterDescription.universities?.length>0">
			<div class="col-md-6 font-weight-bold text-muted"
				jhiTranslate="gradzcircleApp.job.universitiesSelected"></div>
			<div class="col-md-6 table-responsive">
				<table class="table table-striped">
					<tbody>
						<tr
							*ngFor="let university of jobFilter.filterDescription.universities">
							<td class="d-flex justify-content-center">{{university.display}}</td>
						</tr>
					</tbody>
				</table>
	
			</div>
		</div>
		<div class="row mx-4 mt-4"
			*ngIf="jobFilter.filterDescription.qualifications && jobFilter.filterDescription.qualifications?.length>0">
			<div class="col-md-6 font-weight-bold text-muted"
				jhiTranslate="gradzcircleApp.job.qualification"></div>
			<div class="col-md-6 table-responsive">
				<table class="table table-striped">
					<tbody>
						<tr
							*ngFor="let qualification of jobFilter.filterDescription.qualifications">
							<td class="d-flex justify-content-center">{{qualification.display}}</td>
						</tr>
					</tbody>
				</table>
	
			</div>
		</div>
		<div class="row mx-4 mt-4"
			*ngIf="jobFilter.filterDescription.courses && jobFilter.filterDescription.courses?.length>0">
			<div class="col-md-6 font-weight-bold text-muted"
				jhiTranslate="gradzcircleApp.job.coursesSelected"></div>
			<div class="col-md-6 table-responsive">
				<table class="table table-striped">
					<tbody>
						<tr
							*ngFor="let course of jobFilter.filterDescription.courses">
							<td class="d-flex justify-content-center">{{course.display}}</td>
						</tr>
					</tbody>
				</table>
	
			</div>
		</div>
		<div *ngIf="jobFilter.filterDescription.scoreType==='percent'">
			<div class="row mx-4 mt-4">
				<div class="col-md-6 font-weight-bold text-muted"
					jhiTranslate="gradzcircleApp.job.percent"></div>
				<div class="col-md-6 d-flex justify-content-center">
					{{jobFilter.filterDescription.percentage}}%</div>
			</div>
		</div>
	
		<div *ngIf="jobFilter.filterDescription.scoreType==='gpa'"
			class="row mx-4 mt-4">
			<div class="col-md-6 font-weight-bold text-muted"
				jhiTranslate="gradzcircleApp.job.gpa"></div>
			<div class="col-md-6 d-flex justify-content-center">
				{{jobFilter.filterDescription.gpa}}</div>
		</div>
	
		<div class="row mx-4 mt-4"
			*ngIf="jobFilter.filterDescription.gender">
			<div class="col-md-6 font-weight-bold text-muted"
				jhiTranslate="gradzcircleApp.job.genderSelected"></div>
			<div class="col-md-6 d-flex justify-content-center">
				{{jobFilter.filterDescription.gender.gender}}</div>
		</div>
		<div class="row mx-4 mt-4" *ngIf="jobFilter.filterDescription.graduationDateType==='less'">
			
				<div class="col-md-6 font-weight-bold text-muted"
					jhiTranslate="gradzcircleApp.job.graduatedDateLessThan"></div>
				<div class="col-md-6 d-flex justify-content-center">{{jobFilter.filterDescription.graduationDate
					| date:'mediumDate'}}
				</div>
		</div>
	
			<div class="row mx-4 mt-4" *ngIf="jobFilter.filterDescription.graduationDateType==='greater'">
				<div class="col-md-6 font-weight-bold text-muted"
					jhiTranslate="gradzcircleApp.job.graduatedDateGreaterThan"></div>
				<div class="col-md-6 d-flex justify-content-center">{{jobFilter.filterDescription.graduationDate|date:'mediumDate'}}</div>
			</div>
			<div class="row mx-4 mt-4" *ngIf="jobFilter.filterDescription.graduationDateType==='between'">
				<div class="col-md-6 font-weight-bold text-muted"
					jhiTranslate="gradzcircleApp.job.graduatedDateBetween"></div>
				<div class="col-md-6 d-flex justify-content-center">
					{{jobFilter.filterDescription.graduationFromDate |
					date:'mediumDate'}}
					<p class="font-weight-bold pl-2 pr-2">and</p>
					{{jobFilter.filterDescription.graduationToDate |
					date:'mediumDate'}}
				</div>
			</div>
		<div class="row mx-4 mt-4"
			*ngIf="jobFilter.filterDescription.languages && jobFilter.filterDescription.languages?.length>0">
			<div class="col-md-6 font-weight-bold text-muted"
				jhiTranslate="gradzcircleApp.job.languagesSelected"></div>
			<div class="col-md-6 table-responsive">
				<table class="table table-striped">
					<tbody>
						<tr
							*ngFor="let language of jobFilter.filterDescription.languages">
							<td class="d-flex justify-content-center">{{language.display}}</td>
						</tr>
					</tbody>
				</table>
	
			</div>
		</div>
		<div class="row mx-4 mt-4 mb-4">
			<div class="col-md-6 d-flex font-weight-bold text-muted "
				jhiTranslate="gradzcircleApp.job.amountPaid">No. Of candidate</div>
			<div *ngIf="job.amountPaid;else noPaid"
				class="col-md-6 d-flex font-weight-bold text-muted justify-content-center">{{job.amountPaid}}</div>
			</div>
			<ng-template #noPaid>
			<div class="col-md-6 d-flex font-weight-bold text-muted justify-content-center" jhiTranslate="gradzcircleApp.job.noAmountPaid"></div>
			</ng-template>
	</div>
</div>



