<main class="page projects-page">
<section class="portfolio-block projects-with-sidebar">
	<div class="container">
		<div class="heading">
			<h2><strong>{{totalNumberOfActiveJobs}}</strong>&nbsp;<span jhiTranslate="gradzcircleApp.job.home.title" ></span></h2>
		</div>
		<div class="row">
			<div class="col-md-3">
		        <ul class="list-unstyled sidebar">
		            <li><a class="active" href="#">Employment Type</a></li>
		            <li><input type="checkbox" /><a href="#"> Permanent</a><br /></li>
		            <li style="margin-bottom: 15px;"><input type="checkbox" /><a href="#"> Permanent</a><br /></li>
		            <li><a class="active" href="#">Job Type</a></li>
		            <li><input type="checkbox" /><a href="#"> Permanent</a><br /></li>
		            <li><input type="checkbox" /><a href="#"> Permanent</a><br /></li>
		            <li><input type="checkbox" /><a href="#"> Permanent</a><br /></li>
		            <li style="margin-bottom: 15px;"><input type="checkbox" /><a href="#"> Permanent</a><br /></li>
		        		<div *ngIf="candidateId && candidate.hasEducationScore">
			            <li><a class="active" href="#">Match Score</a></li>
			            <li></li>
			            <li><input type="radio" />  Name<br /></li>
			            <li><input type="radio" />  List Item</li>
			            <li><input type="radio" />  List Item</li>
			            <li><input type="radio" />  List Item</li>
			            <li><input type="radio" />  List Item</li>
			        </div>
		        </ul>
    			</div>
			<div class="col-md-9">
				<div class="row">
					<div *ngFor="let job of jobs ;trackBy: trackId" class="project-card-no-image">
						    <h3>{{job.jobTitle}}<span class="float-right">{{job.corporateName}}</span></h3>
						    <h4 [innerHtml]="job.jobDescription"></h4><a class="btn btn-outline-primary btn-sm" role="button" href="#">See More</a>
						    <div class="tags">{{job.employmentType.employmentType}}, {{job.jobType.jobType}} <br>
						    		 {{job.updateDate | date : 'dd - MMM - yyyy'}}  <br> &#8377;&nbsp;{{job.salary?job.salary+' p.a.':'Not Available'}}
						    		 <br> {{job.city}}
						    </div>
					</div>
					<div *ngIf="jobs && jobs.length">
						<div class="row justify-content-center font-weight-light">
							<jhi-item-count [page]="page" [total]="queryCount"
								[itemsPerPage]="itemsPerPage"></jhi-item-count>
						</div>
						<div class="row justify-content-center">
							<ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
								(pageChange)="loadPage(page)"></ngb-pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</main>
