
<div
	class="modal-header modal-header-decorate">
	<h6 class="modal-title" jhiTranslate="gradzcircleApp.job.jobList"></h6>
	<button type="button" class="close" data-dismiss="modal"
		aria-hidden="true" (click)="clear()">&times;</button>
</div>
<div class="modal-body">
	<div class="table-responsive table mt-2" id="dataTable"
								role="grid" aria-describedby="dataTable_info" *ngIf="jobList?.length>0; else noJobs">
       <table class="table dataTable my-0" id="dataTable">
          <thead >
          <tr>
          		<th class="text-center font-weight-bold">
          			<span jhiTranslate="gradzcircleApp.job.jobTitle">Job Title</span>
          		</th>
				<th class="text-center font-weight-bold">
					<span jhiTranslate="gradzcircleApp.job.filters.matchScore">Match Score</span>
				</th>
			</tr>
          </thead>
          <tbody>
				<tr *ngFor="let job of jobList;">
					<td class="font-weight-light text-center">{{job.jobTitle}}</td>
					<td class="font-weight-light text-center">{{job.matchScore}}</td>
				</tr>
		 </tbody>
      </table>
	</div>
	<ng-template #noJobs>
		No Jobs to display
	</ng-template>	            
</div>
