<div *jhiHasAnyAuthority="['ROLE_CORPORATE']" class="mt-8 mb-5">
	<div
		*ngIf="businessPlanEnabled &&  job.corporateEscrowAmount && job.corporateEscrowAmount>0" 
		class="row d-flex justify-content-end mr-2">
		<p class="organization">
			You have <b>&#8377; {{job.corporateEscrowAmount}}</b> in your Escrow
			account.
	</div>
	<div class="d-sm-flex justify-content-between align-items-center mb-4">
		<h3 class="text-dark mb-0">Dashboard</h3>
		<a class="btn btn-primary btn-sm d-none d-sm-inline-block"
			role="button" (click)="setJobRouterParam()"
						[routerLink]="['/corp', { outlets: { popup: 'new-job' } }]"> Post Job</a>
	</div>
	<div class="row">
		<div class="col-md-6 col-xl-3 mb-4">
			<div class="card shadow border-left-primary py-2">
				<div class="card-body">
					<div class="row align-items-center no-gutters">
						<div class="col mr-2">
							<div
								class="text-uppercase text-primary font-weight-bold text-xs mb-1">
								<span jhiTranslate="gradzcircleApp.job.totalJobs"></span>
							</div>
							<div class="text-dark font-weight-bold h5 mb-0 ml-2">
								<span>{{job.totalNumberOfJobs}}</span>
							</div>
						</div>
						<div class="col-auto">
							<i class="fa fa-briefcase fa-2x text-gray-300"></i>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xl-3 mb-4">
			<div class="card shadow border-left-success py-2">
				<div class="card-body">
					<div class="row align-items-center no-gutters">
						<div class="col mr-2">
							<div
								class="text-uppercase text-success font-weight-bold text-xs mb-1">
								<span jhiTranslate="gradzcircleApp.job.savedProfiles"></span>
							</div>
							<div class="text-dark font-weight-bold h5 mb-0">
								<span>{{job.totalLinkedCandidates}}</span>
							</div>
						</div>
						<div class="col-auto">
							<i class=" fa fa-link fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xl-3 mb-4">
			<div class="card shadow border-left-info py-2">
				<div class="card-body">
					<div class="row align-items-center no-gutters">
						<div class="col mr-2">
							<div
								class="text-uppercase text-info font-weight-bold text-xs mb-1">
								<span jhiTranslate="gradzcircleApp.job.newRequests"></span>
							</div>
							<div class="text-dark font-weight-bold h5 mb-0 mr-3">
								<span>{{job.newApplicants}}</span>
							</div>

						</div>
						<div class="col-auto">
							<i class="fa fa-id-card  fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xl-3 mb-4">
			<div class="card shadow border-left-warning py-2">
				<div class="card-body">
					<div class="row align-items-center no-gutters">
						<div class="col mr-2">
							<div
								class="text-uppercase text-warning font-weight-bold text-xs mb-1">
								<span jhiTranslate="gradzcircleApp.job.postedInLastTwoMonths"></span>
							</div>
							<div class="text-dark font-weight-bold h5 mb-0">
								<span>{{job.jobsLastMonth}}</span>
							</div>
						</div>
						<div class="col-auto">
							<i class=" fa fa-calendar  fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div class="d-flex flex-column" id="content-wrapper">
			<div id="content">

				<div class="container-fluid mt-1" style="padding-left:0px; padding-right:0px;">					
					<div class="card shadow">
						<div class="card-header py-3">
							<p class="text-primary m-0 font-weight-bold">Information</p>
						</div>
						<div class="card-body">

							<div class="table-responsive table mt-2" id="dataTable"
								role="grid" aria-describedby="dataTable_info">
								<table class="table dataTable my-0" id="dataTable">
									<thead>
										<tr>
											<th class="text-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.job.jobTitle">Job Title</span></th>
											<th  class="text-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.job.jobType">Job Type</span></th>
											<th class="text-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.job.employmentType">Employment Type</span></th>
											<th class="text-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.job.jobStatus">Job Status</span></th>
											<th class="text-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.job.noOfMatchedApplicants">Applicants</span></th>
											<th class="text-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.job.noOfCandidatesApplied">Applicants</span></th>
											<th  class="text-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.job.shortlistedCandidate">Applicants</span></th>
											<th  class="text-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.job.noOfApplicantsRemaining">Applicants</span></th>
											<th class="text-center font-weight-bold">Actions</th>

										</tr>
									</thead>
									<tbody *ngIf="jobs?.length>0 else noPostedJobs">
										<tr *ngFor="let job of jobs ;trackBy: trackId">
											<td class="font-weight-light text-center">{{job.jobTitle}}</td>
											<td class="font-weight-light text-center">
												<div *ngIf="job.jobType">{{job.jobType?.jobType}}</div>
											</td>
											<td class="font-weight-light text-center">
												<div *ngIf="job.employmentType">
													{{job.employmentType?.employmentType}}</div>
											</td>
											<td *ngIf="job?.jobStatus===1;else draft"
												class="font-weight-light text-center">Active</td>
											<ng-template #draft>
											<td class="font-weight-light text-center">Draft</td>
											</ng-template>
											<td
												*ngIf="job.noOfMatchedCandidates>0; else noMatchedCandidates"
												class="font-weight-light text-center"><a
												[routerLink]="['../matchedCandidateList']"
												(click)="setJobAndCorporateRouteParam(job.id,corporateId)">
													{{job.noOfMatchedCandidates}}</a></td>
											<ng-template #noMatchedCandidates>
											<td class="font-weight-light text-center"><a class="disabled">
													{{job.noOfMatchedCandidates}}</a></td>
											</ng-template>
											<td
												*ngIf="job.noOfCandidatesApplied>0; else noCandidateApplied"
												class="font-weight-light text-center"><a
												(click)="setParamsToGetListForAppliedCandidate(job.id)"
												[routerLink]="['../appliedCandidateList']">{{job.noOfCandidatesApplied}}</a></td>
											<ng-template #noCandidateApplied>
											<td class="font-weight-light text-center"><a class="disabled">{{job.noOfCandidatesApplied}}</a></td>
											</ng-template>
											<td
												*ngIf="job.noOfShortListedCandidate>0;else noShortListedCandidates"
												class="font-weight-light text-center"><a
												(click)="setParamsToGetListForShortlistedCandidate(job.id,corporateId)"
												[routerLink]="['../shortListedCandidateList']">
													{{job.noOfShortListedCandidate}}</a></td>
											<ng-template #noShortListedCandidates>
											<td class="font-weight-light text-center"><a class="disabled">
													{{job.noOfShortListedCandidate}}</a></td>
											</ng-template>
											<td 
												*ngIf="job.numberOfCandidatesRemaining != null  && job.numberOfCandidatesRemaining >= 0; else showTotalNoOfCandidates"
												class="font-weight-light text-center">
												{{job.numberOfCandidatesRemaining}}</td> 
											<ng-template #showTotalNoOfCandidates>
											<td class="font-weight-light text-center">{{job.noOfApplicants}}</td>
											</ng-template>
											<td class="font-weight-light text-center">
												<a [routerLink]="['/corp', { outlets: { popup: 'view'} }]" (click)="setJobEditOrViewRouteParam(job.id)"
													ngbTooltip="View More"><fa-icon [icon]="'eye'" class="text-gray-500 fa-xs"></fa-icon>
												</a> 
												<a *ngIf="!job.canEdit" (click)="setJobEditOrViewRouteParam(job.id)" [routerLink]="['/corp',{outlets : {popup:'jobEditMessage'}}]"
													replaceUrl="true" ngbTooltip="Edit"> <fa-icon class="text-gray-500 fa-xs" [icon]="'pencil-alt'"></fa-icon>
												</a> 
												<a *ngIf="job.canEdit" (click)="setJobEditOrViewRouteParam(job.id)" [routerLink]="['/corp', { outlets: { popup: 'edit'} }]"
													replaceUrl="true" ngbTooltip="Edit"> <fa-icon class="text-gray-500 fa-xs" [icon]="'pencil-alt'"></fa-icon>
												</a>
												<a *ngIf="job.numberOfCandidatesRemaining==0" [routerLink]="['/corp', { outlets: { popup: 'addMoreCandidatesToJob'} }]" (click)="setAddCandidateToJobRouteData(job.id)"
													replaceUrl="true" ngbTooltip="More Candidates">
													<fa-icon class="text-gray-500" [icon]="'user-plus'"></fa-icon> 
												</a> 
												<a [routerLink]="['/corp', { outlets: { popup: 'remove'} }]" (click)="setJobEditOrViewRouteParam(job.id)"
													replaceUrl="true"ngbTooltip="Remove"> <fa-icon class="text-gray-500 fa-xs" [icon]="'trash-alt'"></fa-icon>
												</a>
											</td>
										</tr>
									</tbody>
								   	<ng-template #noPostedJobs>
		                        		<tbody>
		                        			<tr><td colspan="6" class="text-center font-weight-bold">No Data Available</td></tr>
		                        		</tbody>
                     				  </ng-template>
									<tfoot>
										<tr>
											<td class="text-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.job.jobTitle">Job Title</span></td>
											<td  class="text-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.job.jobType">Job Type</span></td>
											<td class="text-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.job.employmentType">Employment Type</span></td>
											<td class="text-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.job.jobStatus">Job Status</span></td>
											<td class="text-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.job.noOfMatchedApplicants">Applicants</span></td>
											<td class="text-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.job.noOfCandidatesApplied">Applicants</span></td>
											<td  class="text-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.job.shortlistedCandidate">Applicants</span></td>
											<td  class="text-center font-weight-bold"><span
												jhiTranslate="gradzcircleApp.job.noOfApplicantsRemaining">Applicants</span></td>
											<td class="text-center font-weight-bold">Actions</td>
										</tr>
									</tfoot>
								</table>
							</div>
							   <div *ngIf="jobs && jobs.length">
			               		<div class="row">
									<div class="col d-flex justify-content-start  font-weight-light text-muted">
										<jhi-item-count [page]="page" [total]="queryCount" 
											[itemsPerPage]="itemsPerPage"></jhi-item-count>
									</div>
									<div class="col font-weight-light d-flex justify-content-end ">
										<ngb-pagination [collectionSize]="totalItems" [(page)]="page"
											(pageChange)="loadPage(page)" [pageSize]="itemsPerPage" [rotate]="true" [ellipses]="false" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div *jhiHasAnyAuthority="['ROLE_ADMIN']">
	<h2>
		<span jhiTranslate="gradzcircleApp.job.home.title">Jobs</span>
		<button
			class="btn btn-primary float-right jh-create-entity create-job"
			[routerLink]="['/', { outlets: { popup: ['job-new'] } }]">
			<span class="fa fa-plus"></span> <span class="hidden-sm-down"
				jhiTranslate="gradzcircleApp.job.home.createLabel"> Create
				new Job </span>
		</button>
	</h2>
	<jhi-alert></jhi-alert>
	<div class="row">
		<div class="col-sm-12">
			<form name="searchForm" class="form-inline">
				<div class="input-group w-100 mt-3">
					<input type="text" class="form-control" [(ngModel)]="currentSearch"
						id="currentSearch" name="currentSearch"
						placeholder="{{ 'gradzcircleApp.job.home.search' | translate }}">
					<button class="input-group-addon btn btn-info"
						(click)="search(currentSearch)">
						<span class="fa fa-search"></span>
					</button>
					<button class="input-group-addon btn btn-danger" (click)="clear()"
						*ngIf="currentSearch">
						<span class="fa fa-trash-o"></span>
					</button>
				</div>
			</form>
		</div>
	</div>
	<br />
	<div class="table-responsive" *ngIf="jobs">
		<table class="table table-striped">
			<thead>
				<tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse"
					[callback]="transition.bind(this)">
					<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="jobTitle"><span
						jhiTranslate="gradzcircleApp.job.jobTitle">Job Title</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="jobDescription"><span
						jhiTranslate="gradzcircleApp.job.jobDescription">Job
							Description</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="noOfApplicants"><span
						jhiTranslate="gradzcircleApp.job.noOfApplicants">No Of
							Applicants</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="salary"><span
						jhiTranslate="gradzcircleApp.job.salary">Salary</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="jobStatus"><span
						jhiTranslate="gradzcircleApp.job.jobStatus">Job Status</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="createDate"><span
						jhiTranslate="gradzcircleApp.job.createDate">Create Date</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="originalJobCost"><span
						jhiTranslate="gradzcircleApp.job.originalJobCost">Job Cost</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="jobCost"><span
						jhiTranslate="gradzcircleApp.job.jobCost">Job Cost</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="amountPaid"><span
						jhiTranslate="gradzcircleApp.job.amountPaid">Amount Paid</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="totalAmountPaid"><span
						jhiTranslate="gradzcircleApp.job.totalAmountPaid">Total
							Amount Paid</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="noOfApplicantsBought"><span
						jhiTranslate="gradzcircleApp.job.noOfApplicantsBought">No
							Of Applicants Bought</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="removedFilterAmount"><span
						jhiTranslate="gradzcircleApp.job.removedFilterAmount">Removed
							Filter Amount</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="additionalFilterAmount"><span
						jhiTranslate="gradzcircleApp.job.additionalFilterAmount">Additional
							Filter Amount</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="adminCharge"><span
						jhiTranslate="gradzcircleApp.job.adminCharge">Admin Charge</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="adminChargeRate"><span
						jhiTranslate="gradzcircleApp.job.adminChargeRate">Admin
							Charge Rate</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="upfrontDiscountRate"><span
						jhiTranslate="gradzcircleApp.job.upfrontDiscountRate">Upfront
							Discount Rate</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="upfrontDiscountAmount"><span
						jhiTranslate="gradzcircleApp.job.upfrontDiscountAmount">Upfront
							Discount Amount</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="escrowAmountUsed"><span
						jhiTranslate="gradzcircleApp.job.escrowAmountUsed">Escrow
							Amount Used</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="escrowAmountAdded"><span
						jhiTranslate="gradzcircleApp.job.escrowAmountAdded">Escrow
							Amount Added</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="paymentType"><span
						jhiTranslate="gradzcircleApp.job.paymentType">Payment Type</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="hasBeenEdited"><span
						jhiTranslate="gradzcircleApp.job.hasBeenEdited">Has Been
							Edited</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="everActive"><span
						jhiTranslate="gradzcircleApp.job.everActive">Ever Active</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="canEdit"><span
						jhiTranslate="gradzcircleApp.job.canEdit">Can Edit</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="updateDate"><span
						jhiTranslate="gradzcircleApp.job.updateDate">Update Date</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="createdBy"><span
						jhiTranslate="gradzcircleApp.job.createdBy">Created By</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="updatedBy"><span
						jhiTranslate="gradzcircleApp.job.updatedBy">Updated By</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="noOfApplicantLeft"><span
						jhiTranslate="gradzcircleApp.job.noOfApplicantLeft">noOfApplicantLeft</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="jobType"><span
						jhiTranslate="gradzcircleApp.job.jobType">Job Type</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="employmentType"><span
						jhiTranslate="gradzcircleApp.job.employmentType">Employment
							Type</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="corporate"><span
						jhiTranslate="gradzcircleApp.job.corporate">Corporate</span><span
						class="icon icon-select-arrows"></span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let job of jobs ;trackBy: trackId">
					<td><a [routerLink]="['../job', job.id ]">{{job.id}}</a></td>
					<td>{{job.jobTitle}}</td>
					<td>{{job.jobDescription}}</td>
					<td>{{job.noOfApplicants}}</td>
					<td>{{job.salary}}</td>
					<td>{{job.jobStatus}}</td>

					<td>{{job.createDate | date:'medium'}}</td>
					<td>{{job.originalJobCost}}</td>
					<td>{{job.jobCost}}</td>
					<td>{{job.amountPaid}}</td>
					<td>{{job.totalAmountPaid}}</td>
					<td>{{job.noOfApplicantsBought}}</td>
					<td>{{job.removedFilterAmount}}</td>
					<td>{{job.additionalFilterAmount}}</td>
					<td>{{job.adminCharge}}</td>
					<td>{{job.adminChargeRate}}</td>
					<td>{{job.upfrontDiscountRate}}</td>
					<td>{{job.upfrontDiscountAmount}}</td>
					<td>{{job.escrowAmountUsed}}</td>
					<td>{{job.escrowAmountAdded}}</td>
					<td
						jhiTranslate="{{'gradzcircleApp.PaymentType.' + job.paymentType}}">{{job.paymentType}}</td>
					<td>{{job.hasBeenEdited}}</td>
					<td>{{job.everActive}}</td>
					<td>{{job.canEdit}}</td>
					<td>{{job.updateDate | date:'medium'}}</td>
					<td>{{job.createdBy}}</td>
					<td>{{job.updatedBy}}</td>
					<td>{{job.noOfApplicantLeft}}</td>

					<td>
						<div *ngIf="job.jobType">
							<a [routerLink]="['../job-type', job.jobType?.id ]">{{job.jobType?.id}}</a>
						</div>
					</td>
					<td>
						<div *ngIf="job.employmentType">
							<a [routerLink]="['../employment-type', job.employmentType?.id ]">{{job.employmentType?.id}}</a>
						</div>
					</td>
					<td>
						<div *ngIf="job.corporate">
							<a [routerLink]="['../corporate', job.corporate?.id ]">{{job.corporate?.id}}</a>
						</div>
					</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="submit" [routerLink]="['../job', job.id ]"
								class="btn btn-info btn-sm">
								<fa-icon [icon]="'eye'"></fa-icon><span class="d-none d-md-inline"
									jhiTranslate="entity.action.view">View</span>
							</button>
							<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'job/'+ job.id + '/edit'} }]"
								replaceUrl="true" class="btn btn-primary btn-sm">
								<fa-icon  [icon]="'pencil-alt'"></fa-icon> <span
									class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
							</button>
							<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'job/'+ job.id + '/delete'} }]"
								replaceUrl="true" class="btn btn-danger btn-sm">
								<fa-icon  [icon]="'trash-alt'"></fa-icon> <span
									class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div *ngIf="jobs && jobs.length">
		<div class="row justify-content-center">
			<jhi-item-count [page]="page" [total]="queryCount"
				[itemsPerPage]="itemsPerPage"></jhi-item-count>
		</div>
		<div class="row justify-content-center">
			<ngb-pagination [collectionSize]="totalItems" [(page)]="page"
				[pageSize]="itemsPerPage" (pageChange)="loadPage(page)"></ngb-pagination>
		</div>
	</div>
</div>
