<div *jhiHasAnyAuthority="['ROLE_CORPORATE']" class="mt-6">
	<div class="col db-right">
	    <div class="db-content">
	       <div class="row m-0 px-4">
	          <div class="col-md-12 col-lg-12 tabs-panel">
	          	<div class="row d-flex justify-content-end mr-2">
	         	 	 <button type="button" class="btn btn-sm btn-pill btn-success" (click)="setJobRouterParam()"
						[routerLink]="['/', { outlets: { popup: 'new-job' } }]">Post New
						Job
					 </button>
		  		 </div>
	             <div class="row ">
	                <div class="col-md-12 col-lg-6 col-xl-6  tabs">
	                   <div class="row tab-content">
	                      <div class="col-lg-12 col-xl-4  total-job-img text-center pad-0">
	                         <span class="tab-1"><img src="../../../content/images/total-jobs.png"></span>
	                      </div>
	                      <div class="col-lg-12 col-xl-8  total-job-heading text-center  pad-0">
	                         <p>{{job.totalNumberOfJobs}}<span jhiTranslate="gradzcircleApp.job.totalJobs"></span></p>
	                      </div>
	                      <div class="row tab-content2">
	                         <div class="col-lg-12 total-job-content pad-0">
	                            <span jhiTranslate="gradzcircleApp.job.postedSince">&nbsp;&nbsp;&nbsp; Posted since {{this.corporate.establishedSince | date:'mediumDate'}}</span>
	                         </div>
	                      </div>
	                   </div>
	                </div>
	                <div class="col-md-12 col-lg-6 col-xl-6 tabs">
	                   <div class="row tab-content">
	                      <div class="col-lg-12 col-xl-4  total-job-img text-center pad-0">
	                         <span class="tab-2"><img src="../../../content/images/posted-jobs.png"></span>
	                      </div>
	                      <div class="col-lg-12 col-xl-8  total-job-heading text-center  pad-0">
	                         <p>{{job.jobsLastMonth}}<span jhiTranslate="gradzcircleApp.job.newJobs"></span></p>
	                      </div>
	                      <div class="row tab-content2">
	                         <div class="col-lg-12 total-job-content  pad-0">
	                            <span jhiTranslate="gradzcircleApp.job.postedInLastTwoMonths">&nbsp;&nbsp;&nbsp; Posted in last two weeks</span>
	                         </div>
	                      </div>
	                   </div>
	                </div>
	                <div class="col-md-12 col-lg-6 col-xl-6  tabs">
	                   <div class="row tab-content">
	                      <div class="col-lg-12 col-xl-4  total-job-img text-center pad-0">
	                         <span class="tab-3"><img src="../../../content/images/applicants.png"></span>
	                      </div>
	                      <div class="col-lg-12 col-xl-8  total-job-heading text-center  pad-0">
	                         <p>{{job.newApplicants}}<span jhiTranslate="gradzcircleApp.job.newRequests">&nbsp; New Requests</span></p>
	                      </div>
	                      <div class="row tab-content2">
	                         <div class="col-lg-12 total-job-content pad-0">
	                            <span jhiTranslate="gradzcircleApp.job.candidatesApplied">&nbsp;&nbsp;&nbsp; Candidates applied to recent jobs</span>
	                         </div>
	                      </div>
	                   </div>
	                </div>
	                <div class="col-md-12 col-lg-6 col-xl-6 tabs">
	                   <div class="row tab-content">
	                      <div class="col-lg-12 col-xl-4  total-job-img text-center pad-0">
	                         <span class="tab-4"><img src="../../../content/images/saved-profiles.png"></span>
	                      </div>
	                      <div class="col-lg-12 col-xl-8  total-job-heading text-center  pad-0">
	                         <p>{{job.totalLinkedCandidates}}<span jhiTranslate="gradzcircleApp.job.savedProfiles">Saved Profiles</span></p>
	                      </div>
	                      <div class="row tab-content2">
	                         <div class="col-lg-12 total-job-content pad-0">
	                            <span jhiTranslate="gradzcircleApp.job.candidateLinked">&nbsp;&nbsp;&nbsp;Profiles saved for future retention</span>
	                         </div>
	                      </div>
	                   </div>
	                </div>
	             </div>
	          </div>
	        
	       </div>
	       <div class="row m-0 px-4 pt-5 administer-prescription" *ngIf="jobs?.length>0; else noJobs">
	          <div class="col p-0">
	             <div class="table-responsive">
	                <table class="table table-striped table-light text-center table-hover">
		                  <thead class="table-header-bg text-white ">
							<tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse"
								[callback]="transition.bind(this)">
		
								<th jhiSortBy="jobTitle" class="justfiy-content-center font-weight-light"><span
									jhiTranslate="gradzcircleApp.job.jobTitle">Job Title</span><span
									class="icon icon-select-arrows"></span></th>
								<th jhiSortBy="jobType" class="justfiy-content-center font-weight-light"><span
									jhiTranslate="gradzcircleApp.job.jobType">Job Type</span><span
									class="icon icon-select-arrows"></span></th>
								<th jhiSortBy="employmentType" class="justfiy-content-center font-weight-light"><span
									jhiTranslate="gradzcircleApp.job.employmentType">Employment
										Type</span><span class="icon icon-select-arrows"></span></th>
								<th jhiSortBy="jobStatus" class="justfiy-content-center font-weight-light"><span
									jhiTranslate="gradzcircleApp.job.jobStatus">Job Status</span><span
									class="icon icon-select-arrows"></span></th>
								<th jhiSortBy="noOfMatchedApplicants"
									class="justfiy-content-center font-weight-light"><span
									jhiTranslate="gradzcircleApp.job.noOfMatchedApplicants">Applicants</span><span
									class="icon icon-select-arrows"></span></th>
								<th jhiSortBy="noOfCandidatesApplied"
									class="justfiy-content-center font-weight-light"><span
									jhiTranslate="gradzcircleApp.job.noOfCandidatesApplied">Applicants</span><span
									class="icon icon-select-arrows"></span></th>
								<th jhiSortBy="noOfCandidatesApplied"
									class="justfiy-content-center font-weight-light"><span
									jhiTranslate="gradzcircleApp.job.shortlistedCandidate">Applicants</span><span
									class="icon icon-select-arrows"></span></th>
								<th class="justfiy-content-center font-weight-light">Actions</th>
		
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let job of jobs ;trackBy: trackId">
								<td class="font-weight-light">{{job.jobTitle}}</td>
								<td>
									<div *ngIf="job.jobType">{{job.jobType?.jobType}}</div>
								</td>
								<td class="font-weight-light">
									<div *ngIf="job.employmentType">
										{{job.employmentType?.employmentType}}</div>
								</td>
								<td *ngIf="job?.jobStatus===1;else draft" class="font-weight-light">Active</td>
								<ng-template #draft>
								<td class="font-weight-light">Draft</td>
								</ng-template>
								<td class="font-weight-light"><a
									[routerLink]="['../matchedCandidateList']" (click)="setJobAndCorporateRouteParam(job.id,corporateId)">
										{{job.noOfMatchedCandidates}}</a></td>
								<td class="font-weight-light"><a [routerLink]="['../appliedCandidateList',job.id ]">{{job.noOfCandidatesApplied}}</a></td>
								<td class="font-weight-light"><a
									[routerLink]="['../shortListedCandidateList',job.id,corporateId]">
										{{job.noOfShortListedCandidate}}</a></td>
								<td class="icons-edit">
			                         <a [routerLink]="['/', { outlets: { popup: 'job/view'} }]" (click)="setJobEditOrViewRouteParam(job.id)" ><span class="icon icon-eye"></span></a>
			                         <a *ngIf="!job.canEdit" (click)="setJobEditOrViewRouteParam(job.id)" [routerLink]="['/',{outlets : {popup:'jobEditMessage'}}]" replaceUrl="true"> <span class="icon icon-edit"></span> 
									</a> 
									<a *ngIf="job.canEdit" (click)="setJobEditOrViewRouteParam(job.id)" [routerLink]="['/', { outlets: { popup: 'job/edit'} }]" replaceUrl="true"> <span class="icon icon-edit"></span> 
									</a>
			                         <a  [routerLink]="['/', { outlets: { popup: 'job/remove'} }]" (click)="setJobEditOrViewRouteParam(job.id)" replaceUrl="true"> <span class="icon icon-trash"></span> 
									</a>
			                      </td>
						</tbody>
					</table>
		</div>
		<div *ngIf="jobs && jobs.length">
			<div class="row justify-content-center font-weight-light">
				<jhi-item-count [page]="page" [total]="queryCount"
					[itemsPerPage]="itemsPerPage"></jhi-item-count>
			</div>
			<div class="row justify-content-center font-weight-light">
				<ngb-pagination [collectionSize]="totalItems" [(page)]="page"
					(pageChange)="loadPage(page)"></ngb-pagination>
			</div>
		</div>
	</div>
	<ng-template #noJobs> </ng-template>
	       </div>
	    </div>
	</div>
</div>
<div *jhiHasAnyAuthority="['ROLE_CANDIDATE']" class="mt-6">
	<div class="col db-right">
	    <div class="db-content">
	    		 <div class="row m-0 px-4 pt-5 administer-prescription" *ngIf="jobs?.length>0; else noJobs">
		          <div class="col p-0">
		             <div class="table-responsive ">
				              <table class="table table-striped table-light text-center table-hover">
					                  <thead class="table-header-bg text-white">
										<tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse"
											[callback]="transition.bind(this)">
			
										<th jhiSortBy="jobTitle" class="justfiy-content-center font-weight-light"><span
											jhiTranslate="gradzcircleApp.job.jobTitle">Job Title</span><span
											class="icon icon-select-arrows"></span></th>
										<th jhiSortBy="jobType" class="justfiy-content-center font-weight-light"><span
											jhiTranslate="gradzcircleApp.job.jobType">Job Type</span><span
											class="icon icon-select-arrows"></span></th>
										<th jhiSortBy="employmentType" class="justfiy-content-center font-weight-light"><span
											jhiTranslate="gradzcircleApp.job.employmentType">Employment
												Type</span><span class="icon icon-select-arrows"></span></th>
										<th jhiSortBy="matchScore" class="justfiy-content-center font-weight-light"><span
											jhiTranslate="gradzcircleApp.job.matchScore">matchScore</span><span
											class="icon icon-select-arrows"></span></th>
										<th class="justfiy-content-center font-weight-light">Actions</th>
									</tr>
							</thead>
							<tbody class="font-weight-light">
								<tr *ngFor="let job of jobs ;trackBy: trackId">
									<td>{{job.jobTitle}}</td>
									<td>
										<div *ngIf="job.jobType">{{job.jobType?.jobType}}</div>
									</td>
									<td>
										<div *ngIf="job.employmentType">
											{{job.employmentType?.employmentType}}</div>
									</td>
									<td>
										<div>{{job.matchScore}}%</div>
									</td>
									<td class="icons-apply">
			                               <a (click)="setJobViewParamForCandidate(job.id, job.matchScore)" [routerLink]="['/', { outlets: { popup: 'job/view'} }]" class="icon icon-eye" style="color:#1976D2;" placement="right" ngbTooltip="View Job"></a>
			                                <a href="#" class="icon icon-paper-plane" style="color:#1976D2;" placement="right" ngbTooltip="Apply for Job"></a>
			                         </td>
								</tr>
							</tbody>
						</table>
						</div>
						<div *ngIf="jobs && jobs.length">
							<div class="row justify-content-center font-weight-light">
								<jhi-item-count [page]="page" [total]="queryCount"
									[itemsPerPage]="itemsPerPage"></jhi-item-count>
							</div>
							<div class="row justify-content-center">
								<ngb-pagination [collectionSize]="totalItems" [(page)]="page"
									(pageChange)="loadPage(page)"></ngb-pagination>
							</div>
						</div>
					
				</div>
			</div>
			
			<ng-template #noJobs>No Jobs to show at the moment</ng-template>
	    </div>
	 </div>
</div>

<div *jhiHasAnyAuthority="['ROLE_ADMIN']">
	<h2>
		<span jhiTranslate="gradzcircleApp.job.home.title">Jobs</span>
		<button
			class="btn btn-primary float-right jh-create-entity create-job"
			[routerLink]="['/', { outlets: { popup: ['job-new'] } }]">
			<span class="fa fa-plus"></span> <span class="hidden-sm-down"
				jhiTranslate="gradzcircleApp.job.home.createLabel"> Create
				new Job </span>
		</button>
	</h2>
	<jhi-alert></jhi-alert>
	<div class="row">
		<div class="col-sm-12">
			<form name="searchForm" class="form-inline">
				<div class="input-group w-100 mt-3">
					<input type="text" class="form-control" [(ngModel)]="currentSearch"
						id="currentSearch" name="currentSearch"
						placeholder="{{ 'gradzcircleApp.job.home.search' | translate }}">
					<button class="input-group-addon btn btn-info"
						(click)="search(currentSearch)">
						<span class="fa fa-search"></span>
					</button>
					<button class="input-group-addon btn btn-danger" (click)="clear()"
						*ngIf="currentSearch">
						<span class="fa fa-trash-o"></span>
					</button>
				</div>
			</form>
		</div>
	</div>
	<br />
	<div class="table-responsive" *ngIf="jobs">
		<table class="table table-striped">
			<thead>
				<tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse"
					[callback]="transition.bind(this)">
					<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="jobTitle"><span
						jhiTranslate="gradzcircleApp.job.jobTitle">Job Title</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="jobDescription"><span
						jhiTranslate="gradzcircleApp.job.jobDescription">Job
							Description</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="noOfApplicants"><span
						jhiTranslate="gradzcircleApp.job.noOfApplicants">No Of
							Applicants</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="salary"><span
						jhiTranslate="gradzcircleApp.job.salary">Salary</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="jobStatus"><span
						jhiTranslate="gradzcircleApp.job.jobStatus">Job Status</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="createDate"><span
						jhiTranslate="gradzcircleApp.job.createDate">Create Date</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="originalJobCost"><span
						jhiTranslate="gradzcircleApp.job.originalJobCost">Job Cost</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="jobCost"><span
						jhiTranslate="gradzcircleApp.job.jobCost">Job Cost</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="amountPaid"><span
						jhiTranslate="gradzcircleApp.job.amountPaid">Amount Paid</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="totalAmountPaid"><span
						jhiTranslate="gradzcircleApp.job.totalAmountPaid">Total
							Amount Paid</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="noOfApplicantsBought"><span
						jhiTranslate="gradzcircleApp.job.noOfApplicantsBought">No
							Of Applicants Bought</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="removedFilterAmount"><span
						jhiTranslate="gradzcircleApp.job.removedFilterAmount">Removed
							Filter Amount</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="additionalFilterAmount"><span
						jhiTranslate="gradzcircleApp.job.additionalFilterAmount">Additional
							Filter Amount</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="adminCharge"><span
						jhiTranslate="gradzcircleApp.job.adminCharge">Admin Charge</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="adminChargeRate"><span
						jhiTranslate="gradzcircleApp.job.adminChargeRate">Admin
							Charge Rate</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="upfrontDiscountRate"><span
						jhiTranslate="gradzcircleApp.job.upfrontDiscountRate">Upfront
							Discount Rate</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="upfrontDiscountAmount"><span
						jhiTranslate="gradzcircleApp.job.upfrontDiscountAmount">Upfront
							Discount Amount</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="escrowAmountUsed"><span
						jhiTranslate="gradzcircleApp.job.escrowAmountUsed">Escrow
							Amount Used</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="escrowAmountAdded"><span
						jhiTranslate="gradzcircleApp.job.escrowAmountAdded">Escrow
							Amount Added</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="paymentType"><span
						jhiTranslate="gradzcircleApp.job.paymentType">Payment Type</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="hasBeenEdited"><span
						jhiTranslate="gradzcircleApp.job.hasBeenEdited">Has Been
							Edited</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="everActive"><span
						jhiTranslate="gradzcircleApp.job.everActive">Ever Active</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="canEdit"><span
						jhiTranslate="gradzcircleApp.job.canEdit">Can Edit</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="updateDate"><span
						jhiTranslate="gradzcircleApp.job.updateDate">Update Date</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="createdBy"><span
						jhiTranslate="gradzcircleApp.job.createdBy">Created By</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="updatedBy"><span
						jhiTranslate="gradzcircleApp.job.updatedBy">Updated By</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="noOfApplicantLeft"><span
						jhiTranslate="gradzcircleApp.job.noOfApplicantLeft">noOfApplicantLeft</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="jobType"><span
						jhiTranslate="gradzcircleApp.job.jobType">Job Type</span><span
						class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="employmentType"><span
						jhiTranslate="gradzcircleApp.job.employmentType">Employment
							Type</span><span class="icon icon-select-arrows"></span></th>
					<th jhiSortBy="corporate"><span
						jhiTranslate="gradzcircleApp.job.corporate">Corporate</span><span
						class="icon icon-select-arrows"></span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let job of jobs ;trackBy: trackId">
					<td><a [routerLink]="['../job', job.id ]">{{job.id}}</a></td>
					<td>{{job.jobTitle}}</td>
					<td>{{job.jobDescription}}</td>
					<td>{{job.noOfApplicants}}</td>
					<td>{{job.salary}}</td>
					<td>{{job.jobStatus}}</td>

					<td>{{job.createDate | date:'medium'}}</td>
					<td>{{job.originalJobCost}}</td>
					<td>{{job.jobCost}}</td>
					<td>{{job.amountPaid}}</td>
					<td>{{job.totalAmountPaid}}</td>
					<td>{{job.noOfApplicantsBought}}</td>
					<td>{{job.removedFilterAmount}}</td>
					<td>{{job.additionalFilterAmount}}</td>
					<td>{{job.adminCharge}}</td>
					<td>{{job.adminChargeRate}}</td>
					<td>{{job.upfrontDiscountRate}}</td>
					<td>{{job.upfrontDiscountAmount}}</td>
					<td>{{job.escrowAmountUsed}}</td>
					<td>{{job.escrowAmountAdded}}</td>
					<td
						jhiTranslate="{{'gradzcircleApp.PaymentType.' + job.paymentType}}">{{job.paymentType}}</td>
					<td>{{job.hasBeenEdited}}</td>
					<td>{{job.everActive}}</td>
					<td>{{job.canEdit}}</td>
					<td>{{job.updateDate | date:'medium'}}</td>
					<td>{{job.createdBy}}</td>
					<td>{{job.updatedBy}}</td>
					<td>{{job.noOfApplicantLeft}}</td>

					<td>
						<div *ngIf="job.jobType">
							<a [routerLink]="['../job-type', job.jobType?.id ]">{{job.jobType?.id}}</a>
						</div>
					</td>
					<td>
						<div *ngIf="job.employmentType">
							<a [routerLink]="['../employment-type', job.employmentType?.id ]">{{job.employmentType?.id}}</a>
						</div>
					</td>
					<td>
						<div *ngIf="job.corporate">
							<a [routerLink]="['../corporate', job.corporate?.id ]">{{job.corporate?.id}}</a>
						</div>
					</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="submit" [routerLink]="['../job', job.id ]"
								class="btn btn-info btn-sm">
								<span class="fa fa-eye"></span> <span class="d-none d-md-inline"
									jhiTranslate="entity.action.view">View</span>
							</button>
							<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'job/'+ job.id + '/edit'} }]"
								replaceUrl="true" class="btn btn-primary btn-sm">
								<span class="fa fa-pencil"></span> <span
									class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
							</button>
							<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'job/'+ job.id + '/delete'} }]"
								replaceUrl="true" class="btn btn-danger btn-sm">
								<span class="fa fa-remove"></span> <span
									class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div *ngIf="jobs && jobs.length">
		<div class="row justify-content-center">
			<jhi-item-count [page]="page" [total]="queryCount"
				[itemsPerPage]="itemsPerPage"></jhi-item-count>
		</div>
		<div class="row justify-content-center">
			<ngb-pagination [collectionSize]="totalItems" [(page)]="page"
				(pageChange)="loadPage(page)"></ngb-pagination>
		</div>
	</div>
</div>
