.portfolio-block.projects-with-sidebar .sidebar {
  padding-left: 20px;
  padding-bottom: 15px;
  display: -ms-flexbox;
  display: block;
  overflow: auto;
}

.list-inline, .list-unstyled {
  padding-left: 0;
  list-style: none;
}

dl, ol, ul {
  margin-top: 0;
}



.portfolio-block.projects-with-sidebar .sidebar li:not(:last-child) {
  margin-right: 20px;
}

.portfolio-block.projects-with-sidebar .sidebar .active {
  font-weight: 700;
}

.portfolio-block.projects-with-sidebar a:hover {
  opacity: .8;
}

.portfolio-block.projects-with-sidebar a {
  /*color: #212529;*/
  font-weight: 300;
}

a:hover {
  color: #0075c1;
  text-decoration: underline;
}

a {
  color: #0ea0ff;
  text-decoration: none;
  background-color: transparent;
}

.project-card-no-image {
  box-shadow: 0 2px 10px rgba(0,0,0,.075);
  padding: 35px;
  border-top: 4px solid #0ea0ff;
  margin-bottom: 30px;
}

.project-card-no-image h3 {
  font-size: 1.3em;
  margin-bottom: 20px;
}

.project-card-no-image h4 {
  font-size: 1em;
  opacity: .6;
  margin-bottom: 20px;
}

.project-card-no-image .tags {
  text-transform: uppercase;
  float: right;
  font-size: .75em;
}

.project-card-no-image .tags a {
  color: #979797;
}

a:hover {
  color: #0075c1;
  text-decoration: underline;
}

a {
  color: #0ea0ff;
  text-decoration: none;
  background-color: transparent;
}


