<div id="wrapper">
	<div class="d-flex flex-column" id="content-wrapper">
		<div id="content">
			<div class="container-fluid">
				<div class="text-center mt-5">
					<div *ngIf="!error403" class="error mx-auto">
						<p class="m-0" jhiTranslate="error.title">Error</p>
						
					</div>
					<p *ngIf="!error403" class="text-dark mb-5 lead ">Something bad happened. Let us fix it. </p>
					<p [hidden]="!errorMessage" class="text-dark mb-5 lead h3 ">{{errorMessage}}</p>
					<p [hidden]="!error403" class="text-black-50 mb-0 h3"
						jhiTranslate="error.http.403"></p>
				</div>
			</div>
		</div>
	</div>
</div>