



*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
span,
b,
strong {
    margin: 0;
    padding: 0;
}

header {
	background: rgba(0, 0, 0, 0.7) url("../../content/images/header-bg.jpg");
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
	background-position: 41% 32%;
}
.pad-right {
    padding-right: 0;
}

ul.nav li {
    display: inline-block;
}

.logo {
    padding: 12.5px 0;
}

.top_header {
    padding: 5.5px 0px;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #3eaae6;
}
ul.navbar-nav.nav {
    width: 100%;
    text-align: center !important;
    justify-content:center;
}
.navbar-toggler-icon i.fas.fa-bars {
    color: #fff;
}

.nav>li>a {
    color: #fff;
    padding: 10px 25px;
    text-transform: uppercase;
}

.nav>li>a:hover,
.nav>li>a:focus,
.nav li.active a {
    text-decoration: none;
    background-color: transparent;
    color: #000;
}

.header_btn .btn_login,
.header_btn .btn_signup {
    /* background-color: #1276ae; */
    color: #fff;
    text-decoration: none;
    width: auto;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    font-weight: 500;
    text-align: center;
    padding: 0px 10px;
}

.header_btn .btn_signup {
    /* background-color: #3b998c; */
    margin-left: 0;
}

.main-nav {
    padding-top: 8px;
}

.container .jumbotron {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 6% 20px 3%;
    margin: 20% 0 13%;
    border-radius: 0;
}

.jumbotron .banner_heading {
    font-size: 63px;
    font-family: 'proxima_nova_rgbold';
    color: #fff;
    font-weight: bold;
}

.jumbotron .banner_p {
    font-size: 26px;
    color: #fff;
    font-weight: normal;
    margin-top: 25px;
}

.wrapper-dropdown-5 {
    /* Size & position */
    position: relative;
    width: 165px;
    margin: 0 auto;
    padding-left: 20px;
    /* Styles */
    background: #ebebeb;
    border-radius: 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-align: left;
    font-size: 20px;
    color: #000;
    height: 60px;
    line-height: 60px;
}

.wrapper-dropdown-5:after {
    /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #000 transparent;
}
.wrapper-dropdown-5 .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    max-height: 0;
    overflow: hidden;
    z-index: 9;
}

.wrapper-dropdown-5 .dropdown li {
    padding: 0px 10px;
    line-height: 24px;
}

.wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 0 4px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
    font-size: 16px;
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}


/* Hover state */

.wrapper-dropdown-5 .dropdown li:hover a {
    color: #57a9d9;
}


/* Active state */

.wrapper-dropdown-5.active {
    border-radius: 5px 5px 0 0;
    background: #3097d1;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-dropdown-5.active:after {
    border-color: #ffffff transparent;
}

.wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    max-height: 400px;
}

input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    border: none;
}

.padding-left {
    padding-left: 0;
    padding-right: 0;
}

.search_button button {
    height: 60px;
    line-height: 60px;
    width: 100%;
    color: #fff;
    font-family: 'proxima_nova_rgbold';
    font-size: 16px;
    background: #3097d1;
    border: 1px solid #3097d1;
}

.mar-50 {
    margin-top: 50px;
}

.container .jumbotron {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

section {
    padding: 60px 0;
    overflow: hidden;
    display: block;
}

.section_1_heading {
    font-size: 40px;
    font-family: 'proxima_novalight';
    color: #3097d1;
}

.section_1_heading_content {
    font-size: 20px;
    color: #090a07;
    padding: 10px 0;
}

.section-1-tab-heading {
    font-size: 20px;
    color: #000;
    padding: 10px 0;
}

.section-1-tab-heading-content {
    font-size: 15px;
    color: #666666;
    padding: 0px 0;
    line-height: 1.5em;
    width: 68%;
    margin: 0 auto;
}

.mar-40 {
    margin-top: 40px;
}

.section-2 {
    background: #f8f8f8;
    overflow: hidden;
    display: block;
}

.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.jobs-tab-1 {
    background: url("../../content/images/jobs-bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 20px 0 50px;
}

.jobs-heading {
    font-size: 30px;
    color: #fff;
    padding-left: 25px;
}

.jobs-content {
    font-size: 20px;
    color: #fff;
    padding-left: 25px;
}

.jobs-tab-2 {
    background: url('../../content/images/jobs-bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 20px 0 50px;
}

.jobs-tab-3 {
    background: url('../../content/images/jobs-bg-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 20px 0 50px;
}

.carousel-control-prev,
.carousel-control-next {
    background-image: none;
}

.padding_header {
    padding: 2% 0;
    margin: 0 auto;
}

.software-description {
    color: #282828;
}

.software {
    display: block;
    overflow: hidden;
    margin-top: -30px;
    padding: 0;
}
.carousel-control-prev i.fas.fa-chevron-left, .carousel-control-next i.fas.fa-chevron-right {
    font-size: 50px;
}
.mar-38 {
    margin-top: 38px;
}

.white-bg {
    background: #fff;
    margin: 6px;
}

.jobs-bottom-p {
    color: #282828;
    text-align: justify;
    padding-bottom: 13px;
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 17px;
}

.jobs-button {
    height: 35px;
    background: #3097d1;
    line-height: 35px;
    text-decoration: none;
    color: #fff;
    width: 100px;
    text-align: center;
    float: right;
    font-family: 'proxima_nova_rgbold';
}

.glyphicon {
    color: #adadad;
}

.jobs-button:hover {
    text-decoration: none;
    color: #fff;
}
.jobs-bottom-button {
    overflow: hidden;
    padding-bottom: 20px;
    padding-left: 2vw;
    padding-right: 1.9vw;
}
.section-1-main-button {
    display: inline-block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    background: #3097d1;
    text-align: center;
    text-decoration: none;
    font-family: 'proxima_nova_rgbold';
    color: #fff;
    margin: 80px auto 0;
}

.section-1-main-button:hover {
    text-decoration: none;
    color: #fff;
}
#demo .carousel-control-next, #demo .carousel-control-prev{
    position: absolute;
    top: auto;
    bottom: 9vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 98%;
    color: #a9a3a3;
    text-align: center;
    opacity: 1;
}

#demo1 .carousel-control-next, #demo1 .carousel-control-prev {
    position: absolute;
    top: auto;
    bottom: 7vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 0;
    color: #a9a3a3;
    text-align: center;
    opacity: 1;
}
#demo1 .carousel-control-prev {
    left: -3vw;
}
#demo1 .carousel-control-next {
    right: -3vw;
}

.carousel-control-next a{
     z-index: 9;
         color: #bdbdbd;
}

.carousel-control-prev a{

        z-index: 9;
        color: #bdbdbd;
}


.mar-120 {
    margin-top: 120px;
}

.icon-1 img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.icon-1 img:hover {
    -webkit-filter: none;
    /* Safari 6.0 - 9.0 */
    filter: none;
}

.icon-1.active img {
    -webkit-filter: none;
    /* Safari 6.0 - 9.0 */
    filter: none;
}

.gray-bg {
    background: #f8f8f8;
}

.testominial-bg {
    background: #3097d1;
    overflow: hidden;
    display: block;
}

.testominial-first-row {
    min-height: 55px;
    overflow: hidden;
    display: block;
    background: #1d7cb1;
}

.testominial-second-row {
    margin-top: -40px;
}

.testominial-heading {
    color: #fff;
    font-family: 'proxima_nova_rgbold';
    font-size: 16px;
    margin-left: 2%;
}

.testominial-heading-content {
    color: #fff;
    font-size: 14px;
    margin-left: 2%;
    margin-top: 5px;
}

.testominial-heading-para {
    margin-top: 10px;
    text-align: justify;
    color: #fff;
    font-size: 14px;
    padding-bottom: 10px;
}

.mar-20 {
    margin-top: 20px;
}

.pad-0 {
    padding: 0;
}

.testominial_2-bg {
    background: #dadada;
    overflow: hidden;
    display: block;
}

.testominial_2-first-row {
    min-height: 55px;
    overflow: hidden;
    display: block;
    background: #bebebe;
}

.testominial_2-heading {
    color: #282828;
    font-family: 'proxima_nova_rgbold';
    font-size: 16px;
    margin-left: 5px;
}

.testominial_2-heading-content {
    color: #282828;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 5px;
}

.testominial_2-heading-para {
    margin-top: 10px;
    text-align: justify;
    color: #282828;
    font-size: 14px;
    padding-bottom: 10px;
}

a.custom-control {
    width: 0;
    left: auto;
    right: auto;
}

.custom-margin {
    margin: 50px auto 0;
}

.custom-left {
    position: absolute;
    left: -88px !important;
    font-size: 40px;
}

.custom-right {
    position: absolute;
    right: -110px !important;
    font-size: 40px;
}

footer {
    background: #2d2d2d;
    padding: 40px 0;
}

.footer-heading {
    color: #fff;
    font-size: 18px;
    font-family: 'proxima_nova_rgbold';
}

.footer-content {
    color: #fff;
    font-size: 15px;
    text-align: justify;
    width: 76%;
}

.footer-nav li a {
    color: #b3b3b3;
    font-size: 15px;
    text-decoration: none;
}

.footer-nav li a.active,
.footer-nav li a:hover {
    color: #3399d2;
}

.footer-2 {
    background: #010101;
    padding: 20px 0 10px;
}

p.footer-2-content {
    color: #5d5d5d;
    text-align: left;
}

ul.footer-2-nav li {
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
}

ul.footer-2-nav li a {
    color: #b3b3b3;
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
}

ul.footer-2-nav li a.active,
ul.footer-2-nav li a:hover {
    color: #3399d2;
}

.pad-right-0 {
    padding-right: 0;
}
.software ul li {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    margin-top: -4.9vh;
    vertical-align: middle;
    padding-left: 1vw;
    padding-top: 8px;
    font-size: 17px;
}
.software ul li a>img {
    margin-top: -1vh !important;
}
.software ul li a:hover {
    text-decoration: none;
}

span.glyphicon.glyphicon-map-marker {
    color: #282828;
}

.col-md-12.software ul {
    margin-top: 6vh;
}

.Our_Leading > .col-sm-2.col-md-2.col-lg-2.col-xl-2 {
    margin: 0 auto;
}


@media (max-width: 1609px) {
.software ul li {
    padding-left: 0.5vw;
    font-size: 17px;
}
.nav>li>a {
    padding: 0px 2px;
    font-size: 16px;
}

}
@media (max-width: 1450px) {
.software ul li {
    padding-left: 0.2vw;
    font-size: 15px;
}
.nav>li>a {
    padding: 8px 2px;
    font-size: 17px;
}
.header_btn {
    padding: 0;
}

}

@media (max-width: 1320px) {

    .software ul li {
    margin-top: 1vh;
    padding-left: 4px;
    font-size: 14px;
}
section {
    padding: 30px 0;
}
.mar-120 {
    margin-top: 7vw;
}
    .software ul li:first-child {
        margin-top: -3vh;
          }
       
   .header_btn .btn_login, .header_btn .btn_signup {
    width: auto !important;
    height: auto;
    line-height: 28px;
    font-size: 13px;
    padding: 0px 3px;
}
    .logo {
        padding: 0px;
    }
    .main-nav {
        padding-top: 0px;
    }
    .jumbotron .banner_heading {
        font-size: 38px;
    }
    .jumbotron .banner_p {
        font-size: 23px;
    }
    .carousel-control-next, .carousel-control-prev  {
        width: 94%;
    }
    .testominial-heading,
    .testominial_2-heading {
        margin-left: 10%;
    }
    .testominial-heading-content,
    .testominial_2-heading-content {
        margin-left: 10%;
    }
    .software img {
        width: 30px;
        height: 30px;
    }

  .nav>li>a {
    padding: 0px 2px;
    font-size: 16px;
}
    .header_btn .btn_login,
    .header_btn .btn_signup {
        width: 40%;
    }
    .wrapper-dropdown-5:after {
        right: 6vw;
    }
      .pad-0-20{
        padding: 0 20px;
        box-sizing: border-box;
    }
    .jobs-heading {
    font-size: 22px;
   }
   .jobs-content {
    font-size: 18px;
  }
}

@media (max-width: 1050px) {

.software ul li {
    margin-top: 0.5vh;
    padding-left: 16px;
    font-size: 14px;
    display: block;
}
.nav>li>a {
    padding: 0px 2px;
    font-size: 14px;
}
img.img-responsive {
    width: 100%;
}
   .navbar-expand-md .navbar-nav .nav-link {
    padding-right: .5rem;
     padding-left: 0rem; 
}
.testominial-heading-content, .testominial_2-heading-content {
    margin-left: 7%;
}
.testominial-heading, .testominial_2-heading {
    margin-left: 7%;
}
.carousel-control-prev i.fas.fa-chevron-left, .carousel-control-next i.fas.fa-chevron-right {
    font-size: 26px;
}
#demo1 .carousel-control-next {
    right: -2vw;
}
#demo1 .carousel-control-prev {
    left: -2vw;
}
      }

@media(max-width: 768px) {
    div#dd {
        width: 100%;
    }
    .wrapper-dropdown-5:after {
        top: 50%;
    }
    .header_btn {
    padding: 0;
}
.header_btn .btn_login, .header_btn .btn_signup {
    width: auto; 
    padding: 0;   
}
    .top_header {
    padding: 5px 0px 0px;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #3eaae6;
}
    .navbar-toggle {
        margin-right: 20%;
    }
  
    .search_button button {
        width: 100%;
        font-size: 13px;
    }
    .mar-38 {
        margin-top: 2%;
    }
    .jobs-bottom-p {
        margin-top: 2%;
    }
    .Our_Leading .col-md-2 {
        margin: 2% auto !important;
    }
    .item .col-md-4 {
        margin-top: 2%;
    }
    ul.nav.text-center li {
        display: block;
    }
    .nav>li>a {
        padding: 8px 16%;
        font-size: 13px;
        text-align: left;
    }
    .logo {
    text-align: left;
    height: 30px;
    line-height: 30px;
}
.logo-resposive{
    padding-right:0; 
}
    .navbar-header {
        margin-top: -6%;
    }
    .navbar-header {
        margin-top: -12vh;
        padding-bottom: 15vh;
    }
    .navbar-toggle {
        margin-right: 14vw;
        border: 1px solid #fff;
    }
    ul.footer-2-nav {
        text-align: center;
        margin: 4vh;
    }
    .carousel-control-prev {
    left: -9px;
}
.carousel-control-next {
    right: -9px;
}
#demo .carousel-control-next, #demo .carousel-control-prev {
    bottom: 8vh;
}
    .wrapper-dropdown-5 {
        padding-left: 3vh;
        font-size: 14px;
    }
    .wrapper-dropdown-5:after {
        right: 3vw;
    }
    .mar-38 {
        margin-top: 2vh;
    }
    .container .jumbotron {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        overflow: hidden;
}
.jumbotron .banner_heading {
    font-size: 28px;
    line-height: 14vh;
}
  .pad-0-20{
        padding: 0 20px;
        box-sizing: border-box;
    }
.navbar {
    padding: 0 !important;
    display: block;
    text-align: right;
}
.mar-120 {
    margin-top: 8vh;
}
section {
    padding: 16px 2%;
    overflow: hidden;
    display: block;
}
.jobs-bottom-button {
    padding-left: 5vw;
    padding-right: 4.9vw;
}
.testominial-heading-content, .testominial_2-heading-content {
    margin-left: 2%;
}
.testominial-heading, .testominial_2-heading {
    margin-left: 2%;
}
.row.col-md-12.testominial-second-row {
    display: block;
}
.jobs-heading {
    font-size: 16px;
}
.jobs-content {
    font-size: 16px;
}
#demo1 .carousel-control-next {
    right: 34vw;
    bottom: -6vh;
}
#demo1 .carousel-control-prev {
    left: 34vw;
    bottom: -6vh;
}
}

@media (max-width:520px) {
    .wrapper-dropdown-5 {
        padding-left: 1vh;
        font-size: 14px;
    }
    .navbar-expand-md .navbar-nav .nav-link {    
    padding-left: 1rem;
}
    .wrapper-dropdown-5:after {
        right: 2vw;
    }
    .header_btn .btn_login, .header_btn .btn_signup {
    
    padding: 0 20px;
}
    img.img-responsive {
    width: 50%;
    }
    .pad-responsive {
        padding: 0;
    }
    .carousel-control-next, .carousel-control-prev  {
    width: 87vw;
}
    .pad-0-20{
        padding: 0 20px;
        box-sizing: border-box;
    }
    .mar-18{
        margin-top: 18px;

    }
.navbar {
    padding: 0;
    display: block;
    text-align: right;
    padding: 0px 2px 20px 28px;
    margin-top: -4vh;
}
.pad-right {
    padding: 0;
}
.logo {
    max-width: 80%;
}
#demo1 .carousel-control-next {
    right: 45vw;
    bottom: -7vh;
}
#demo1 .carousel-control-prev {
    left: 45vw;
    bottom: -7vh;
}
}
.modal-dialog {
    max-width: 600px;
    margin: 1.75rem auto;
}
.modal {
     top: 12vh; 
}
.modal-title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-family: 'open_sansregular';
    width: 100%;
}
.modal-header {
    background: #3097d1;
    color: #fff;
    text-align: center;
    border: 0;
    border-top-left-radius:0;
    border-top-right-radius:0;
}
.modal-header .close {
    opacity: 1;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 6px;
}
.modal-header .close:hover, .modal-header .close:active {
    color: #fff;
    text-decoration: none;
}
.modal-content{
  border: 0;
}
.btn-custom{
    background: #3097d1;
    color: #fff;
}
a.btn_login, a.btn_signup {
    cursor: pointer;
}
.forget_password{
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
nav.navbar {
    padding: 5px 1rem 0;
}