.portfolio-block.block-intro {
    text-align: center;
}

.portfolio-block {
    padding-bottom: 60px;
    padding-top: 10px;
}

.portfolio-block.block-intro .avatar {
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 100px;
    margin-bottom: 30px;
}

.portfolio-block.block-intro .about-me {
    max-width: 800px;
    margin: 0 auto;
    font-size: 2rem;
}

.portfolio-block.photography {
    padding-top: 0;
    padding-bottom: 0;
}

.portfolio-block.photography .item {
    overflow: hidden;
    margin-bottom: 0;
    background: #000;
    opacity: 1;
}

.portfolio-block.photography .item a img {
    transition: 0.8s ease;
}

.img-fluid,
.img-thumbnail {
    max-width: 100%;
    height: auto;
}

img,
svg {
    vertical-align: middle;
}

img {
    border-style: none;
}

a:hover {
    color: #0075c1;
    text-decoration: underline;
}

a {
    color: #0ea0ff;
    text-decoration: none;
    background-color: transparent;
}

.portfolio-block.call-to-action {
    padding-top: 60px;
    padding-bottom: 60px;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}

.portfolio-block.call-to-action .content {
    -ms-flex-direction: column;
    flex-direction: column;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.font-overlay {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
}
