<header>

		<div class="container">
			<div class="jumbotron text-center">
				<h1 class="banner_heading" jhiTranslate="home.mainHeader"></h1>
				<p class="banner_p" jhiTranslate="home.subHeader"></p>
				<!-- 			<div class="row mar-50 pad-0-20">
				<div class="col-sm-3 col-md-3 col-lg-2 col-xl-2 pad-right">
					<div class="wrapper-demo">
						<div id="dd" class="wrapper-dropdown-5" tabindex="1">
							Job
							<ul class="dropdown">
								<li><a href="#"><i class="icon-user"></i>Profile</a></li>
								<li><a href="#"><i class="icon-cog"></i>Settings</a></li>
								<li><a href="#"><i class="icon-remove"></i>Log out</a></li>
							</ul>
						</div>
						&#8203;
					</div>
				</div>

				<div class="col-sm-6 col-md-6 col-lg-8 col-xl-8 padding-left">
					<div class="search">
						<input type="search">
					</div>
				</div>

				<div
					class="col-sm-3 col-md-3 col-lg-2 col-lg-2 col-xl-2  text-right pad-responsive mar-18">
					<div class="search_button">
						<button>SERACH</button>
					</div>
				</div>

			</div> -->
			</div>
		</div>

</header>
<section>
	<div class="container mt-5">
		<div class="row">
			<h1
				class="col-sm-12 col-md-12 col-lg-12 col-xl-12  section_1_heading text-center" jhiTranslate="home.sectionContent_1"></h1>
			<p
				class="col-sm-12 col-md-12 col-lg-12 col-xl-12  section_1_heading_content text-center" jhiTranslate="home.sectionContent_2"></p>
		</div>
			<div class="row mt-5">
				<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center mar-40">
					<div class="icon-1 active">
						<img src="../../content/images/user-icon.png">
					</div>
					<h3 class="section-1-tab-heading" jhiTranslate="home.createProfile"></h3>
					<p class="section-1-tab-heading-content" jhiTranslate="home.createProfileDescription"></p>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center mar-40">
					<div class="icon-1">
						<img src="../../content/images/right.png">
					</div>
					<h3 class="section-1-tab-heading" jhiTranslate="home.applyJob"></h3>
					<p class="section-1-tab-heading-content" jhiTranslate="home.applyJobDescription"></p>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center mar-40">
					<div class="icon-1">
						<img src="../../content/images/get-hired.png">
					</div>
					<h3 class="section-1-tab-heading" jhiTranslate="home.getNoticed"></h3>
					<p class="section-1-tab-heading-content" jhiTranslate="home.getNoticedDescription"></p>
				</div>
			</div>
			<!--<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12  text-center">
				<a href="#" class="section-1-main-button">REGISTER NOW</a>
			</div>-->
		
	</div>
</section>
<!--  --<section class="section-2">
	<div class="container-fluid">
		<div class=" row">
			<h1
				class="col-sm-12 col-md-12 col-lg-12 col-xl-12 section_1_heading text-center">Latest
				Jobs</h1>
			<p
				class="col-sm-12 col-md-12 col-lg-12 col-xl-12 section_1_heading_content text-center">Find
				the latest jobs posted in last 7 days</p>
			<div id="demo" class="carousel slide" data-ride="carousel">
				<!-- Wrapper for slides --
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="row">
							<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 pad-0">
								<div class="white-bg">
									<div class="jobs-tab-1">
										<h2 class="jobs-heading">Software Developer</h2>
										<p class="jobs-content">Full Time</p>
									</div>
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 software">
										<ul class="">
											<li><a href="default.asp" class="active"><img
													src="../../content/images/dell.png"></a></li>
											<li><a href="news.asp">
													<p class="software-description">Experience: 2-3 years</p>
											</a></li>
											<li><a href="contact.asp">
													<p class="software-description">$: 40/hour</p>
											</a></li>
											<li><a href="contact.asp">
													<p class="software-description">
														<span class="glyphicon glyphicon-map-marker"></span>Los
														Angels CA
													</p>
											</a></li>
										</ul>
									</div>
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
										<p class="jobs-bottom-p">Lorem ipsum dolor sit amet,
											consectetur adipisicing elit, sed do eiusmod tempor
											incididunt ut labore et dolore magna aliqua. Ut enim ad minim
											veniam, quis nostrud exercitation ullamco laboris nisi ut
											aliquip ex ea commodo consequat.</p>
									</div>
									<div class="row jobs-bottom-button">
										<div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left">
											<span class="glyphicon glyphicon-heart"><i
												class="far fa-heart"></i></span>
										</div>
										<div
											class="col col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
											<a href="#" class="jobs-button">APPLY</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 pad-0">
								<div class="white-bg">
									<div class="jobs-tab-2">
										<h2 class="jobs-heading">Business Analysit</h2>
										<p class="jobs-content">Full Time</p>
									</div>
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 software">
										<ul class="">
											<li><a href="default.asp" class="active"><img
													src="../../content/images/hp.png"></a></li>
											<li><a href="news.asp">
													<p class="software-description">Experience: 2-3 years</p>
											</a></li>
											<li><a href="contact.asp">
													<p class="software-description">$: 40/hour</p>
											</a></li>
											<li><a href="contact.asp">
													<p class="software-description">
														<span class="glyphicon glyphicon-map-marker"></span>Los
														Angels CA
													</p>
											</a></li>
										</ul>
									</div>
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
										<p class="jobs-bottom-p">Lorem ipsum dolor sit amet,
											consectetur adipisicing elit, sed do eiusmod tempor
											incididunt ut labore et dolore magna aliqua. Ut enim ad minim
											veniam, quis nostrud exercitation ullamco laboris nisi ut
											aliquip ex ea commodo consequat.</p>
									</div>
									<div class="row jobs-bottom-button">
										<div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left">
											<span class="glyphicon glyphicon-heart"><i
												class="far fa-heart"></i></span>
										</div>
										<div
											class="col col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
											<a href="#" class="jobs-button">APPLY</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 pad-0">
								<div class="white-bg">
									<div class="jobs-tab-3">
										<h2 class="jobs-heading">UX/UI Designer</h2>
										<p class="jobs-content">Full Time</p>
									</div>
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 software">
										<ul class="">
											<li><a href="default.asp" class="active"><img
													src="../../content/images/adobe.png"></a></li>
											<li><a href="news.asp">
													<p class="software-description">Experience: 2-3 years</p>
											</a></li>
											<li><a href="contact.asp">
													<p class="software-description">$: 40/hour</p>
											</a></li>
											<li><a href="contact.asp">
													<p class="software-description">
														<span class="glyphicon glyphicon-map-marker"></span>Los
														Angels CA
													</p>
											</a></li>
										</ul>
									</div>
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
										<p class="jobs-bottom-p">Lorem ipsum dolor sit amet,
											consectetur adipisicing elit, sed do eiusmod tempor
											incididunt ut labore et dolore magna aliqua. Ut enim ad minim
											veniam, quis nostrud exercitation ullamco laboris nisi ut
											aliquip ex ea commodo consequat.</p>
									</div>
									<div class="row jobs-bottom-button">
										<div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left">
											<span class="glyphicon glyphicon-heart"><i
												class="far fa-heart"></i></span>
										</div>
										<div
											class="col col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
											<a href="#" class="jobs-button">APPLY</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="row">
							<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 pad-0">
								<div class="white-bg">
									<div class="jobs-tab-1">
										<h2 class="jobs-heading">Software Developer</h2>
										<p class="jobs-content">Full Time</p>
									</div>
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 software">
										<ul class="">
											<li><a href="default.asp" class="active"><img
													src="../../content/images/dell.png"></a></li>
											<li><a href="news.asp">
													<p class="software-description">Experience: 2-3 years</p>
											</a></li>
											<li><a href="contact.asp">
													<p class="software-description">$: 40/hour</p>
											</a></li>
											<li><a href="contact.asp">
													<p class="software-description">
														<span class="glyphicon glyphicon-map-marker"></span>Los
														Angels CA
													</p>
											</a></li>
										</ul>
									</div>
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
										<p class="jobs-bottom-p">Lorem ipsum dolor sit amet,
											consectetur adipisicing elit, sed do eiusmod tempor
											incididunt ut labore et dolore magna aliqua. Ut enim ad minim
											veniam, quis nostrud exercitation ullamco laboris nisi ut
											aliquip ex ea commodo consequat.</p>
									</div>
									<div class="row jobs-bottom-button">
										<div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left">
											<span class="glyphicon glyphicon-heart"></span><i
												class="far fa-heart"></i>
										</div>
										<div
											class="col col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
											<a href="#" class="jobs-button">APPLY</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 pad-0">
								<div class="white-bg">
									<div class="jobs-tab-2">
										<h2 class="jobs-heading">Business Analysit</h2>
										<p class="jobs-content">Full Time</p>
									</div>
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 software">
										<ul class="">
											<li><a href="default.asp" class="active"><img
													src="../../content/images/hp.png"></a></li>
											<li><a href="news.asp">
													<p class="software-description">Experience: 2-3 years</p>
											</a></li>
											<li><a href="contact.asp">
													<p class="software-description">$: 40/hour</p>
											</a></li>
											<li><a href="contact.asp">
													<p class="software-description">
														<span class="glyphicon glyphicon-map-marker"></span>Los
														Angels CA
													</p>
											</a></li>
										</ul>
									</div>
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
										<p class="jobs-bottom-p">Lorem ipsum dolor sit amet,
											consectetur adipisicing elit, sed do eiusmod tempor
											incididunt ut labore et dolore magna aliqua. Ut enim ad minim
											veniam, quis nostrud exercitation ullamco laboris nisi ut
											aliquip ex ea commodo consequat.</p>
									</div>
									<div class="row jobs-bottom-button">
										<div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left">
											<span class="glyphicon glyphicon-heart"><i
												class="far fa-heart"></i></span>
										</div>
										<div
											class="col col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
											<a href="#" class="jobs-button">APPLY</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 pad-0">
								<div class="white-bg">
									<div class="jobs-tab-3">
										<h2 class="jobs-heading">UX/UI Designer</h2>
										<p class="jobs-content">Full Time</p>
									</div>
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 software">
										<ul class="">
											<li><a href="default.asp" class="active"><img
													src="../../content/images/adobe.png"></a></li>
											<li><a href="news.asp">
													<p class="software-description">Experience: 2-3 years</p>
											</a></li>
											<li><a href="contact.asp">
													<p class="software-description">$: 40/hour</p>
											</a></li>
											<li><a href="contact.asp">
													<p class="software-description">
														<span class="glyphicon glyphicon-map-marker"></span>Los
														Angels CA
													</p>
											</a></li>
										</ul>
									</div>
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
										<p class="jobs-bottom-p">Lorem ipsum dolor sit amet,
											consectetur adipisicing elit, sed do eiusmod tempor
											incididunt ut labore et dolore magna aliqua. Ut enim ad minim
											veniam, quis nostrud exercitation ullamco laboris nisi ut
											aliquip ex ea commodo consequat.</p>
									</div>
									<div class="row jobs-bottom-button">
										<div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left">
											<span class="glyphicon glyphicon-heart"><i
												class="far fa-heart"></i></span>
										</div>
										<div
											class="col col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
											<a href="#" class="jobs-button">APPLY</a>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>



				<!--  div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
					<a href="#" class="section-1-main-button mar-120">VIEW ALL JOBS</a>
				</div-->
				<!-- Left and right controls --
				<div class="carousel-control-prev">
					<a href="#demo" data-slide="prev"> <span class=""><i
							class="fas fa-chevron-left"></i></span></a>
				</div>
				<div class="carousel-control-next">
					<a href="#demo" data-slide="next"> <span class=""><i
							class="fas fa-chevron-right"></i></span></a>
				</div>

			</div>
		</div>
		</div>
</section>
<!--  section>
	<div class="container">
		<div class="row">
			<h1
				class="col-sm-12 col-md-12 col-lg-12 col-xl-12 section_1_heading text-center">Our
				Leading Industry Partners</h1>
			<p
				class="col-sm-12 col-md-12 col-lg-12 col-xl-12  section_1_heading_content text-center">We
				are partner with leading business industries</p>
			<div class="row mar-50 Our_Leading text-center">
				<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
					<a href="#"> <img src="../../content/images/placeholder.png"></a>
				</div>
				<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
					<a href="#"> <img src="../../content/images/placeholder.png"></a>
				</div>
				<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
					<a href="#"> <img src="../../content/images/placeholder.png"></a>
				</div>
				<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
					<a href="#"> <img src="../../content/images/placeholder.png"></a>
				</div>
				<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
					<a href="#"> <img src="../../content/images/placeholder.png"></a>
				</div>
			</div>
		</div>
	</div>
</section--
<section class="gray-bg">
	<div class="container">
		<div class="row  pad-0">
			<h1
				class="col-sm-12 col-md-12 col-lg-12 col-xl-12  section_1_heading text-center">Here’s
				What Your Friends Say About Us</h1>
			<p
				class="col-sm-12 col-md-12 col-lg-12 col-xl-12  section_1_heading_content text-center">Listen
				from the persons like you from our large user base</p>
			<div
				class="col-sm-12 col-md-12 col-lg-12 col-xl-12  pad-0 custom-margin">
				<div id="demo1" class="carousel slide" data-ride="carousel">
					<!-- Wrapper for slides --
					<div class="carousel-inner">
						<div class="carousel-item  active">
							<div class="row">
								<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-2">
									<div class="testominial-bg">
										<div class="testominial-first-row"></div>
										<div class="row col-md-12 testominial-second-row">
											<div class="col-sm-3 col-md-6 col-lg-3 col-xl-3 ">
												<img src="../../content/images/testimonial-1.png">
											</div>
											<div class="col-sm-8 col-md-6 col-lg-8 col-xl-8  mar-20">
												<h1 class="testominial-heading">Anna</h1>
												<p class="testominial-heading-content">Lovely University</p>
											</div>
										</div>
										<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
											<p class="testominial-heading-para">Lorem ipsum dolor sit
												amet, consectetur adipisicing elit, sed do eiusmod tempor
												incididunt ut labore et dolore magna aliqua. Ut enim ad
												minim veniam, quis nostrud exercitation ullamco laboris nisi
												ut aliquip ex ea commodo consequat.</p>
										</div>
									</div>
								</div>
								<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-2">
									<div class="testominial_2-bg">
										<div class="testominial_2-first-row"></div>
										<div
											class="row col-sm-12 col-md-12 col-lg-12 col-xl-12  testominial-second-row">
											<div class="col-sm-3 col-md-6 col-lg-3 col-xl-3 ">
												<img src="../../content/images/testimonial-2.png">
											</div>
											<div class="col-sm-8 col-md-6 col-lg-8 col-xl-8  mar-20">
												<h1 class="testominial_2-heading">Steve</h1>
												<p class="testominial_2-heading-content">Oxford
													University</p>
											</div>
										</div>
										<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
											<p class="testominial_2-heading-para">Lorem ipsum dolor
												sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua. Ut enim
												ad minim veniam, quis nostrud exercitation ullamco laboris
												nisi ut aliquip ex ea commodo consequat.</p>
										</div>
									</div>
								</div>
								<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-2">
									<div class="testominial_2-bg">
										<div class="testominial_2-first-row"></div>
										<div
											class="row col-sm-12 col-md-12 col-lg-12 col-xl-12  testominial-second-row">
											<div class="col-sm-3 col-md-6 col-lg-3 col-xl-3">
												<img src="../../content/images/testimonial-3.png">
											</div>
											<div class="col-sm-8 col-md-6 col-lg-8 col-xl-8  mar-20">
												<h1 class="testominial_2-heading">Rebecca</h1>
												<p class="testominial_2-heading-content">Work as Graphic
													Designer</p>
											</div>
										</div>
										<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
											<p class="testominial_2-heading-para">Lorem ipsum dolor
												sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua. Ut enim
												ad minim veniam, quis nostrud exercitation ullamco laboris
												nisi ut aliquip ex ea commodo consequat.</p>
										</div>
									</div>
								</div>
							</div>

						</div>
						<div class="carousel-item">
							<div class="row">
								<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-2">
									<div class="testominial-bg">
										<div class="testominial-first-row"></div>
										<div class="row col-md-12 testominial-second-row">
											<div class="col-sm-3 col-md-6 col-lg-3 col-xl-3 ">
												<img src="../../content/images/testimonial-1.png">
											</div>
											<div class="col-sm-8 col-md-6 col-lg-8 col-xl-8  mar-20">
												<h1 class="testominial-heading">Anna</h1>
												<p class="testominial-heading-content">Lovely University</p>
											</div>
										</div>
										<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
											<p class="testominial-heading-para">Lorem ipsum dolor sit
												amet, consectetur adipisicing elit, sed do eiusmod tempor
												incididunt ut labore et dolore magna aliqua. Ut enim ad
												minim veniam, quis nostrud exercitation ullamco laboris nisi
												ut aliquip ex ea commodo consequat.</p>
										</div>
									</div>
								</div>
								<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-2">
									<div class="testominial_2-bg">
										<div class="testominial_2-first-row"></div>
										<div
											class="row col-sm-12 col-md-12 col-lg-12 col-xl-12  testominial-second-row">
											<div class="col-sm-3 col-md-6 col-lg-3 col-xl-3 ">
												<img src="../../content/images/testimonial-2.png">
											</div>
											<div class="col-sm-8 col-md-6 col-lg-8 col-xl-8  mar-20">
												<h1 class="testominial_2-heading">Steve</h1>
												<p class="testominial_2-heading-content">Oxford
													University</p>
											</div>
										</div>
										<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
											<p class="testominial_2-heading-para">Lorem ipsum dolor
												sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua. Ut enim
												ad minim veniam, quis nostrud exercitation ullamco laboris
												nisi ut aliquip ex ea commodo consequat.</p>
										</div>
									</div>
								</div>
								<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-2">
									<div class="testominial_2-bg">
										<div class="testominial_2-first-row"></div>
										<div
											class="row col-sm-12 col-md-12 col-lg-12 col-xl-12  testominial-second-row">
											<div class="col-sm-3 col-md-6 col-lg-3 col-xl-3">
												<img src="../../content/images/testimonial-3.png">
											</div>
											<div class="col-sm-8 col-md-6 col-lg-8 col-xl-8  mar-20">
												<h1 class="testominial_2-heading">Rebecca</h1>
												<p class="testominial_2-heading-content">Work as Graphic
													Designer</p>
											</div>
										</div>
										<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
											<p class="testominial_2-heading-para">Lorem ipsum dolor
												sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua. Ut enim
												ad minim veniam, quis nostrud exercitation ullamco laboris
												nisi ut aliquip ex ea commodo consequat.</p>
										</div>
									</div>

								</div>
							</div>
						</div>



					</div>
					<!-- Left and right controls --
					<div class="carousel-control-prev">
						<a href="#demo1" data-slide="prev"> <span class=""><i
								class="fas fa-chevron-left"></i></span></a>
					</div>
					<div class="carousel-control-next">
						<a href="#demo1" data-slide="next"> <span class=""><i
								class="fas fa-chevron-right"></i></span></a>
					</div>


				</div>

			</div>
		</div>


	</div>

	<!--  div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
		<a href="#" class="section-1-main-button mar-120">VIEW ALL JOBS</a>
	</div--
</section>-->