@import 'fonts.css';
/*=======================================================================
ADDED BY ABHINAV TO FIX FOOTER - FOOTER COMMENTED ABOVE FROM JHIPSTER
=========================================================================*/
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #ffffff;
    margin: 0;
    font-family: LatoLatinWeb, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.shadow {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

/*********** BUTTON STYLES **************/

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(14, 160, 255, 0.5);
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #0ea0ff;
    border-color: #0ea0ff;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(14, 160, 255, 0.5);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #0ea0ff;
    border-color: #0ea0ff;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(14, 160, 255, 0.25);
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

a:hover {
    color: #0075c1;
    text-decoration: underline;
}

.btn-group-sm > .btn,
.btn-sm {
    padding: 0.25rem 0.8rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 2em;
}

.btn-outline-primary {
    color: #0ea0ff;
    border-color: #0ea0ff;
}

/************ table **************/

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #858796;
}

table {
    border-collapse: collapse;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e3e6f0;
}

.table td,
.table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #e3e6f0;
}

th {
    text-align: inherit;
}

.table td,
.table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #e3e6f0;
}

/************************ job related **************************/
@media (min-width: 576px) {
    .portfolio-navbar.fixed-top + .page {
        padding-top: 5.5rem;
    }
}

.portfolio-navbar.fixed-top + .page {
    padding-top: 62px;
}

.portfolio-block {
    padding-bottom: 60px;
    padding-top: 60px;
}

.portfolio-block .heading {
    margin-bottom: 50px;
    text-align: center;
}

/***************** Candidate List ***************************/
.portfolio-block.projects-cards .card {
    margin-bottom: 30px;
}

.border-0 {
    border: 0 !important;
}

.portfolio-block.projects-cards a:hover {
    text-decoration: none;
}

.portfolio-block.projects-cards a {
    color: #212529;
}

a:hover {
    color: #0075c1;
    text-decoration: underline;
}

a {
    color: #0ea0ff;
    text-decoration: none;
    background-color: transparent;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

img,
svg {
    vertical-align: middle;
}

img {
    border-style: none;
}

.portfolio-block.projects-cards .card-body {
    text-align: center;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.portfolio-block.projects-cards h6 {
    font-size: 1.1rem;
    font-weight: 700;
}

.h6,
h6 {
    font-size: 1rem;
}

.portfolio-block.projects-cards .card-body p {
    font-size: 0.9em;
}

.card-subtitle,
.card-text:last-child {
    margin-bottom: 0;
}

.text-muted {
    color: #6c757d !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/*This break table responsive on bootstrap - WAS USING FOR ACTION DROP DOWN ON JOB PAGE TO NOT HIDE THE OPTIONS*/
/*.table-responsive{
overflow-y:visible;
overflow-x:visible;
}*/

/*added to fix drop-down to come ahead of bootstrap 4 modal for anugulr materila*/

/*.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
*/
/* This is for registration for both talent and employer */
.clean-block.dark {
    background-color: #f6f6f6;
}

@media (min-width: 576px) {
    .clean-block {
        padding-bottom: 100px;
    }
}

.clean-block {
    padding-bottom: 600px;
    padding-top: 50px;
}

@media (min-width: 576px) {
    .clean-block .block-heading {
        padding-top: 80px;
    }
}

.clean-block .block-heading {
    padding-top: 200px;
    margin-bottom: 40px;
    text-align: center;
}

.clean-block.clean-form form {
    border-top: 2px solid #5ea4f3;
    background-color: #fff;
    max-width: 500px;
    margin: auto;
    padding: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.075);
}

.pagination {
    @extend .d-flex, .flex-wrap, .justify-content-center;
}

/*IMAGE MGMT CSS */

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn-wrapper input[type='file'] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

/* FOR HOVER */

.hovereffect {
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.hovereffect img {
    position: relative;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.hovereffect a.info {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin: 50px 0 0;
    padding: 7px 14px;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

.hovereffect:hover h2,
.hovereffect:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.logo .logo-img-white {
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    margin-left: 40px;
}

.logo-img {
    height: 100%;
    background: url('../images/logo_blue.png') no-repeat center center;
    background-size: contain;
    width: 100%;
}

.education-img {
    background-image: url('../images/education.jpg');
}

.employment-img {
    background-image: url('../images/employment.jpg');
}

.certification-img {
    background-image: url('../images/certification.jpg');
}

.skill-img {
    background-image: url('../images/skill.jpg');
}

.nonAcademic-img {
    background-image: url('../images/non-academic.jpg');
}

.languages-img {
    background-image: url('../images/languages.jpg');
}

.logo-img-white {
    height: 100%;
    background: url('../images/logo-white.png') no-repeat center center;
    background-size: contain;
    width: 100%;
}

.img-jobs {
    background: url('../images/jobs.jpg');
}

.img-corporate {
    background: url('../images/corporate.jpg');
}

.action-edit {
    color: #1cc88a;
}

.action-delete {
    color: #e74a3b;
}

.img-talent {
    background: url('../images/talent.jpg');
}

ng2-dropdown-menu {
    z-index: 9999 !important;
}

ng2-dropdown-menu .ng2-dropdown-menu {
    z-index: 9999 !important;
}

ng2-dropdown-menu .ng2-dropdown-menu ng2-menu-item {
    z-index: 9999 !important;
}

.classic-title {
    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
    font-weight: 300;
}

.profile-text-info {
    color: #3097d1;
}

.btn-danger {
    background-color: #e74a3b;
    color: white;
}

.btn-warning {
    background-color: #f6c23e;
    color: white;
}

.btn-success {
    background-color: #1cc88a;
    color: white;
}

.badge-success {
    color: #fff;
    background-color: #1cc88a;
}

.btn-info {
    background-color: #36b9cc;
    color: white;
}

.bg-success {
    background-color: #1cc88a !important;
}

.modal-body {
    background-color: #ffffff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #ffff;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}

.modal-header-decorate {
    background: linear-gradient(120deg, #7f70f5, #0ea0ff);
    color: white;
}

.modal-footer-decorate {
    background-color: rgb(243, 241, 241);
}

.form-text-primary {
    color: #4e73df !important;
}

/* ==============================================================
Bootstrap tweaks
===============================================================*/
body,
h1,
h2,
h3,
h4 {
    font-weight: 400;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
    /* border-left: 5px solid green;*/
}

.ng-invalid:not(form) {
    /*border-left: 5px solid red;*/
}

hr.split {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.underline-headers span {
    padding-bottom: 8px;
    border-bottom: 1px solid;
    font-weight: 400;
    border-bottom-color: #3097d1;
}

/* other generic styles */
.jh-card {
    padding: 1.5%;
    margin-top: 20px;
    border: none;
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.table-header-bg {
    background-color: #1976d2;
}

.page-item.active .page-link {
    background-color: #1976d2;
}
/*FIXME this is to support grids in table class; */
table td[class*='col-'],
table th[class*='col-'] {
    position: static;
    display: table-cell;
    float: none;
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

hr.seperator {
    border-top: 1px solid #8c8b8b;
}

hr.blue {
    border-top: 1px solid #0000ff;
}

ul.square {
    list-style-type: square;
}

/*========================================================
picture overlay to edit
==========================================================*/
.glyphicon {
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: 40px;
    color: white;
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
    cursor: pointer;
}

.hand {
    cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert {
    text-overflow: ellipsis;
}

.alert pre {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
    text-align: center;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

.alert-info {
    background-color: #c2eaef;
    color: #154a51;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/*CENTER CONTENT for FORMS like login, register, password reset etc */
.app-login-form {
    max-width: 580px;
    margin-top: -60px;
}

/* ==========================================================================
entity tables helpers
========================================================================== */

/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
    width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > dt {
        margin-bottom: 15px;
    }
    .row.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
    outline: none;
}

/* ==========================================================================
Social Buttons
========================================================================== */
.jh-btn-social {
    margin-bottom: 5px;
}

.jh-btn-google {
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-google:hover,
.jh-btn-google:focus,
.jh-btn-google:active,
.jh-btn-google.active,
.open > .dropdown-toggle.jh-btn-google {
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-facebook {
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-facebook:hover,
.jh-btn-facebook:focus,
.jh-btn-facebook:active,
.jh-btn-facebook.active,
.open > .dropdown-toggle.jh-btn-facebook {
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-twitter {
    background-color: #55acee;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-twitter:hover,
.jh-btn-twitter:focus,
.jh-btn-twitter:active,
.jh-btn-twitter.active,
.open > .dropdown-toggle.jh-btn-twitter {
    background-color: #2795e9;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

/* jhipster-needle-css-add-main JHipster will add new css style */

/* From designer for candidate profile ( education,employemnt, certs, etra curricular,projects htmls*/
.education_title {
    font-size: 18px;
    background: #f5f5f5;
    padding: -6px;
    color: #000;
    display: block;
}
.education_title_2 {
    font-size: 16px;
    background: #f5f5f5;
    padding: 14px;
    color: #000;
    display: block;
}
.education_body {
    font-size: 14px;
    background: #f5f5f5;
    padding: 14px;
    color: #000;
    display: block;
}

.card-body input {
    border: 1px solid #dfdfdf;
    padding: 4px 10px;
    border-radius: 4px;
}

.edit_profile {
    background: #1276ae;
    border: 0;
    color: #fff !important;
    padding: 10px 40px 10px 20px;
    cursor: pointer;
    margin: 8px;
    position: relative;
}

.save_profile {
    display: none;
}

.mt-6,
.my-6 {
    margin-top: 6rem !important;
}

span.project_buttons {
    float: right;
}

/* STYLING FOR CANDIDATE PROFILE CATEGORIES (EMPLOYMENT, EDUCATION CERTIFICATION, NON ACAD, PROJECT,LANGUAGES ETC.*/
@media (min-width: 768px) {
    .portfolio-block {
        padding-bottom: 100px;
        padding-top: 100px;
    }
}

.portfolio-block {
    padding-bottom: 60px;
    padding-top: 60px;
}

@media (min-width: 768px) {
    .portfolio-block .heading {
        margin-bottom: 80px;
    }
}

.portfolio-block .heading {
    margin-bottom: 50px;
    text-align: center;
}

.portfolio-block.project .image {
    height: 450px;
    margin-bottom: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

@media (min-width: 768px) {
    .portfolio-block.project .meta {
        padding-left: 45px;
    }
}

.portfolio-block.project .meta {
    padding-left: 15px;
}

.portfolio-block.project .meta .tags {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #979797;
}

.portfolio-block.project .meta .tags .meta-heading {
    color: #22245b;
    margin-bottom: 5px;
    font-weight: 700;
}

.portfolio-block.project .meta .tags {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #979797;
}

.portfolio-block.project .more-projects {
    margin-top: 50px;
    border-top: 1px solid #ddd;
    padding-top: 60px;
}

.portfolio-block.project .gallery {
    margin-top: 30px;
}

.project-card-no-image .tags a {
    color: #979797;
}

.project-card-no-image {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.075);
    padding: 35px;
    border-top: 4px solid #0ea0ff;
    margin-bottom: 30px;
    margin-right: 10px;
}

.project-card-no-image .tags {
    text-transform: uppercase;
    float: right;
    font-size: 0.75rem;
    margin-top: 7px;
}

.bootstrap .tag {
    background-color: #007bff;
}
