<div class="container-fill-height">
	<div class="container-content-middle">

		<form role="form" class="mx-auto text-center app-login-form"
			novalidate (ngSubmit)="register()"
			[formGroup]="corporateRegisterForm">


			<img class="app-brand mb-5" src="../../../content/images/brand.png"
				alt="brand">
			<div style="color: #3097D1" *ngIf="success"
				jhiTranslate="register.messages.success">
				<strong>Thanks for interest in Gradzcircle!</strong> Please check
				your email and click the verification link to complete registration.
			</div>

			<div class="text-danger" *ngIf="error"
				jhiTranslate="register.messages.error.fail">
				<strong>Registration failed!</strong> Please try again later.
			</div>

			<div class="text-danger" *ngIf="errorUserExists"
				jhiTranslate="register.messages.error.userexists">
				<strong>Login name already registered!</strong> <br> Please
				choose another one.
			</div>

			<div class="text-danger" *ngIf="errorEmailExists"
				jhiTranslate="register.messages.error.emailexists">
				<strong>Email is already in use!</strong> Please choose another one.
			</div>

			<fieldset>
				<div class="form-group"
					[ngClass]="{'has-danger':  (corporateRegisterForm.get('firstName').touched || 
                                                                  corporateRegisterForm.get('firstName').dirty) &&
                                                                  !corporateRegisterForm.get('firstName').valid }">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text icon icon-user" id="basic-addon1"></span>
						</div>
						<input class="form-control" placeholder="First Name..."
							formControlName="firstName" id="firstname"
							aria-describedby="basic-addon1">
					</div>

					<div>
						<span class="form-text text-left"
							*ngIf="(corporateRegisterForm.get('firstName').touched || 
                                                            corporateRegisterForm.get('firstName').dirty) && 
                                                            corporateRegisterForm.get('firstName').errors">
							<div class="text-danger"
								*ngIf="corporateRegisterForm.get('firstName').errors.required">
								Please enter your user name.</div>
							<div class="text-danger"
								*ngIf="corporateRegisterForm.get('firstName').errors.minlength">
								The first name must be longer than 6 characters.</div>
						</span>
					</div>
				</div>

				<div class="form-group"
					[ngClass]="{'has-danger':  (corporateRegisterForm.get('lastName').touched || 
                                                                  corporateRegisterForm.get('lastName').dirty) &&
                                                                  !corporateRegisterForm.get('lastName').valid }">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text icon icon-user" id="basic-addon2"></span>
						</div>
						<input class="form-control" placeholder="Last Name..."
							formControlName="lastName" aria-describedby="basic-addon2">
					</div>

					<div>
						<span class="form-text text-left"
							*ngIf="(corporateRegisterForm.get('lastName').touched || 
                                                            corporateRegisterForm.get('lastName').dirty) && 
                                                            corporateRegisterForm.get('lastName').errors">
							<div class="text-danger"
								*ngIf="corporateRegisterForm.get('lastName').errors.required">
								Please enter your user name.</div>
							<div class="text-danger"
								*ngIf="corporateRegisterForm.get('lastName').errors.minlength">
								The first name must be longer than 6 characters.</div>
						</span>
					</div>
				</div>

				<div class="form-group"
					[ngClass]="{'is-invalid':  (corporateRegisterForm.get('companyName').touched || 
                                                                  corporateRegisterForm.get('companyName').dirty) &&
                                                                  !corporateRegisterForm.get('companyName').valid }">

					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text icon icon-suitcase"
								id="basic-addon3"></span> 
						</div>		
							<input class="form-control"
								placeholder="Company Name" formControlName="companyName"
								aria-describedby="basic-addon3">
					</div>


					<div>
						<span class="form-text text-left"
							*ngIf="(corporateRegisterForm.get('companyName').touched || 
                                                            corporateRegisterForm.get('companyName').dirty) && 
                                                            corporateRegisterForm.get('companyName').errors">
							<div class="text-danger"
								*ngIf="corporateRegisterForm.get('companyName').errors.required">
								Please enter your user name.</div>
							<div class="text-danger"
								*ngIf="corporateRegisterForm.get('companyName').errors.minlength">
								The first name must be longer than 6 characters.</div>
						</span>
					</div>
				</div>


				<div class="form-group"
					[ngClass]="{'is-invalid': (corporateRegisterForm.get('email').touched || 
                                                                  corporateRegisterForm.get('email').dirty) &&
                                                                  !corporateRegisterForm.get('email').valid }">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text icon icon-mail" id="basic-addon4"></span>
						</div>
						<input class="form-control" placeholder="Your email address"
							formControlName="email" aria-describedby="basic-addon4">
					</div>

					<div>
						<span class="form-text text-left"
							*ngIf="(corporateRegisterForm.get('email').touched || 
                                                            corporateRegisterForm.get('email').dirty) && 
                                                            corporateRegisterForm.get('email').errors">
							<div class="text-danger"
								*ngIf="corporateRegisterForm.get('email').errors.required">
								Please enter your email address.</div>
							<div class="text-danger"
								*ngIf="corporateRegisterForm.get('email').errors.pattern">
								Please enter a valid email address</div>
						</span>
					</div>
				</div>

				<div class="form-group"
					[ngClass]="{'is-invalid': (corporateRegisterForm.get('country').touched || 
                                                                  corporateRegisterForm.get('country').dirty) &&
                                                                  !corporateRegisterForm.get('country').valid }">

					<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text icon icon-location"></span>
					</div> 
						<select
							class="form-control" title="Your Country"
							formControlName="country">
							<!--option [selected]="corporateRegisterForm.get('country').value==null" value="">**** Select **** </option-->
						  	<option *ngFor="let country of countries"
								[selected]="country.countryNiceName==country"
								[value]="country.countryNiceName">
								{{country.countryNiceName}}</option>
						</select>
					</div>

					<div>
						<span class="form-text text-left"
							*ngIf="(corporateRegisterForm.get('country').touched || 
                                                            corporateRegisterForm.get('country').dirty) && 
                                                            corporateRegisterForm.get('country').errors">
							<div class="text-danger"
								*ngIf="corporateRegisterForm.get('country').errors.required">
								Please select your country...</div>
						</span>
					</div>
				</div>

				<div class="form-group"
					[ngClass]="{'has-danger': (corporateRegisterForm.get('phoneNumber').touched || 
                                                                  corporateRegisterForm.get('phoneNumber').dirty) &&
                                                                  !corporateRegisterForm.get('phoneNumber').valid }">

					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text icon icon-phone" id="basic-addon5"></span>
						</div>

						<input class="form-control" placeholder="Phone Number"
							formControlName="phoneNumber" aria-describedby="basic-addon5">
					</div>

					<div>
						<span class="form-text text-left"
							*ngIf="(corporateRegisterForm.get('phoneNumber').touched || 
                                                            corporateRegisterForm.get('phoneNumber').dirty) && 
                                                            corporateRegisterForm.get('phoneNumber').errors">
							<div class="text-danger"
								*ngIf="corporateRegisterForm.get('phoneNumber').errors.required">
								Please enter your Phone Number</div>
							<div class="text-danger"
								*ngIf="corporateRegisterForm.get('phoneNumber').errors.pattern">
								Please enter a valid phone umber</div>
						</span>
					</div>
				</div>

				<div formGroupName="passwordGroup"
					[ngClass]="{'has-danger': corporateRegisterForm.get('passwordGroup').errors}">

					<div class="form-group mb-3"
						[ngClass]="{'has-danger': (corporateRegisterForm.get('passwordGroup.password').touched || 
                                                                            corporateRegisterForm.get('passwordGroup.password').dirty) &&  
                                                                            !corporateRegisterForm.get('passwordGroup.password').valid}">

						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text icon icon-key" id="basic-addon6"></span>
							</div>
							<input type="password" class="form-control"
								placeholder="Create a password" formControlName="password"
								aria-describedby="basic-addon6">
						</div>

						<div>
							<span class="form-text text-left"
								*ngIf="(corporateRegisterForm.get('passwordGroup.password').touched || 
                                                                        corporateRegisterForm.get('passwordGroup.password').dirty) && 
                                                                        (corporateRegisterForm.get('passwordGroup.password').errors)">

								<div class="text-danger"
									*ngIf="corporateRegisterForm.get('passwordGroup.password').errors.required">
									Please confirm your password.</div>
								<div class="text-danger"
									*ngIf="corporateRegisterForm.get('passwordGroup.password').errors.minlength">
									Passwords should be atleast 8 characters.</div>
							</span>
						</div>
					</div>
					<div class="form-group mb-3"
						[ngClass]="{'has-danger': (corporateRegisterForm.get('passwordGroup.confirmPassword').touched || 
                                                                            corporateRegisterForm.get('passwordGroup.confirmPassword').dirty) && 
                                                                            !corporateRegisterForm.get('passwordGroup.confirmPassword').valid }">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text icon icon-key" id="basic-addon7"></span>
							</div>
							<input type="password" class="form-control"
								placeholder="Confirm your password"
								formControlName="confirmPassword"
								aria-describedby="basic-addon7">
						</div>

						<div>
							<span class="form-text text-left"
								*ngIf="(corporateRegisterForm.get('passwordGroup.confirmPassword').touched || 
                                                                            corporateRegisterForm.get('passwordGroup.confirmPassword').dirty) && 
                                                                        (corporateRegisterForm.get('passwordGroup.confirmPassword').errors ||
                                                                        corporateRegisterForm.get('passwordGroup').errors)">

								<div class="text-danger"
									*ngIf="corporateRegisterForm.get('passwordGroup.confirmPassword').errors?.required">
									Please confirm your password.</div>
								<div class="text-danger"
									*ngIf="corporateRegisterForm.get('passwordGroup.confirmPassword').errors?.minlength">
									Passwords should be atleast 8 characters.</div>
								<div class="text-danger"
									*ngIf="corporateRegisterForm.get('passwordGroup').errors?.match">
									Passwords do not match.</div>
							</span>
						</div>
					</div>

				</div>

				<div class="mb-5">
					<button class="btn btn-primary" type="submit"
						[disabled]="!corporateRegisterForm.valid">Sign up</button>
				</div>

				<footer class="screen-login">
					<br />

				</footer>
			</fieldset>
		</form>
	</div>

</div>

<!--
<br>Dirty: {{ corporateRegisterForm.dirty }} 
<br>Touched: {{ corporateRegisterForm.touched }}
<br>Valid: {{ corporateRegisterForm.valid }}
<br>Value: {{ corporateRegisterForm.value | json }}
<br> Countires : {{countries|json}}-->