<main class="page login-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading logo-img"></div>
            <div class="text-center"> <h2 class="text-info">Looking For Talent? Check Us Out</h2></div>
            	<div class="text-success text-center" *ngIf="success"
				jhiTranslate="register.messages.success">
				<strong>Thanks for interest in Gradzcircle!</strong> Please check
				your email and click the verification link to complete registration.
			</div>

			<div class="text-danger text-center" *ngIf="error"
				jhiTranslate="register.messages.error.fail">
				<strong>Registration failed!</strong> Please try again later.
			</div>

			<div class="text-danger text-center" *ngIf="errorUserExists"
				jhiTranslate="register.messages.error.emailexists">
				<strong>Email is already in use!</strong> Please choose another one.
			</div>
            <form role="form" novalidate (ngSubmit)="register()" [formGroup]="corporateRegisterForm">
                <div class="form-group">
                		<label for="companyName">Employer Name</label>
              		<input class="form-control" formControlName="companyName" aria-describedby="companyName"
              		[ngClass]="{
        							'is-invalid': !corporateRegisterForm.get('companyName').valid && (corporateRegisterForm.get('companyName').dirty || corporateRegisterForm.get('companyName').touched)				
      						}"/>
      				<div class="invalid-feedback" *ngIf="corporateRegisterForm.get('companyName').errors && (corporateRegisterForm.get('companyName').dirty || corporateRegisterForm.get('companyName').touched)">
			        		<p *ngIf="corporateRegisterForm.get('companyName').errors.required">Company Name is required and must be at least 5 characters</p>
			        		<p *ngIf="corporateRegisterForm.get('companyName').errors.minlength">Company Name must be at least 5 characters</p>
			     	</div>
                	</div>
                	 <div class="form-group">
                		<label for="email">Email</label>
              		<input class="form-control" formControlName="email" aria-describedby="email"
              		[ngClass]="{
        							'is-invalid': !corporateRegisterForm.get('email').valid && (corporateRegisterForm.get('email').dirty || corporateRegisterForm.get('email').touched)				
      						}"/>
      				<div class="invalid-feedback" *ngIf="corporateRegisterForm.get('email').errors && (corporateRegisterForm.get('email').dirty || corporateRegisterForm.get('email').touched)">
			        		<p *ngIf="corporateRegisterForm.get('email').errors.pattern">Please enter a valid email address</p>
			     	</div>
                	</div>
                	<div class="form-group">
                		<label for="country">Country</label>
	              		<select class="form-control" title="Your Country" formControlName="country" aria-describedby="country">
							  	<option *ngFor="let country of countries"
									[selected]="country.countryNiceName==country"
									[value]="country.countryNiceName">
									{{country.countryNiceName}}</option>
						</select>
                	</div>
                	<div class="form-group">
                		<label for="phoneNumber">Phone Number</label>
              		<input class="form-control" formControlName="phoneNumber" aria-describedby="phoneNumber"
              		[ngClass]="{
        							'is-invalid': !corporateRegisterForm.get('phoneNumber').valid && (corporateRegisterForm.get('phoneNumber').dirty || corporateRegisterForm.get('phoneNumber').touched)				
      						}"/>
      				<div class="invalid-feedback" *ngIf="corporateRegisterForm.get('phoneNumber').errors && (corporateRegisterForm.get('phoneNumber').dirty || corporateRegisterForm.get('phoneNumber').touched)">
			        		<p *ngIf="corporateRegisterForm.get('phoneNumber').errors.minlength">Phone Number must be of 10 characters</p>
			        		<p *ngIf="corporateRegisterForm.get('phoneNumber').errors.maxlength">Phone Number must be of 10 characters</p>
			        		<p *ngIf="corporateRegisterForm.get('phoneNumber').errors.pattern">Please enter a valid phone number</p>
			     	</div>
                	</div>
                <div formGroupName="passwordGroup">
                		<div class="form-group">
	                		<label for="password">Password</label>
	                		<input type="password" class="form-control" id="password" formControlName="password"
	                		[ngClass]="{
        							'is-invalid': !corporateRegisterForm.get('passwordGroup.password').valid && (corporateRegisterForm.get('passwordGroup.password').dirty || corporateRegisterForm.get('passwordGroup.password').touched)				
      							}"/>
	      				<div class="invalid-feedback" *ngIf="corporateRegisterForm.get('passwordGroup.password').errors && (corporateRegisterForm.get('passwordGroup.password').dirty || corporateRegisterForm.get('passwordGroup.password').touched)">
				        		<p *ngIf="corporateRegisterForm.get('passwordGroup.password').errors.minlength">Passwords should be at least 8 characters</p>
				     	</div>
	                	</div>
	                	<div class="form-group">
	                		<label for="repeatPassword">Confirm Password</label>
	                		<input type="password" class="form-control" id="repeatPassword" formControlName="confirmPassword"
	                		[ngClass]="{
        							'is-invalid': !corporateRegisterForm.get('passwordGroup').valid && 
        								(corporateRegisterForm.get('passwordGroup.confirmPassword').dirty || 
        									corporateRegisterForm.get('passwordGroup.confirmPassword').touched)				
      							}"/>
	      				<div class="invalid-feedback" *ngIf="corporateRegisterForm.get('passwordGroup').errors && 
	      												(corporateRegisterForm.get('passwordGroup.confirmPassword').dirty || 
	      														corporateRegisterForm.get('passwordGroup.confirmPassword').touched)">
				        		<p *ngIf="!corporateRegisterForm.get('passwordGroup').errors?.match">Passwords do not match</p>
				     	</div>
				
	                	</div>
                	</div>
                <button class="btn btn-primary btn-block" type="submit"[disabled]="!corporateRegisterForm.valid">Sign up</button>
           </form>
        </div>
    </section>
</main>



