/* misc */
.app-login-form {
	max-width: 280px;
	margin-top: -60px;
}

.app-new-msg {
	margin-right: 10px;
}

.app-brand {
	width: 40%;
	display: inline-block;
}

.app-brand img {
	width: 100%;
}

.container-fill-height {
	margin-top: 150px;
	display: table;
	width: 100%;
	height: 50vh;
}
