
<div *ngIf="jobCategory">
	<h2>
		<span jhiTranslate="gradzcircleApp.jobCategory.detail.title">Job
			Category</span> {{jobCategory.id}}
	</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="row-md jh-entity-details">
		<dt>
			<span jhiTranslate="gradzcircleApp.jobCategory.jobCategory">Job
				Category</span>
		</dt>
		<dd>
			<span>{{jobCategory.jobCategory}}</span>
		</dd>
	</dl>

	<button type="submit" (click)="previousState()" class="btn btn-info">
		<span class="fa fa-arrow-left"></span>&nbsp;<span
			jhiTranslate="entity.action.back"> Back</span>
	</button>

	<button type="button"
		[routerLink]="['/', { outlets: { popup: 'job-category/'+ jobCategory.id + '/edit'} }]"
		replaceUrl="true" class="btn btn-primary">
		<span class="fa fa-pencil"></span>&nbsp;<span
			jhiTranslate="entity.action.edit"> Edit</span>
	</button>
</div>
