<main class="page contact-page">
    <section class="portfolio-block contact">
        <div class="container">
            <div class="heading">
                <h2 jhiTranslate="global.form.passwordReset">Contact me</h2>
            </div>
            
            		<div class="alert alert-danger" role="alert"
					jhiTranslate="reset.request.messages.notfound"
					*ngIf="errorEmailNotExists">
					<strong>Email address isn't registered!</strong> Please check and
					try again.
				</div>
				<div>
					<p class="mb-4 h6  text-center text-muted">We get it, stuff happens. Just enter your email address below and we&#39;ll send you a link to reset your password!</p>
				</div>
				<!--  <div class="alert alert-primary" role="alert" *ngIf="!success">
					<p jhiTranslate="reset.request.messages.info">Enter the email
						address you used to register.</p>
				</div>-->
				<div class="alert alert-success" role="alert" *ngIf="success === 'OK'">
					<p jhiTranslate="reset.request.messages.success">Check your
						<strong>email</strong> for details on how to reset your password.</p>
				</div>
				<form *ngIf="!success" name="form" role="form"
					(ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                <div class="form-group">
						 <input
							type="email" class="form-control" id="email" name="email"
							placeholder="{{'global.form.email.placeholder' | translate}}"
							[(ngModel)]="resetAccount.email" minlength=5 maxlength=100
							#emailInput="ngModel" email required>
						<div *ngIf="emailInput.dirty && emailInput.invalid">
							<small class="form-text text-danger"
								*ngIf="emailInput.errors.required"
								jhiTranslate="global.messages.validate.email.required">
								Your email is required. </small> <small class="form-text text-danger"
								*ngIf="emailInput.errors.email"
								jhiTranslate="global.messages.validate.email.invalid">
								Your email is invalid. </small> <small class="form-text text-danger"
								*ngIf="emailInput.errors.minlength"
								jhiTranslate="global.messages.validate.email.minlength">
								Your email is required to be at least 5 characters. </small> <small
								class="form-text text-danger"
								*ngIf="emailInput.errors.maxlength"
								jhiTranslate="global.messages.validate.email.maxlength">
								Your email cannot be longer than 100 characters. </small>
						</div>
                </div>
                <div class="form-group">
                		<button type="submit" [disabled]="resetRequestForm.form.invalid"
						class="btn btn-primary btn-block btn-lg" jhiTranslate="reset.request.form.button">Reset</button>
                </div>
            </form>
        </div>
    </section>
</main>


